<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top" style="overflow: hidden;">
    <!-- Navigation-->
    <% include navigation.ejs %>

      <!--wrapper-->
      <div id="wrapper" class="content-wrapper" style="overflow: hidden;">

        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <p class="col-sm-7 col-md-5  col-lg-1" style="margin: auto; font-size:14px;font-weight:bold;color:brown">1. TT-TQ</p>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="congty" class="combo" style="width:100%;color:black" />
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="dienluc" class="combo" style="width:100%;color:black">
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="tramnguon" class="combo" style="width:100%;color:black">
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                  <button type="button" class="button" style="width:100%" onclick="clickXembaocao()">Xem</button>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                  <button type="button" class="button" style="width:100%" onclick="clickXuatexcel()">Excel</button>
                  <div id="dvjson"></div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead style="text-align: center">
                    <tr>
                      <th>STT</th>
                      <th id="colwillchangeh"></th>
                      <th>Cột Trung Thế</th>
                      <th>Ảnh Của Cột</th>
                      <th>Cột LK Đường Dây PMIS</th>
                      <th>Cột LK Vị Trí PMIS</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                  </tbody>
                  <tfoot style="text-align: center">
                    <tr>
                      <th id="stt_colwillchangef"></th>
                      <th id="tongcong_colwillchangef" style='text-align:left'></th>
                      <th id="tongsocot_colwillchangef" style='text-align:right'></th>
                      <th id="tongsoanhcot_colwillchangef" style='text-align:right'></th>
                      <th id="tongsokhachhang_colwillchangef" style='text-align:right'></th>
                      <th id="tongsoanhkhachhang_colwillchangef" style='text-align:right'></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
          </div>
        </div>
        <!-- footer-->
        <% include foot.ejs %>
      </div>
      <% include foot_script.ejs %>
        <script src="/js/excelexport.js"></script>
        <script src="/js/baocaotrungthe_tongquan.js"></script>
  </body>

</html>