<!DOCTYPE html>

<html lang="en">
<% include head.ejs %>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top" style="overflow: hidden;">
    <!-- Navigation-->
    <% include navigation.ejs %>

      <!--wrapper-->
      <div id="wrapper" class="content-wrapper" style="overflow: hidden;">

        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <p class="col-sm-7 col-md-5  col-lg-1" style="margin: auto; font-size:14px;font-weight:bold;color:brown">4.1 KH-TT</p>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="congty" class="combo" style="width:100%;color:black" />
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="dienluc" class="combo" style="width:100%;color:black">
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="tram" class="combo" style="width:100%;color:black">
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                  <button type="button" class="button" style="width:100%" onclick="clickXembaocao()">Xem</button>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                  <button type="button" class="button" style="width:100%" onclick="clickXuatexcel()">Excel</button>
                  <div id="dvjson"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-7 col-md-5  col-lg-9"></div>
                <!-- <p style="margin-top:7px; font-size:14px;font-weight:bold;color:brown"class="col-sm-7 col-md-5  col-lg-2">Ngày xem báo cáo</p> -->
                <div style="margin-top:7px" class=" col-sm-7 col-md-5 col-lg-1">
                  <span class="col-50">
                    <label class="container">
                      <input id="isDate" name="cb_date" type="checkbox" onclick="">
                      <span class="checkmark"></span>
                    </label>
                  </span>
                  <span class="col-50" style="padding-left: 5px">
                    <input type="date" id="today" min="2018-10-28" max="2019-09-30" style="border: 1px solid brown;
                        border-radius: 5px;background-color: beige">
                  </span>
                  <div id="dvjson"></div>
                </div>
              </div>
            </div>
            
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead style="text-align: center">
                    <tr>
                      <th>STT</th>
                      <th>Tên Đơn Vị</th>
                      <th>Số Lượng KH
                        <br>(1)</th>
                      <th>Đủ Số Cột
                        <br>(2)</th>
                      <th>Đủ Thông Tin KH
                        <br>(3.1)</th>
                      <th style="font-size: 13px">Đủ Thông Tin Email
                        <br>(3.1A)</th>
                      <th style="font-size: 13px">Đủ Thông Tin SĐT
                        <br>(3.1B)</th>
                      <th>Đủ Thông Tin Đ.Đo
                        <br>(3.2)</th>
                      <th>Đủ Thông Tin Đ.Đếm
                        <br>(3.3)</th>
                      <th>Đủ 3.1, 3.2, 3.3
                        <br>(4)</th>
                      <th>Tỷ lệ 1
                        <br>(4)/(1)</th>
                      <th>Tỷ lệ 2
                        <br>(4)/(2)</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                  </tbody>
                  <tfoot style="text-align: center">
                    <tr>
                      <th id="stt_colwillchangef"></th>
                      <th id="tendonvi_colwillchangef" style='text-align:left'></th>
                      <th id="tongsoluongkhachhangcolienketcotCMIS_colwillchangef" style='text-align:right'></th>
                      <th id="tongsoluongkhachhangcolienketcotTTHT_colwillchangef" style='text-align:right'></th>
                      <th id="tongsoluongthongtinkhachhang_colwillchangef" style='text-align:right'></th>
                      <th id="tongsoluongthongtinemail_colwillchangef" style='text-align:right'></th>
                      <th id="tongsoluongthongtinsodienthoai_colwillchangef" style='text-align:right'></th>
                      <th id="tongsoluongthongtindiemdo_colwillchangef" style='text-align:right'></th>
                      <th id="tongsoluongthongtinhethongdodem_colwillchangef" style='text-align:right'></th>
                      <th id="tongsoluongbathongtintren_colwillchangef" style='text-align:right'></th>
                      <th id="tyleCMIS_colwillchangef" style='text-align:right'></th>
                      <th id="tyleTTHT_colwillchangef" style='text-align:right'></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
          </div>
        </div>
        <!-- footer-->
        <% include foot.ejs %>
      </div>
      <% include foot_script.ejs %>
        <script src="/js/excelexport.js"></script>
        <script src="/js/baocaohathe_khachhang_rasoatthongtin.js"></script>
  </body>

</html>