<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top" style="overflow: hidden;">
    <!-- Navigation-->
    <% include navigation.ejs %>

      <!--wrapper-->
      <div id="wrapper" class="content-wrapper" style="overflow: hidden;">

        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <p class="col-sm-7 col-md-5  col-lg-1" style="margin: auto; font-size:14px;font-weight:bold;color:brown">1. BTHT - TD</p>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="congty" class="combo" style="width:100%;color:black" />
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="dienluc" class="combo" style="width:100%;color:black">
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="tramnguon" class="combo" style="width:100%;color:black">
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                  <button type="button" class="button" style="width:100%" onclick="clickXembaocao()">Xem</button>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                  <button type="button" class="button" style="width:100%" onclick="clickXuatexcel()">Excel</button>
                  <div id="dvjson"></div>
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class=" col-sm-7 col-md-5  col-lg-1">
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="phong_ban" class="combo" style="width:100%;color:black">
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="thang" class="combo" style="width:100%;color:black" />
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead style="text-align: center">
                    <tr>
                      <th>STT</th>
                      <th id="colwillchangeh"></th>
                      <th>Mã XT Chính</th>
                      <th>Tổng KTra</th>
                      <th>Tổng Xử Lý</th>
                      <th>Tháng 1</th>
                      <th>Tháng 2</th>
                      <th>Tháng 3</th>
                      <th>Tháng 4</th>
                      <th>Tháng 5</th>
                      <th>Tháng 6</th>
                      <th>Tháng 7</th>
                      <th>Tháng 8</th>
                      <th>Tháng 9</th>
                      <th>Tháng 10</th>
                      <th>Tháng 11</th>
                      <th>Tháng 12</th>
                      <th>Hình ảnh BTHT</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                  </tbody>
                  <tfoot style="text-align: center">
                    <!-- <tr>
                      <th id="stt_colwillchangef"></th>
                      <th id="madiemdo_colwillchangef" style='text-align:left'></th>
                      <th id="tongkiemtra_colwillchangef" style='text-align:right'></th>
                      <th id="tongxuly_colwillchangef" style='text-align:right'></th>
                      <th id="thangmot_colwillchangef" style='text-align:right'></th>
                      <th id="thanghai_colwillchangef" style='text-align:right'></th>
                      <th id="thangba_colwillchangef" style='text-align:right'></th>
                      <th id="thangbon_colwillchangef" style='text-align:right'></th>
                    </tr> -->
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
          </div>
        </div>
        <!-- footer-->
        <% include foot.ejs %>
      </div>
      <% include foot_script.ejs %>
        <script src="/js/excelexport.js"></script>
        <script src="/js/btht_kiemtratheotuyenday.js"></script>
  </body>

</html>