<footer id="foo" class="sticky-footer" style="display: inline-block;position: absolute;overflow:hidden;">
    <!-- <div class="container">
            <div class="text-center">
                <small>Copyright © CPCITC 2018</small>
            </div>
        </div> -->
        <div style="display: block;width: 100%;max-height:100%;overflow:hidden">
            <div style="display: block;width: 100%;max-height:100%;overflow:hidden">
                <marquee id="marq" scrollamount="7" direction="left" loop="50" scrolldelay="0" onmouseover="this.stop()" onmouseout="this.start()">
                    <a target="_blank" rel="noopener noreferrer" href="https://cpc.vn/vi-vn/">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUpT7G5PLgjJ4bv1_fACoziwrm536625-zNQqQBmB21qLz7DCyHw" title="Tong Cong Ty" width="200" height="57"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://itc.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/05add419-3ab5-4fc8-94a0-c182ec6984a8.png" title="CPCIT" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcquangbinh.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/7680c23d-4c7f-42ce-9787-07d811ef2c2e.png" title="Quảng Bình" width="200"
                            height="60%" /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcquangtri.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/c47f565d-841e-41f3-a7e5-3b5019f80d00.png" title="Quảng Trị" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcthuathienhue.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/498036d4-c728-49bf-b0d4-9f91877a22e7.png" title="Huế" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcdanang.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/1dabae97-18c4-4527-bb8f-e23c4924ceae.png" title="Đà Nẵng" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcquangnam.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/de663893-065b-48dc-b0ce-cfc4f3ccdc41.png" title="Quảng Nam" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcquangngai.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/f0405dbd-dbac-4df0-919b-59db7888d472.png" title="Quảng Ngãi" width="200"
                            height="60%" /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcbinhdinh.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/d4e198a4-66e8-4a99-bcd5-d073bcb9c17e.png" title="Bình Định" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcphuyen.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/0d6f31ae-13f5-48ce-a296-ff91495f8c99.png" title="Phú Yên" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pckhanhhoa.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/d371f8d3-fc30-476e-8fe6-554988865b4d.png" title="Khánh Hòa" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pckontum.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/1196d6c9-37fa-47fb-918c-92e4361950c3.png" title="Kom Tum" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcgialai.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/4440657b-2e77-499d-be5b-6b0bb275cba1.png" title="Gia Lai" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcdaklak.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/6046d23a-3ed2-40ee-af21-e121be138d57.png" title="Đăk Lăk" width="200" height="60%"
                        /> </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://pcdaknong.cpc.vn/">
                        <img src="https://cpc.vn/portals/0/bannerupload/8c86e1cc-f0fa-4a23-811e-ad2eb4e83c8a.png" title="Đăk Nông" width="200" height="60%"
                        /> </a>
                </marquee>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
