<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <%= title%>
    </title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- icon title -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <!---->
    <link href="/css/toandtb.css" rel="stylesheet" />
    <link href="/css/toandtb_ulli.css" rel="stylesheet" />
    <link href="/css/toandtb_gallery.css" rel="stylesheet" />
    <link href="/css/toandtb_dialog.css" rel="stylesheet" />
    <link href="/css/w3s.css" rel="stylesheet" />
    <link href="/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div id="loading">
    <img id="loading-image" src="images/loadingmap.gif" alt="Đang tải dữ liệu..." />
</div>
