<title><%= title%></title>
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
<link href="/css/select2.min.css" rel="stylesheet" />
<link href="/css/toandtb.css" rel="stylesheet"/>
<link href="/css/toandtb_ulli.css" rel="stylesheet"/>
<link href="/css/toandtb_gallery.css" rel="stylesheet"/>
<link href="/css/toandtb_dialog.css" rel="stylesheet"/>
<link href="/css/w3s.css" rel="stylesheet"/>
<link href="/css/hung_image.css" rel="stylesheet"/>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
<div class="header">
    <div class="row" style="height:50px"> 
        <div class=" col-sm-7 col-md-5  col-lg-1" style="margin: auto;text-align: center; font-weight:bold; font-size:14px">
            <p id="tieude" style="margin: auto;font-weight:bold; color:brown">Hạ Thế</p>
        </div>
    
        <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:13px">
            <select id="congty" class="combo" style="width:100%;color:black"/>
            </select>
        </div>
        <div class=" col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-weight:bold; font-size:13px">
            <select id="dienluc" class="combo" style="width:100%;color:black">  
            </select>
        </div>
        <div class=" col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-weight:bold; font-size:13px">
            <select id="tramtrunggian" class="combo" style="width:100%;color:black">
            </select>
        </div>
        <div class=" col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-weight:bold; font-size:13px">
            <select id="xuattuyen" class="combo" style="width:100%;color:black">
            </select>
        </div>
        <div class=" col-sm-7 col-md-5  col-lg-2" style="margin: auto">
            <div class="row">
                <div class=" col-sm-12 col-md-12  col-lg-4" style="margin: auto; font-weight:bold; font-size:13px">
                    <button type="button" class="button" onclick="clickXembaocao()">Xem</button>
                </div>
                <div class=" col-sm-12 col-md-12  col-lg-8" style="margin: auto; font-weight:bold; font-size:13px">
                    <div class="dropdown" style="float: right">
                            <button  onclick="myFunction()" class="dropbtn"><i class="fa fa-bars"  style="font-size:20px;color:black"></i></button>
                              <div id="myDropdown" class="dropdown-content">
                                <input style="margin-left: 16px;margin-right:6px;margin-top:16px;margin-bottom:16px;" id="isBientap" type='checkbox' name="cb_bientap"><label id="bientap">Biên tập</label>
                                <input style="margin-left: 16px;margin-right:6px;margin-top:16px;margin-bottom:16px;" id="isSocot" type='checkbox' name="cb_hiensocot"><label id="socot">Số cột</label>
                                <a><div class="ic-xanhdamvienden"><p style="padding-left: 21px">Trạm&nbsp;nguồn</p></div></a>
                                <a><div class="ic-timvienden"><p style="padding-left: 21px">Trạm&nbsp;công&nbsp;cộng</p></div></a>
                                <a><div class="ic-hongvienden"><p style="padding-left: 21px">Trạm&nbsp;chuyên&nbsp;dùng</p></div></a>
                                <a><div class="ic-dovienden"><p style="padding-left: 21px">Cột&nbsp;trung&nbsp;thế</p></div></a>
                                <a><div class="ic-camvienden"><p style="padding-left: 21px">Cột&nbsp;trung,&nbsp;hạ&nbsp;kết&nbsp;hợp</p></div></a>
                                <a><div class="ic-vangvienden"><p style="padding-left: 21px">Cột&nbsp;hạ&nbsp;thế</p></div></a>          
                                <a><div class="ic-xanhdatroivienden"><p style="padding-left: 21px">Router</p></div></a>
                                <a><div class="ic-xanhlacayvienden"><p style="padding-left: 21px">DCU</p></div></a>
                                <a><div class="ic-xamnhatvienden"><p style="padding-left: 21px">Tủ&nbsp;điện&nbsp;ngầm&nbsp;hạ&nbsp;thế</p></div></a>
                                <a><div class="ic-xamdamvienden"><p style="padding-left: 21px">Tủ&nbsp;RMU</p></div></a>
                            </div>
                    </div>
            </div>
            </div>
        </div>
    </div>     
</div>

  
