<title><%= title%></title>
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
<link href="/css/select2.min.css" rel="stylesheet" />
<link href="/css/toandtb.css" rel="stylesheet"/>
<link href="/css/toandtb_ulli.css" rel="stylesheet"/>
<link href="/css/toandtb_gallery.css" rel="stylesheet"/>
<link href="/css/toandtb_dialog.css" rel="stylesheet"/>
<link href="/css/w3s.css" rel="stylesheet"/>
<link href="/css/hung_image.css" rel="stylesheet"/>
<link href="/css/toandtb_map.css" rel="stylesheet"/>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<div class="header">
    <div class="row" style="height:50px"> 
        <div class=" col-sm-7 col-md-5  col-lg-1" style="margin: auto;text-align: center; font-weight:bold; font-size:13px">
            <a  style="margin-top: 8px" href=".">
                <img src="https://png.icons8.com/color/40/000000/home.png" style="width:30px;height:30px" />
            </a>
            <br><div id="tieude" style="font-weight:bold; color:brown">Trung Thế</div>
        </div>
    
        <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto;font-weight: normal; font-size:13px">
            <select id="congtydienluc" class="combo" style="width:100%;color:black">
            </select>
        </div>
        <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto;font-weight: normal; font-size:13px">
            <select id="dienluc" class="combo" style="width:100%;color:black">
            </select>
        </div>
        <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:13px">
            <select id="tramnguon" class="combo" style="width:100%;color:black">  
            </select>
        </div>
        <div class=" col-sm-7 col-md-5  col-lg-2" style="margin: auto">
            <div class="row">
                <div class=" col-sm-12 col-md-12  col-lg-10" style="width: 30px; margin: auto; font-weight:bold; font: size 12px">
                    <button id="btn_xembaocao" type="button" class="button" style="float: left;width: 44%;height: 32px;margin-right: 5%" onclick="clickXembaocao()">Xem</button>
                    <button id="btn_xuatexcel" type="button" class="button" style="float: left;width: 44%;;height: 32px;" onclick="clickXuatexcel()">Excel</button>
                </div>
                <div class=" col-sm-12 col-md-12  col-lg-2" style="margin: auto; font-weight:bold; font-size:13px">
                    <div class="dropdown" style="float: right">
                            <button  class="dropbtn"><i class="fa fa-bars"  style="font-size:20px"></i></button>
                              <div id="myDropdown" class="dropdown-content">
                                    <a><div class="ic-xanhdamvienden"><p style="padding-left: 21px">Trạm&nbsp;nguồn</p></div></a>
                                    <a><div class="ic-timvienden"><p style="padding-left: 21px">Trạm&nbsp;công&nbsp;cộng</p></div></a>
                                    <a><div class="ic-hongvienden"><p style="padding-left: 21px">Trạm&nbsp;chuyên&nbsp;dùng</p></div></a>
                                    <a><div class="ic-dovienden"><p style="padding-left: 21px">Cột&nbsp;trung&nbsp;thế</p></div></a>
                                    <a><div class="ic-camvienden"><p style="padding-left: 21px">Cột&nbsp;trung,&nbsp;hạ&nbsp;kết&nbsp;hợp</p></div></a>
                                    <a><div class="ic-vangvienden"><p style="padding-left: 21px">Cột&nbsp;hạ&nbsp;thế</p></div></a>          
                                    <a><div class="ic-xanhdatroivienden"><p style="padding-left: 21px">Router</p></div></a>
                                    <a><div class="ic-xanhlacayvienden"><p style="padding-left: 21px">DCU</p></div></a>
                                    <a><div class="ic-xamnhatvienden"><p style="padding-left: 21px">Tủ&nbsp;điện&nbsp;ngầm&nbsp;hạ&nbsp;thế</p></div></a>
                                    <a><div class="ic-xamdamvienden"><p style="padding-left: 21px">Tủ&nbsp;RMU</p></div></a>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>     
</div>
