﻿<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>

<body  class="fixed-nav sticky-footer bg-dark" id="page-top" style="overflow: hidden;">
    <!-- Navigation-->
    <% include navigation.ejs %>
    <!--wrapper-->
    <div id="wrapper" disabled="true" class="content-wrapper" style="overflow: hidden;">
        <div id="a" class="giaodien_index" style="display: inline-block;position: absolute;">
            <div class="container-fluid" style="display: inline-block">

                <!-- <a> 
                    <span class="text-download"  style="font-size:13px;">- Lưu ý: Anh/chị vui lòng đăng nhập lại để xác thực, khi không sử dụng được các chức năng trên Web.</span>
                </a> -->
                <a> 
                    <span class="text-download"  style="font-size:13px;">- Lưu ý: EVNCPC TTHT chỉ mới đẩy được Mã lộ, Số cột, Số hộp lên CMIS thông qua App và Web.</span>
                </a>
                <br>
                <a>- Đường dẫn chứa tài liệu: </a>
                <a href="https://ttht.cpc.vn/evncpc/evncpc_ttht" target="_blank" rel="noopener noreferrer" target="_self"
                    class="ic-linkSupportBlue">https://ttht.cpc.vn/evncpc/evncpc_ttht</a>
                <br>
                <a>- Đường dẫn thông báo lỗi, yêu cầu hỗ trợ từ đầu mối CNTT của các Công ty hoặc các Ban:</a>
                <a href="https://hotrocntt.cpc.vn" target="_blank" rel="noopener noreferrer" target="_self" class="ic-linkSupportBlue">https://hotrocntt.cpc.vn/HomePage.do</a>
        
                <br>
                <a>- Hỗ trợ vận hành:
                    <span class="ic-linkSupportRed">0975 909 779 (NOC), 0968 275 699 (Mạnh)</span>. Phiên bản mới nhất
                    trên thiết bị di động Android:<span class="ic-linkSupportRed"> v3.0.5</span>
                </a>
                <br>
            </div>
            <div style="display: inline-block; width:100%;">
           
                <div class="col-36" style="font-weight: bold;text-align: center;width:78%;">
                    <div style="margin-top:5px;margin-bottom:4px">Chat Nhóm</div>
                </div>
                <div class="col-14" style="font-weight: bold; text-align: center;width:22%">
                    <div style="margin-top:5px;margin-bottom:4px" id="text_thanhvienonline">Online</div>
                </div>
            </div>
            <div style="width: 100%;height:100%;position: absolute;">

                <div id="aaa" class="col-36" style="width:78%;height:100%;padding-bottom:10px">
                    <div id="chatarea_tinnhan" style="height: calc(100% - 40px);"></div>
                    <div style="padding-top: 5px">
                        <input id="chatbox_tinnhan" type="text" style="height: 35px; float: left;width: 90%; margin-right: 5px"></input>
                        <button id="guitinnhan" class="button_xanh" style="height: 35px;width: 9%">Gửi</button>
                    </div>
                </div>
                <div class="col-14" style="width:22%;height:100%;padding-bottom:10px">
                    <div id="area_danhsachnguoionline" style="height:100%;font-size: 90%;"></div>
                </div>
            </div>
        </div>

        <!-- BAT DAU: DIALOG DANG NHAP-->
        <div id="id_login" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:400px">
                <div class="dialog_header_layout">
                    <div class="dialog_header_text">Đăng Nhập</div>
                </div>
                <div class="dialog_row_layout" style="padding-top: 6px">
                    <div class="col-30">
                        <label for="fname">Tài Khoản:</label>
                    </div>
                    <div class="col-70">
                        <input type="text" id="dialog_dangnhap_taikhoan" placeholder="Mời bạn nhập tài khoản e-Office">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-30">
                        <label for="fname">Mật Khẩu:</label>
                    </div>
                    <div class="col-70">
                        <input type="password" id="dialog_dangnhap_matkhau" placeholder="Mời bạn nhập mật khẩu">
                    </div>
                </div>
                <div class="dialog_ngancach_layout">
                    <div style="height: 2px"></div>
                </div>
                <div class="dialog_row_layout_bottom">
                    <div class="col-50">
                        <button class='button_dongy' style="display: table;margin: 0 auto" onclick="clickDongyDangnhap()">Đồng
                            ý</button>
                    </div>
                    <div class="col-50">
                        <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id_login').style.display='none'">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- KET THUC: DIALOG DANG NHAP-->

        <!-- BAT DAU: DIALOG DANG XUAT-->
        <div id="id_logout" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:400px; height: 200px; position: relative">
                <div class="dialog_header_layout">
                    <div class="dialog_header_text">Đăng Xuất</div>
                </div>
                <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
                    <a id="text_dangxuat_xacnhan" style="display: block"></a>
                </div>
                <div class="dialog_ngancach_layout" style="position: absolute; bottom: 47px">
                    <div style="height: 2px"></div>
                </div>
                <div class="dialog_row_layout_bottom" style="position: absolute; bottom: 0">
                    <div class="col-50">
                        <button class='button_dongy' style="display: table;margin: 0 auto" onclick="clickDongyDangxuat()">Đồng
                            ý</button>
                    </div>
                    <div class="col-50">
                        <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id_logout').style.display='none'">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- KET THUC: DIALOG DANG XUAT-->

        <!-- footer-->
        <% include foot.ejs %>
    </div>

    <% include foot_script.ejs %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126252662-1"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131039951-1"></script>
    <script>
    </script>
    <script type="text/javascript">
    </script>
    <style>
        .float-ck {
            position: fixed;
            bottom: 0px;
            z-index: 9000;
        }

        /* * html .float-ck {position:absolute;bottom:auto;top:expression(eval (document.documentElement.scrollTop+document.docum entElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))) } */
        #float_content_right {
            border: 1px solid #343A40;
        }

        #hide_float_right {
            text-align: right;
            font-size: 11px;
        }

        #hide_float_right a {
            background: #343A40;
            padding: 2px 2px;
            color: #FFF;
        }
    </style>
    <div class="float-ck" style="right: 0px">
        <div id="hide_float_right">
            <a href="javascript:hide_float_right()">Tắt Video [X]</a></div>
        <div id="float_content_right" style="background: #343A40">
            <!-- Start video-->
            <video id="videothu" style="background: #343A40;margin-top: 6px" width="350" height="200" src="" autoplay
                loop muted controls>
                <!-- <source src="/images/EVNCPC_TTHT.mp4" type="video/mp4"> -->
                <!-- <source src="/images/lovely.mp4" type="video/mp4"> -->
            </video>

            <!-- End video -->
        </div>
    </div>
    <script language="javascript">
    </script>

    <!-- -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>
