<!DOCTYPE html>

<html lang="en">

<% include head.ejs %>

<body style="margin-top: 1%">
    <div style="overflow: hidden;">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <p class="col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-size:14px;font-weight:bold;color:brown">4.
                            Thông Tin Khách Hàng</p>
                        <div class=" col-sm-7 col-md-5  col-lg-4" style="margin: auto; font-size:14px">
                            <li class="active" style="display: table-cell; text-align: left;vertical-align: middle">
                                <input type="file" style="height: 100%; text-align: center" name="file" id="luoidienhathe_input_dskhachhang" />
                            </li>
                        </div>
                        <div class=" col-sm-7 col-md-5  col-lg-2">
                            <a class="text-download" onclick="clickXuatexcel()">Tải File !!!</a>
                            <div id="dvjson"></div>
                        </div>
                        <p id="excel_MA_DVIQLY" class="col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-size:14px;color:black; font-weight:bold;"></p>
                        <div class=" col-sm-7 col-md-5  col-lg-1">
                            <button type="button" class="button" style="width:100%" onclick="xacNhanGuiDuLieu()">Gửi</button>
                        </div>
                        <div class=" col-sm-7 col-md-5  col-lg-1">
                            <button type="button" class="button" style="width:100%" onclick="quayLai()">Hủy</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" style="width:100%;">
                           
                                <tr style="display:flex" class="fix_header" style="width: calc(100%-20px)">
                                    <td  style="width: 60px;" >STT</td>
                                    <td  style="width: 130px;">MA_DVIQLY</td>
                                    <td  style="width: 110px;">MA_TRAM</td>
                                    <td  style="width: 120px;">MA_LO</td>
                                    <td  style="width: 120px;">MA_SOGCS</td>
                                    <td  style="width: 80px;">STT</td>
                                    <td  style="width: 150px;">MA_KHANG</td>
                                    <td  style="width: 180px;">MA_DDO</td>
                                    <td  style="width: 395px;">TEN_KHANG</td>
                                    <td  style="width: 350px;">DCHI_KHANG</td>
                                    <td  style="width: 140px;">DIEN_THOAI</td>
                                    <td  style="width: 220px;">EMAIL</td>
                                    <td  style="width: 350px;">DCHI_SDD</td>
                                    <td  style="width: 150px;">X_SDD</td>
                                    <td  style="width: 150px;">Y_SDD</td>
                                    <td  style="width: 150px;">Z_SDD</td>
                                    <td  style="width: 100px;">SO_PHA</td>
                                    <td  style="width: 60px;">PHA</td>
                                    <td  style="width: 100px;">SO_HO</td>
                                    <td  style="width: 180px;">SO_COT</td>
                                    <td  style="width: 140px;">SO_THUNG</td>
                                    <td  style="width: 150px;">VTRI_THUNG</td>
                                    <td  style="width: 150px;">LOAI_THUNG</td>
                                    <td  style="width: 120px;">VTRI_CTO</td>
                                    <td  style="width: 130px;">VTRI_TREO</td>
                                    <td  style="width: 120px;">GIA_DIEN</td>
                                    <td  style="width: 160px;">MA_CLOAI_CTO</td>
                                    <td  style="width: 180px;">NAM_SXUAT_CTO</td>
                                    <td  style="width: 100px;">SO_CTO</td>
                                    <td  style="width: 180px;">NGAY_TREO_CTO</td>
                                    <td  style="width: 200px;">NGAY_KDINH_CTO</td>
                                    <td  style="width: 120px;">HS_NHAN</td>
                                    <td  style="width: 160px;">MA_CLOAI_TI1</td>
                                    <td  style="width: 180px;">NAM_SXUAT_TI1</td>
                                    <td  style="width: 100px;">SO_TI1</td>
                                    <td  style="width: 180px;">NGAY_TREO_TI1</td>
                                    <td  style="width: 200px;">NGAY_KDINH_TI1</td>
                                    <td  style="width: 160px;">MA_CLOAI_TI2</td>
                                    <td  style="width: 180px;">NAM_SXUAT_TI2</td>
                                    <td  style="width: 100px;">SO_TI2</td>
                                    <td  style="width: 180px;">NGAY_TREO_TI2</td>
                                    <td  style="width: 200px;">NGAY_KDINH_TI2</td>
                                    <td  style="width: 160px;">MA_CLOAI_TI3</td>
                                    <td  style="width: 180px;">NAM_SXUAT_TI3</td>
                                    <td  style="width: 100px;">SO_TI3</td>
                                    <td  style="width: 180px;">NGAY_TREO_TI3</td>
                                    <td  style="width: 200px;">NGAY_KDINH_TI3</td>
                                    <td  style="width: 120px;">GHI_CHU</td>
                                    
                                </tr>
                            
                            <tbody id="tbody-table-dscot"  style="overflow-y: auto;overflow-x: hidden;display:block; margin-right: -15px;">
                                   
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
            </div>
        </div>
    </div>

    <!-- BAT DAU: DIALOG THU 3_excel-->
    <div id="id_excelcot" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
            <div class="dialog_header_layout">
                <div class="dialog_header_text">Gửi Dữ Liệu Bản Đồ Lưới Điện</div>
            </div>
            <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
                <a id="text_excelcot" style="display: block"></a>
            </div>
            <div class="dialog_ngancach_layout">
                <div style="height: 2px"></div>
            </div>
            <div class="dialog_row_layout_bottom">
                <div class="col-50">
                    <button class='button_dongy' style="display: table;margin: 0 auto" onclick="GuiDuLieu_COT()">Đồng ý</button>
                </div>
                <div class="col-50">
                    <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id_excelcot').style.display='none'">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/excelexport.js"></script>
    <script src="/js/luoidienhathe_uploadthongtinkhachhang.js"></script>
    <script language="javascript" type="text/javascript">
        $(window).on('load', function () {
            $('#loading').hide();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
</body>

</html>
