<!DOCTYPE html>

<html lang="en">

<% include head.ejs %>

    <body style="margin-top: 15px">
            <% if (messageupload.length > 0) { %>
                <% if (messageupload == 'true') { %>
                    <script>
                        alert("Gửi dữ liệu thành công, bạn vui lòng nhấn lại nút 'Xem' để xem dữ liệu mới gửi về.");
                        setTimeout(function(){window.close();},0);
                    </script>
                <% } else {%>
                    <div class="alert alert-danger">Gửi dữ liệu thất bại, bạn vui lòng gửi lại.</div>
                <% } %>
            <% } %>
        <div style="overflow: hidden;">
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <p class="col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-size:14px;font-weight:bold;color:brown">3. Hình Ảnh Hiện Trường</p>
                            <div class=" col-sm-7 col-md-5  col-lg-10" style="margin: auto; font-weight:bold; font-size:14px">
                                <div class="active col-50" style="display: table-cell; text-align: left;vertical-align: middle">
                                    <!-- <form id="formUploader" enctype="multipart/form-data" action="UploadImages" method="post">
                                        <input type="file" multiple name="imgUploader" id="gallery-photo-add">
                                        <input type="button" name="submit" id="btnSubmit" value="Gửi" />
                                        <input type="button" name=""       id=""          value="Hủy" onclick="quayLai()" />
                                    </form> -->
                                    <form enctype="multipart/form-data" action="UploadImages" method="post">
                                        <!-- <input type="file" name="imgUploader" multiple /> Upload Image -->
                                        <input type="file" multiple name="imgUploader" id="gallery-photo-add">
                                        <input type="submit" name="submit" id="btnSubmit" value="Gửi" onclick=""/>
                                        <input type="button" name=""       id=""          value="Hủy" onclick="quayLai()" />
                                    </form>
                                    
                                </div>
                                <div class="col-50"><span class="text-download" style="font-size:14px">Chỉ nên upload dưới 50 ảnh trên 1 lần gửi để có hiệu năng tốt nhất</span></div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog_ngancach_layout">
                    <div style="height: 2px"></div>
                </div>
                
                <div class="responsive-parent">
                </div>
                <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
            </div>

        </div>

        <!-- BAT DAU: DIALOG THU 3_excel-->
        <div id="id01_excel" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
                <div class="dialog_header_layout">
                    <div class="dialog_header_text">Gửi Dữ Liệu Bản Đồ Lưới Điện THÀNH CÔNG</div>
                </div>
                <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
                    <a id="text_xacnhan_excel_1" style="display: block"></a>
                </div>
                <div class="dialog_ngancach_layout">
                    <div style="height: 2px"></div>
                </div>
                <div class="dialog_row_layout_bottom">
                    <div class="col-50">
                        <button class='button_dongy' style="display: table;margin: 0 auto" onclick="clickDongy()">Đồng ý</button>
                    </div>
                    <div class="col-50">
                        <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id01_excel').style.display='none'">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="snackbar"></div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/select2.min.js"></script>
        <script src="/js/global.js"></script>
        <script src="/js/luoidienhathe_uploadhinhanh.js"></script>
        <script language="javascript" type="text/javascript">
            $(window).on('load', function () {
                $('#loading').hide();
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    </body>
</html>
