<% include header_congtydienluctram.ejs %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div id="loading">
    <img id="loading-image" src="images/loadingmap.gif" alt="Đang tải dữ liệu..." />
</div>
<div id="loading_verson2" style="display:none">
    <img id="loading-imagevs2" src="images/loading_icon.gif" alt="Vui lòng chờ 30 giây đến 1 phút..." />
    <p style="font-size: 24px;top: 420px;left: 510px;position: absolute;z-index: 100;color: red;">Bạn vui lòng đợi từ 30
        giây đến 1 phút...</p>
</div>
<div id="mySidebar" class="w3-card w3-animate-left"
    style="height: calc(100% - 50px); display: none;z-index: 50; overflow: hidden; background-color: #343a40; float: left; text-align: left">
    <!-- Bảng thông tin khách hàng và hình ảnh bên trái -->
    <div class="bs-example">
        <div class="panel-group" id="accordion" style="border:0; margin-top: 5px;">
            <!--I-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;">
                <div class="panel-heading" style="background-color: #A9F5E1; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeI" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#I" style="text-decoration: none; color: black; font-weight: bold; font-size: 13px; padding: 4px;text-align:justify">I.
                            Thông Tin Cột Hạ Thế</a>
                    </h4>
                </div>
                <div id="I" class="panel-collapse collapse in">
                    <div
                        style="background-color: white; padding-left: 10px;padding-right: 10px;padding-top: 10px;padding-bottom: 1px">
                        <p id="I_matram">Mã Trạm</p>
                        <p id="I_thongtinsocot">Số cột</p>
                        <p id="I_toadoX">Vĩ độ</p>
                        <p id="I_toadoY">Kinh độ</p>
                        <p id="I_loaicot">Loại cột</p>
                        <p id="I_chieucao">Chiều cao</p>
                        <p id="I_nhasanxuat">Nhà sản xuất</p>
                    </div>
                </div>
            </div>
            <!--II-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;">
                <div class="panel-heading" style="background-color: #A9F5E1; border:0; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeII" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#II" style="text-decoration: none; color: black; font-weight: bold; font-size: 13px; padding: 4px">II.
                            Thông Tin Khách Hàng</a>
                    </h4>
                </div>
                <div id="II" class="panel-collapse collapse" style="padding: 0;">
                    <div class="panel-body" style="padding: 0;">
                        <form class="search_thongtinkhachhang" style="margin:auto;max-width:300px">
                            <input type="text" placeholder="Tìm kiếm khách hàng" class="search_thongtinkhachhang_input"
                                name="search2">
                            <div class="button_timkiemkhachhang" onclick="ClickSearchKH()"><i class="fa fa-search fa-1x"></i></div>
                        </form>
                        <ul id="ul_khachhang" style="overflow: auto; width: 100%;">
                            <!--Thêm trong JS-->
                        </ul>
                        <div id="dongbo" style="border-top: 2px solid rgb(150, 231, 210); vertical-align: middle;">
                            <button style="float: left;margin-top: 5px;margin-left: 5px;margin-right: 5px;font-size:12px; width: 70px;height: 35px;"
                                id="dongboCMIS" type="button" class="button" onclick="clickDongboCMIS()">LDL
                                CMIS</button>
                            <p id='text_ngaylaycuoi' style="font-size:13px; color: white;height:5px;float: left;margin-top: 5px">
                                <!--Thêm trong JS-->
                            </p>
                            <button id="dongboEMEC" style="margin-left: 5px;margin-top: 5px" type="button" class="button"
                                onclick="clickDongboEMEC()">Đ.Bộ EMEC</button>
                            <button class='button_dongy_70' style="display: table;margin-top: 5px;margin-right:5px;float:right"
                                onclick="clickGuiCMIS()">Gửi CMIS</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--III-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;">
                <div class="panel-heading" style="background-color: #A9F5E1; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeIII" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#III" style="text-decoration: none; color: black; font-weight: bold; font-size: 13px; padding: 4px">III.
                            Hình Ảnh Hiện Trường</a>
                    </h4>
                </div>
                <div id="III" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0">
                        <div id="hinhanh" style="overflow: auto; width: 100%">
                            <!--Thêm trong JS-->
                        </div>
                    </div>
                </div>
            </div>

            <!--III.1 KINH DOANH-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;display: none;">
                <div class="panel-heading" style="background-color: yellow; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeIII_1" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#V" style="text-decoration: none; color: black; font-weight: bold; font-size: 12px; padding: 4px;padding-left: 20px">III.1
                            Hình Ảnh Kinh Doanh</a>
                    </h4>
                </div>
                <div id="V" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0">
                        <div id="hinhanh_kinhdoanh" style="overflow: scroll; width: 100%">
                            <!--Thêm trong JS-->
                        </div>
                    </div>
                </div>
            </div>

            <!--III.2 QLC-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;display: none;">
                <div class="panel-heading" style="background-color: yellow; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeIII_2" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#IV" style="text-decoration: none; color: black; font-weight: bold; font-size: 12px; padding: 4px ;padding-left: 20px">III.2
                            Hình Ảnh QLC</a>
                    </h4>
                </div>
                <div id="IV" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0">
                        <div id="hinhanh_quanlycap" style="overflow: scroll; width: 100%">
                            <!--Thêm trong JS-->
                        </div>
                    </div>
                </div>
            </div>

            <!--III.3 SCL-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;display: none;">
                <div class="panel-heading" style="background-color: yellow; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeIII_3" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#VI" style="text-decoration: none; color: black; font-weight: bold; font-size: 12px; padding: 4px; ;padding-left: 20px">III.
                            3 SCL</a>
                    </h4>
                </div>
                <div id="VI" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0">
                        <div id="hinhanh_suachualon" style="overflow: scroll; width: 100%">
                        </div>
                    </div>
                </div>
            </div>

            <!--III.4 XDCB-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;display: none;">
                <div class="panel-heading" style="background-color: yellow; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeIII_4" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#VII" style="text-decoration: none; color: black; font-weight: bold; font-size: 12px; padding: 4px;;padding-left: 20px">III.
                            4 XDCB</a>
                    </h4>
                </div>
                <div id="VII" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0">
                        <div id="tiehinhanh_xaydungcoban" style="overflow: scroll; width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="id_thongtin" class="w3-card w3-animate-right" style="height: calc(100% - 50px); display: none;z-index: 50; overflow: hidden; background-color: #343a40; float: right; text-align: left;;width: 17.7%">
    <!-- Bảng thông tin khách hàng và hình ảnh bên trái -->
    <div class="bs-example_1">
        <div class="panel-group" style="background-color: rgb(52, 58, 64);text-align: left;border-left-color: rgb(52, 58, 64) ">

            <div class="panel panel-default" style="border:0; background-color: rgb(52, 58, 64);height: 50%;margin-bottom: 5px;margin-top: 5px">
                <div class="panel-heading" style="background-color: #A9F5E1; padding: 4px">
                    <div id="slhinhanh" class="panel-title" style="font-size:13px;font-weight: bold">
                        Hình ảnh khách hàng
                        <img src="" style="float:right">
                    </div>
                </div>
                <div id="anhkhachhang" class="panel-body" style="overflow: auto;height: 90%;padding: 0px;width: 100%">
                </div>

            </div>

            <div class="panel panel-default" style=" background-color:white;height: 45%;">
                <div class="panel-heading" style="background-color: #A9F5E1;height: 28px;padding: 6px 4px 4px 4px;">
                    <div id="tieudesohoa" class="panel-title tentieude" style="font-size:13px">

                    </div>
                </div>
                <div id="hosodientu" class="panel-body" style="background:#343A40;padding: 0px">
                    <ul id="ul_hosodientu" style="overflow: auto;width: 100%;height: 100%;">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main">
    <div class="search-wrapper" id="search-wrapper">
        <div class="input-holder">
            <input id="pac-input" type="text" class="search-input" placeholder="Tìm kiếm địa điểm" />
            <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
        </div>
        <span class="close" onclick="searchToggle(this, event);"></span>
    </div>
    <div class="search-cot" id="search-cot">
        <div class="input-holder-cot">
            <input id="input-cot" type="text" class="search-input-cot" placeholder="Tìm kiếm cột" />
            <button class="search-icon-cot" onclick="searchcotToggle(this, event);"><span></span></button>
        </div>
        <span class="close" onclick="searchcotdisable(this, event)"></span>
    </div>
    <div id="thanhnoidung" style="width: 250px;display:none;height: 45px;background-color: floralwhite;border-radius: 10px;border:2px solid turquoise">
        <div class="col-50">
            <img id="time_map" class="col-image" src="images/ic_clock.png" alt="Đang tải dữ liệu..." />
        </div>
        <div class="col-50">
            <img id="distance_map" class="col-image" src="images/ic_distance.png" alt="Đang tải dữ liệu..." />
        </div>
    </div>

    <div id="thanhnoidung_khoangcach" style="padding-bottom: 5px;width: 200px;display:none;background-color:rgba(255,250,240,0.5);border-radius: 10px;border:2px solid turquoise">
    </div>
    <div id="thanhnoidung_chuyencot" style="padding-top:10px;width: 300px;display:none;background-color:rgba(255,250,240,0.5);border-radius: 10px;border:2px solid turquoise">
    </div>

    <div id="map"></div>
</div>

<!-- BAT DAU: DIALOG THU 1-->
<div id="id01" style="height: calc(100% - 50px); width: 64.6%;display: none; position: relative; top: 0px; left: 0px; background-color: white;font-size: 13px;overflow: auto;">

    <div class="col-30d" style="margin-top:12px">
        <div style="font-weight: bold">
            II.1 Thông tin khách hàng
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Mã K.Hàng:</label>
            <input class="col-lg-7" type="text" id="dialog_makhang" placeholder="Mã Khách Hàng">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Số H.Đồng:</label>
            <input class="col-lg-7" type="text" id="dialog_sohopdong" placeholder="Số Hợp Đồng">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Tên K.Hàng: </label>
            <input class="col-lg-7" type="text" id="dialog_tenkhang" placeholder="Tên Khách Hàng">
        </div>

        <div class="row">
            <label class="col-lg-5" for="fname">Địa Chỉ:</label>
            <input class="col-lg-7" type="text" id="dialog_diachikhang" placeholder="Địa Chỉ Khách Hàng">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Số ĐT:</label>
            <input class="col-lg-7" type="text" id="dialog_dienthoai" placeholder="Số Điện Thoại">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Email: </label>
            <input class="col-lg-7" type="text" id="dialog_email" placeholder="Email">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Ghi Chú:</label>
            <input class="col-lg-7" type="text" id="dialog_ghichu" placeholder="Ghi Chú">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Ngày Gửi:</label>
            <input class="col-lg-7" type="text" id="dialog_ngaygui" placeholder="Ngày Gửi">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Người Gửi:</label>
            <input class="col-lg-7" type="text" id="dialog_nguoigui" placeholder="Người Gửi">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Tài Khoản:</label>
            <input class="col-lg-7" type="text" id="dialog_nguoilay" placeholder="Người Lấy">
        </div>
    </div>
    <div class="col-30d" style="margin-top:12px">
        <div style="font-weight: bold">
            II.2 Thông tin điểm đo:
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Mã Điểm Đo:</label>
            <input class="col-lg-7" type="text" id="dialog_maddo" placeholder="Mã Điểm Đo">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Địa Chỉ SDĐ:</label>
            <input class="col-lg-7" type="text" id="dialog_diachisdd" placeholder="Địa Chỉ Sử Dụng Điện">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Tọa Độ SDĐ:</label>
            <input class="col-lg-7" type="text" id="dialog_toadosdd" placeholder="Tọa Độ Địa Chỉ Sử Dụng Điện">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Số Pha:</label>
            <input class="col-lg-7" type="text" id="dialog_sopha" placeholder="Số Pha">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Pha:</label>
            <input class="col-lg-7" type="text" id="dialog_pha" placeholder="Pha">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Số Hộ: </label>
            <input class="col-lg-7" type="text" id="dialog_soho" placeholder="Số Hộ">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Sổ GCS: </label>
            <input class="col-lg-7" type="text" id="dialog_sogcs" placeholder="Sổ Ghi Chỉ Số">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Số Thứ Tự: </label>
            <input class="col-lg-7" type="text" id="dialog_stt" placeholder="Số Thứ Tự Của Sổ">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Mã Trạm: </label>
            <input class="col-lg-7" type="text" id="dialog_tram" placeholder="Mã Trạm">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Mã Lộ:</label>
            <input class="col-lg-7" type="text" id="dialog_malo" placeholder="Mã Lộ">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Số Cột:</label>
            <input class="col-lg-7" type="text" id="dialog_socot" placeholder="Số Cột">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Tọa Độ Cột:</label>
            <input class="col-lg-7" type="text" id="dialog_toadocot" placeholder="Tọa Độ Cột">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Số Thùng:</label>
            <input class="col-lg-7" type="text" id="dialog_sothung" placeholder="Số Thùng">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Vị Trí Thùng:</label>
            <input class="col-lg-7" type="text" id="dialog_vtrithung" placeholder="Vị Trí Thùng">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Loại Thùng:</label>
            <input class="col-lg-7" type="text" id="dialog_loaithung" placeholder="Loại Thùng">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Vị Trí C.Tơ:</label>
            <input class="col-lg-7" type="text" id="dialog_vtricto" placeholder="Vị Trí Công Tơ">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Vị Trí Treo:</label>
            <input class="col-lg-7" type="text" id="dialog_vtritreo" placeholder="Vị Trí Treo">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Giá Điện:</label>
            <input class="col-lg-7" type="text" id="dialog_giadien" placeholder="Giá Điện">
        </div>
    </div>
    <div class="col-30d" style="margin-top:12px;max-height:calc(100% - 50px);">
        <div style="font-weight: bold">
            II.3 Hệ thống đo đếm:
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Mã Công Tơ:</label>
            <input class="col-lg-7" type="text" id="dialog_macongto" placeholder="Mã Công Tơ">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">C.Loại: </label>
            <input class="col-lg-7" type="text" id="dialog_chungloai" placeholder="Chủng Loại">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Năm SX:</label>
            <input class="col-lg-7" type="text" id="dialog_namsanxuat" placeholder="Năm Sản Xuất">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Số Công Tơ:</label>
            <input class="col-lg-7" type="text" id="dialog_socongto" placeholder="Số Công Tơ">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Ngày Treo:</label>
            <input class="col-lg-7" type="text" id="dialog_ngaytreo" placeholder="Ngày Treo">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Ng.Kiểm định: </label>
            <input class="col-lg-7" type="text" id="dialog_ngaykiemdinh" placeholder="Ngày Kiểm Định">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Hệ Số Nhân: </label>
            <input class="col-lg-7" type="text" id="dialog_hesonhan" placeholder="Hệ Số Nhân">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Điện Áp: </label>
            <input class="col-lg-7" type="text" id="dialog_dienap" placeholder="Điện Áp">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">Dòng Điện: </label>
            <input class="col-lg-7" type="text" id="dialog_dongdien" placeholder="Dòng Điện">
        </div>
        <div class="row">
            <label class="col-lg-5" for="fname">VH Công: </label>
            <input class="col-lg-7" type="text" id="dialog_vhcong" placeholder="VH Công">
        </div>
        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Số TI1:</label>
            <input class="col-lg-7" type="text" id="dialog_soti1" placeholder="Số TI1">
        </div>
        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Mã TI1:</label>
            <input class="col-lg-7" type="text" id="dialog_mati1" placeholder="Mã TI1">
        </div>

        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">C.Loại TI1:</label>
            <input class="col-lg-7" type="text" id="dialog_chungloaiti1" placeholder="Chủng Loại TI1">
        </div>

        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Năm SX TI1:</label>
            <input class="col-lg-7" type="text" id="dialog_namsanxuatti1" placeholder="Năm Sản Xuất TI1">
        </div>
        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Ng.Treo TI1:</label>
            <input class="col-lg-7" type="text" id="dialog_ngaytreoti1" placeholder="Ngày Treo TI1">
        </div>

        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Ngày KĐ TI1:</label>
            <input class="col-lg-7" type="text" id="dialog_ngaykiemdinhti1" placeholder="Ngày K.Định TI1">
        </div>
        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Số TI2:</label>
            <input class="col-lg-7" type="text" id="dialog_soti2" placeholder="Số TI2">
        </div>
        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Mã TI2:</label>
            <input class="col-lg-7" type="text" id="dialog_mati2" placeholder="Mã TI2">
        </div>

        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">C.Loại TI2: </label>
            <input class="col-lg-7" type="text" id="dialog_chungloaiti2" placeholder="Chủng Loại TI2">
        </div>
        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Năm SX TI2:</label>
            <input class="col-lg-7" type="text" id="dialog_namsanxuatti2" placeholder="Năm Sản Xuất TI2">
        </div>
        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Ng.Treo TI2:</label>
            <input class="col-lg-7" type="text" id="dialog_ngaytreoti2" placeholder="Ngày Treo TI2">
        </div>
        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Ngày KĐ TI2: </label>
            <input class="col-lg-7" type="text" id="dialog_ngaykiemdinhti2" placeholder="Ngày Kiểm Định TI2">
        </div>
        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Mã TI3:</label>
            <input class="col-lg-7" type="text" id="dialog_mati3" placeholder="Mã TI3">
        </div>

        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">C.Loại TI3:</label>
            <input class="col-lg-7" type="text" id="dialog_chungloaiti3" placeholder="Chủng Loại TI3">
        </div>

        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Năm SX TI3:</label>
            <input class="col-lg-7" type="text" id="dialog_namsanxuatti3" placeholder="Năm Sản Xuất TI3">
        </div>

        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Số TI3:</label>
            <input class="col-lg-7" type="text" id="dialog_soti3" placeholder="Số TI3">
        </div>

        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Ng.Treo TI3:</label>
            <input class="col-lg-7" type="text" id="dialog_ngaytreoti3" placeholder="Ngày Treo TI1">
        </div>

        <div class="row" id="BelongtoHSN">
            <label class="col-lg-5" for="fname">Ngày KĐ TI3:</label>
            <input class="col-lg-7" type="text" id="dialog_ngaykiemdinhti3" placeholder="Ngày K.Định TI3">
        </div>
    </div>
    <button id="button_khongdongy_panel" class='button_khongdongy_panel' style="display: table;margin: 0 auto;top:0%;right: -0.9%;z-index: 1000;"
        onclick="document.getElementById('id01').style.display='none';document.getElementById('id_thongtin').style.display='none';document.getElementById('search-wrapper').style.display='block';document.getElementById('search-cot').style.display='block'">X</button>
</div>

<!-- BAT DAU: DIALOG THU 1-->
<div id="id_hosodientu" class="w3-modal" style=" padding-top: 50px">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1000px">
        <!-- HO SO DIEN TU -->
        <div id="hosodientu" style="height: 100%;overflow: hidden;">
            <div style="width:100%">
                <div style="background:rgb(64, 56, 52); float: left;width:100%; height:100%">
                    <div class="dialog_header_layout_dat">
                        <div style="width: 100%;height: 5px;"></div>
                        <a style="cursor: pointer;text-decoration: underline;font-size: 15;color: blue" id="tailieugoc">Tài
                            Liệu Gốc</a>
                        <button class='button_khongdongy' style="display: table;float:right;width: 20px;height: 20px;margin-right:5px ;"
                            onclick="document.getElementById('id_hosodientu').style.display='none';document.getElementById('button_khongdongy_panel').style.display='block'">X</button>
                    </div>
                    <object id="obj_hosodientu" type="application/pdf" width="100%" height="95%">
                    </object>
                </div>
                <div style="background:#343A40; float:left;width:25%; height:100%; visibility: hidden;">
                    <div class="tieude">
                        <div class="dialog_header_layout_dat">
                            <div style="width: 100%;height: 5px;"></div>
                            <a style="cursor: pointer;text-decoration: underline;font-size: 15;color: orangered" id="tailieugoc">Tài
                                Liệu Gốc</a>
                            <button class='button_khongdongy_dat' style="display: table;float:right;width: 20px;"
                                onclick="document.getElementById('id_hosodientu').style.display='none';document.getElementById('button_khongdongy_panel').style.display='block'">X</button>
                        </div>
                        <div class="tentieude1" id="tieudesohoa1" style="margin-top: 2px"></div>
                    </div>
                    <ul id="ul_hosodientu1">
                        <!-- Them trong javascript -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BAT DAU: DIALOG THU 2_1-->
<div id="id02_1" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Đồng Bộ CMIS Cho Trạm</div>
        </div>
        <div class="dialog_row_layout list-group" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
            <a id="dbttkhachhang_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DSThongtinkhachhang_choTram()">
                <span class="badge">1</span>
                <strong>Danh Sách Thông Tin Khách Hàng</strong>
            </a>
            <a id="dbdmtram_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DMTram()">
                <span class="badge">2</span>
                <strong>Danh Mục Trạm</strong>
            </a>
            <a id="dbdmvitritreo_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DMVitritreo()">
                <span class="badge">3</span>
                <strong>Danh Mục Vị Trí Treo</strong>
            </a>
            <a id="dbdmvitricongto_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DMChungloaicongto()">
                <span class="badge">4</span>
                <strong>Danh Mục Chủng Loại Công Tơ</strong>
            </a>
            <a id="dbdmsogcs_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DMSogcs()">
                <span class="badge">5</span>
                <strong>Danh Mục Sổ Ghi Chỉ Số</strong>
            </a>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div>
                <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id02_1').style.display='none'">Thoát</button>
            </div>
        </div>
    </div>
</div>

<div id="id02_1_1" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Xác Nhận Đồng Bộ Thông Tin Khách Hàng</div>
        </div>
        <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
            <a id="text_xacnhan2" style="display: block"></a>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div class="col-50">
                <button class='button_dongy' style="display: table;margin: 0 auto" onclick="clickDongyDongbo_choTram()">Đồng
                    ý</button>
            </div>
            <div class="col-50">
                <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id02_1_1').style.display='none'">Hủy</button>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 2_1-->

<!-- BAT DAU: DIALOG THU 2_2 -->
<div id="id02_2" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Đồng Bộ CMIS Cho Điện Lực</div>
        </div>
        <div class="dialog_row_layout list-group" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
            <a id="dbttkhachhang_dienluc" href="#" class="list-group-item" onclick="clickLayCMIS_DSThongtinkhachhang_choDienluc()">
                <span class="badge">1</span>
                <strong>Danh Sách Thông Tin Khách Hàng</strong>
            </a>
            <a id="dbdmtram_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DMTram()">
                <span class="badge">2</span>
                <strong>Danh Mục Trạm</strong>
            </a>
            <a id="dbdmvitritreo_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DMVitritreo()">
                <span class="badge">3</span>
                <strong>Danh Mục Vị Trí Treo</strong>
            </a>
            <a id="dbdmvitricongto_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DMChungloaicongto()">
                <span class="badge">4</span>
                <strong>Danh Mục Chủng Loại Công Tơ</strong>
            </a>
            <a id="dbdmsogcs_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DMSogcs()">
                <span class="badge">5</span>
                <strong>Danh Mục Sổ ghi chỉ số</strong>
            </a>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div>
                <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id02_2').style.display='none'">Thoát</button>
            </div>
        </div>
    </div>
</div>

<div id="id02_1_2" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Xác Nhận Đồng Bộ Thông Tin Khách Hàng</div>
        </div>
        <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
            <a id="text_xacnhan1" style="display: block"></a>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div class="col-50">
                <button class='button_dongy' style="display: table;margin: 0 auto" onclick="clickDongyDongbo_choDienluc()">Đồng
                    ý</button>
            </div>
            <div class="col-50">
                <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id02_1_2').style.display='none'">Hủy</button>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 2_2 -->

<!-- BAT DAU: DIALOG THU 3-->
<div id="id03" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Đồng Bộ CMIS</div>
        </div>
        <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
            <a id="text_id03_xacnhan" style="display: block"></a>
        </div>
        <div class="dialog_row_layout">
            <div class="col-20">
                <label for="fname">Tài Khoản:</label>
            </div>
            <div class="col-80">
                <input type="text" id="dialog_id03_taikhoan" placeholder="Mời bạn nhập tài khoản">
            </div>
        </div>
        <div class="dialog_row_layout">
            <div class="col-20">
                <label for="fname">Mật Khẩu:</label>
            </div>
            <div class="col-80">
                <input type="password" id="dialog_id03_matkhau" placeholder="Mời bạn nhập mật khẩu">
            </div>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div class="col-50">
                <button class='button_dongy' style="display: table;margin: 0 auto" onclick="clickDongyDongboEMEC()">Đồng
                    ý</button>
            </div>
            <div class="col-50">
                <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id03').style.display='none'">Hủy</button>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 3-->

<!-- BAT DAU: DIALOG THU 4-->
<div id="id_image" class="w3-modal" style="padding-top: 50px">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:60%; height:auto">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Hình Ảnh Hiện Trường</div>
        </div>
        <div class="slideshow-container" style="height: auto; text-align:center" id="hinhanhslide">
            <!-- Them trong java script-->
        </div>
        <a class="prev w3-hover-white" id="anh_prev" onclick="plusSlides(-1)">❮</a>
        <a class="next w3-hover-white" id="anh_next" onclick="plusSlides(1)">❯</a>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div style="height: auto;" class="col-lg-5">
                <div class="chatlogs" style="width:100%; overflow-x: auto;  overflow-y: auto;" id="dotanh">
                </div>
            </div>
            <div class="col-lg-7 row" style="height: auto;" id="infoImage">
                <div class="col-lg-4">
                    <button class='btn btn-primate' id="btnEditImage" onclick="editImage()">Chỉnh sửa</button>
                </div>
                <div class="col-lg-4 row">
                    <button class='btn' style="display: table;margin: 0 auto;margin-left: 15px;background-color: rgb(50,190,166);font-weight: bold;color: white;font-size: 13px"
                    onclick="clickDeleteImage()">Xóa ảnh</button>
                </div>
                
                <div class="col-lg-4">
                    <button class='btn btn-danger' onclick="document.getElementById('id_image').style.display='none';document.getElementById('button_khongdongy_panel').style.display='block'">Thoát</button>
                </div>
                
            </div>
            <div class="col-lg-7" style="height: auto; display: none" id="editImage">
                <div class="row">
                    <div class="col-lg-3 "><button class='btn btn-info' onclick="drawRect()">Vẽ hình</button></div>
                    <div class="col-lg-3 "><button class='btn btn-info' onclick="drawInput()">Viết tên</button></div>
                    <div class="col-lg-3 "><button class='btn btn-primate' onclick="saveImage()">Lưu</button></div>
                    <div class="col-lg-3 ">
                            <button class='btn btn-danger' onclick="document.getElementById('id_image').style.display='none';document.getElementById('button_khongdongy_panel').style.display='block'">Thoát</button>
                    </div>
                </div>
            </div>
            <div style=" float: left;width: 40%;height:35px; display: none;" id="tenaanh;">
                <div style="padding-top: 8px;padding-bottom: 8px" id="tenhinhanh">Caption Text</div>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 4-->

<!-- BAT DAU: DIALOG THU 5-->
<div id="id_inforclient" class="w3-modal" style="padding-top: 50px;">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="max-width:1000px; height:100%">
        <div class="dialog_header_layout_dat" style="height: 30px">
            <div style="width: 100%;height: 5px;"></div>
            <a style="cursor: pointer;font-size: 15;color:rgb(247, 213, 213);font-weight: bold;color: brown" id="id_cpm">CPM</a>
            <button class='button_khongdongy' style="display: table;float:right;width: 20px;height: 20px;margin-right:5px ;"
                onclick="document.getElementById('id_inforclient').style.display='none';document.getElementById('button_khongdongy_panel').style.display='block';document.getElementById('id01').style.display='none';document.getElementById('id_thongtin').style.display='none'">X</button>
        </div>
        <div style="width: 100%;height: 2px;background: rgb(50,190,166);"></div>
        <div style="height: auto">
            <!-- Them trong java script-->
            <iframe style="border: 0;background:rgb(64, 56, 52)" id="maininforkh" width="100%" height="93%">
            </iframe>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 5-->

<!-- BAT DAU: DIALOG THU 10-->
<div id="id10" class="w3-modal" style=" padding-top: 50px">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1000px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">THÔNG TIN TẢI TỪ FILE EXCEL DANH SÁCH HÌNH ẢNH</div>
        </div>
        <div class="dialog_row_layout" style="padding-top: 6px;padding-left: 6px; padding-right: 6px ">
            <ul class="nav nav-pills">
                <div>
                    <form id="frmUploader" enctype="multipart/form-data" action="UploadImages" method="post">
                        <!-- <input type="file" name="imgUploader" multiple /> Upload Image -->
                        <input type="file" multiple name="imgUploader" id="gallery-photo-add">
                        <input type="submit" name="submit" id="btnSubmit" value="Upload" />
                    </form>
                </div>
            </ul>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="tab-content">
            <div id="thongtinhinhanh" class="tab-pane fade in active">
                <div class="card-body" width="100%">
                    <div class="table-responsive" width="100%">
                        <div class="image-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog_ngancach_layout" style="margin-top: 0">
                <div style="height: 2px"></div>
            </div>
            <div class="dialog_row_layout_bottom">
                <div class="col-50">
                    <button class='button_dongy' style="display: table;margin: 0 auto" onclick="">Gửi Dữ liệu</button>
                </div>
                <div class="col-50">
                    <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id10').style.display='none'">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 10-->

<!-- BAT DAU: DIALOG THU 11-->
<div id="id11" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Xuất Dữ Liệu</div>
        </div>
        <div id="xuatexcel" onclick="XDLE_clickXuatExcelBandoluoidien()" class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 16px;padding-bottom: 10px">
            <a id="text_xacnhan2" style="display: block;cursor: pointer;font-weight: bold;">Excel Bản Đồ Lưới Điện</a>
        </div>
        <div id="xuatexcel" onclick="XDLE_clickXuatExcelDuongdanhinhanh()" class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 16px;padding-bottom: 10px">
            <a id="text_xacnhan2" style="display: block;cursor: pointer;font-weight: bold;">Excel Đường Dẫn Hình Ảnh</a>
        </div>
        <div id="xuatexcel" onclick="XDLE_clickXuatExcelThongtinkhachhang()" class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 16px;padding-bottom: 10px">
            <a id="text_xacnhan2" style="display: block;cursor: pointer;font-weight: bold;">Excel Thông Tin Khách
                Hàng</a>
        </div>
        <div id="xuatexcel" onclick="XDLE_clickXuatHinhanhBandoluoidien()" class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 16px;padding-bottom: 10px">
            <a id="text_xacnhan2" style="display: block;cursor: pointer;font-weight: bold;">Hình Ảnh Bản Đồ Lưới
                Điện</a>
        </div>
        <div id="xuatexcel" onclick="XDLE_clickXuatDuongDayTram()" class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 16px;padding-bottom: 10px">
            <a id="text_xacnhan2" style="display: block;cursor: pointer;font-weight: bold;">Độ Dài Đường Dây Trạm Biến Áp
                Điện</a>
        </div>
        <div class="dialog_row_layout_bottom">
            <div>
                <button class='button_khongdongy' style="display: table; margin: 0 auto" onclick="document.getElementById('id11').style.display='none';document.getElementById('search-wrapper').style.display='block'">Thoát</button>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 11-->

<!-- BAT DAU: DIALOG THU 12_ chuyển trạm cho cột-->
<div id="id_chuyentramchocot" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:350px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">San Tải Trạm Biến Áp</div>
        </div>
        <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
            <a id="text_chuyentramchocot" style="display: block"></a>
            <div>
                <select id="trammoi" class="combo" style="width:100%;color:black;margin-top: 10px;margin-bottom: 10px;">
                </select>
            </div>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div class="col-50">
                <button class='button_dongy' style="display: table;margin: 0 auto" onclick="dongyChuyencotchotram()">Đồng
                    ý</button>
            </div>
            <div class="col-50">
                <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="khongdongyChuyencotchotram()">Hủy</button>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 12-->

<!-- BAT DAU: DIALOG THU 13-->
<div id="id_xoaanh" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px;">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Xóa Ảnh</div>
        </div>
        <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px;">
            <a id="text_xoaanh"></a>
        </div>
        <div class="dialog_row_layout">
            <div style="height: 150px"></div>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div class="col-50">
                <button class='button_dongy' style="display: table;margin: 0 auto" onclick="delelteImage()">Đồng
                    ý</button>
            </div>
            <div class="col-50">
                <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id_xoaanh').style.display='none'">Hủy</button>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 13-->

<!-- BAT DAU: DIALOG THU 14-->
<div id="MultiTram_dialog" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px;max-height: 550px; overflow: auto">
        <div class="dialog_header_layout_dat" style="height: 30px">
            <div class="col-lg-7" style="margin-top: 12px; font-weight:bold; font-size:14px">
                <form class="TTCT_searchTTKH" style="margin:auto;max-width:300px">
                    <input type="text" style="border: 1px solid teal;" placeholder="Tìm kiếm Trạm" class="search_Tram_input"
                        name="search3">
                </form>
            </div>
            <div class="col-20" style="margin-top: 12px; font-weight:bold; font-size:14px">
                <button type="button" class="btn_MultiTram" onclick="ShowMultipTrams()">Xem</button>

            </div>
            <div class="col-20" style="margin-top: 12px; font-weight:bold; font-size:14px">
                <button type="button" class="btn_MultiTram" style="background-color: brown" onclick="HuyXemNhieuTram()">Thoát</button>
            </div>
        </div>

        <div id="list_DmTram" class="dialog_row_layout list-group" style="padding-left: 10px; padding-right: 10px; padding-top: 12px">

        </div>
        <!-- <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div> -->
    </div>
</div>
<!-- KET THUC: DIALOG THU 14-->

<div id="snackbar"></div>
<!-- KET THUC: DIALOG THU 10: AIzaSyAH1DHQxp8GVKEd9yTTKFfFa5BJuIuKG_I-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8g2zXBweswLuUXKWWVQzJpYhVSEY9PXc&libraries=places&callback=initAutocomplete"
    async defer></script>
<script type="text/javascript">
    var placeSearch, autocomplete;
    function initAutocomplete() {
        var autocompleteOptions = {
            types: ['geocode'],
            componentRestrictions: { country: 'vn' }
        };
        var input = document.getElementById('pac-input');
        autocomplete = new google.maps.places.Autocomplete(input, autocompleteOptions);
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        var place = autocomplete.getPlace();
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
        }
        if (!marker) {
            marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });
            console.log("create new maker");
        } else {
            console.log("setmap null");
            marker.setMap(null);
            marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });
        }

        marker.setOptions({
            position: place.geometry.location,
            map: map
        });
        google.maps.event.addDomListener(window, 'load', initAutocomplete);
    }
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="/js/global.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/luoidienhathe.js"></script>
<script src="/js/luoidienhathe/luoidienhathe_duongdaytram.js"></script>
<script src="/js/luoidienhathe/luoidienhathe_xuatdulieuexcel.js"></script>
<script src="/js/luoidienhathe/luoidienhathe_khoitaonutchucnang.js"></script>
<script src="/js/excelexport.js"></script>
<script src="/js/html2canvas.js"></script>
<script src="/js/maptoimg.js"></script>
<script language="javascript" type="text/javascript">
    $(window).on('load', function () {
        $('#loading').hide();

    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>