<% include header_congtydienluctramnguon.ejs %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div id="loading">
    <img id="loading-image" src="images/loadingmap.gif" alt="Đang tải dữ liệu..." />
</div>
<div id="mySidebar" class="w3-card w3-animate-left" style="height: calc(100% - 50px); display: none; overflow: hidden; background-color: #343a40; float: left; text-align: left">
    <!-- Bảng thông tin khách hàng và hình ảnh bên trái -->
    <div class="bs-example">
        <div class="panel-group" id="accordion" style="border:0; margin-top: 5px;">
            <!--I-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;">
                <div class="panel-heading" style="background-color: #A9F5E1; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeI" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#I" style="text-decoration: none; color: black; font-weight: bold; font-size: 13px; padding: 4px;text-align:justify">I.
                            Thông Tin Cột Hạ Thế</a>
                    </h4>
                </div>
                <div id="I" class="panel-collapse collapse in">
                    <div style="background-color: white; padding-left: 10px;padding-right: 10px;padding-top: 10px;padding-bottom: 1px">
                        <p id="I_maxuattuyen">Mã Xuất Tuyến</p>
                        <p id="I_maduongday">ID Đ.dây</p>
                        <p id="I_tenduongday">Tên Đ.dây</p>
                        <p id="I_mavitri">ID V.Trí</p>
                        <p id="I_tenvitri">Tên V.Trí</p>
                        <p id="I_thongtinsocot">Số cột</p>
                        <p id="I_toadoX">Vĩ độ</p>
                        <p id="I_toadoY">Kinh độ</p>
                        <p id="I_loaicot">Loại cột</p>
                        <p id="I_chieucao">Chiều cao</p>
                        <p id="I_nhasanxuat">Nhà sản xuất</p>
                    </div>
                </div>
            </div>
            <!--II-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;">
                <div class="panel-heading" style="background-color: #A9F5E1; border:0; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeII" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#II" style="text-decoration: none; color: black; font-weight: bold; font-size: 13px; padding: 4px">II.
                            Thông tin thiết bị</a>
                    </h4>
                </div>
                <div id="II" class="panel-collapse collapse" style="padding: 0;">
                    <div class="panel-body" style="padding: 0;">
                        <!-- <form style="margin-top: 5px;display: none;">
                                <input placeholder="Tìm kiếm" class="search_thongtinkhachhang" type="search">
                            </form> -->
                        <!-- <ul id="ul_khachhang" style="overflow: auto; width: 100%;">
                                Thêm trong JS
                            </ul> -->
                        <ul id="ul_thietbi" style="overflow: auto; width: 100%;">
                        </ul>
                    </div>
                </div>
            </div>
            <!--III-->
            <div class="panel panel-default" style="border:0; background-color: #343a40;">
                <div class="panel-heading" style="background-color: #A9F5E1; padding: 4px">
                    <h4 class="panel-title">
                        <a id="tieudeIII" class="nav-link nav-link-collapse" data-toggle="collapse" data-parent="#accordion"
                            href="#III" style="text-decoration: none; color: black; font-weight: bold; font-size: 13px; padding: 4px">III.
                            Hình Ảnh Hiện Trường</a>
                    </h4>
                </div>
                <div id="III" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0">
                        <div id="hinhanh" style="overflow: auto; width: 100%">
                            <!--Thêm trong JS-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main">
    <!--<div id="floating-panel">
            <input onclick="clearMarkers();" type=button value="Hide Markers">
            <input onclick="showMarkers();" type=button value="Show All Markers">
            <input onclick="deleteMarkers();" type=button value="Delete Markers">
        </div> -->
        <div class="search-wrapper" id="search-wrapper">
            <div class="input-holder">
                <input id="pac-input" type="text" class="search-input" placeholder="Tìm kiếm địa điểm" />
                <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
            </div>
            <span class="close" onclick="searchToggle(this, event);"></span>
        </div>
        <div class="search-cot" id="search-cot">
            <div class="input-holder-cot">
                <input id="input-cot" type="text" class="search-input-cot" placeholder="Tìm kiếm cột" />
                <button class="search-icon-cot" onclick="searchcotToggle(this, event);"><span></span></button>
            </div>
            <span class="close" onclick="searchcotdisable(this, event)"></span>
        </div>
    <div id="map"></div>
</div>
<!-- BAT DAU: DIALOG THU 1-->
<div id="id01" class="w3-modal" style=" padding-top: 50px">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1000px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Chi Tiết Thông Tin Khách Hàng</div>
        </div>
        <div class="dialog_row_layout" style="padding-top: 6px;padding-left: 6px; padding-right: 6px ">
            <ul class="nav nav-pills">
                <li class="active">
                    <a data-toggle="pill" href="#thongtinkhachhang">I. Thông Tin Khách Hàng</a>
                </li>
                <li>
                    <a data-toggle="pill" href="#thongtindiemdo">II. Thông Tin Điểm Đo</a>
                </li>
                <li>
                    <a data-toggle="pill" href="#hethongdodem">III. Hệ Thống Đo Đếm</a>
                </li>
                <li>
                    <a data-toggle="pill" href="#anhkhachhang">IV. Hình Ảnh Khách Hàng</a>
                </li>
                <li>
                    <a data-toggle="pill" href="#hosodientu">V. Hồ Sơ Điện Tử</a>
                </li>
            </ul>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="tab-content">
            <!-- THONG TIN KHACH HANG -->
            <div id="thongtinkhachhang" class="tab-pane fade in active">
                <div class="dialog_row_layout" style="margin-top: 4px">
                    <div class="col-15">
                        <label for="fname">Mã Khách Hàng:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_makhang" placeholder="Mã Khách Hàng">
                    </div>
                    <div class="col-15">
                        <label for="fname">Ghi Chú:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_ghichu" placeholder="Ghi Chú">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-15">
                        <label for="fname">Tên Khách Hàng: </label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_tenkhang" placeholder="Tên Khách Hàng">
                    </div>
                    <div class="col-15">
                        <label for="fname">Người Gửi:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_nguoigui" placeholder="Người Gửi">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-15">
                        <label for="fname">Địa Chỉ:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_diachikhang" placeholder="Địa Chỉ Khách Hàng">
                    </div>
                    <div class="col-15">
                        <label for="fname">Ngày Gửi:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_ngaygui" placeholder="Ngày Gửi">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-15">
                        <label for="fname">Số Điện Thoại:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_dienthoai" placeholder="Số Điện Thoại">
                    </div>
                    <div class="col-15">
                        <label for="fname">Ngày Lấy CMIS:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_ngaylay" placeholder="Ngày Lấy">
                    </div>
                </div>
                <div class="dialog_row_layout" style="margin-bottom: 6px">
                    <div class="col-15">
                        <label for="fname">Email: </label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_email" placeholder="Email">
                    </div>
                    <div class="col-15">
                        <label for="fname">Tài Khoản:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_nguoilay" placeholder="Người Lấy">
                    </div>
                </div>
            </div>

            <!-- THONG TIN DIEM DO -->
            <div id="thongtindiemdo" class="tab-pane fade">
                <div class="dialog_row_layout" style="margin-top: 4px">
                    <div class="col-15">
                        <label for="fname">Mã Điểm Đo:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_maddo" placeholder="Mã Điểm Đo">
                    </div>
                    <div class="col-15">
                        <label for="fname">Mã Lộ:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_malo" placeholder="Mã Lộ">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-15">
                        <label for="fname">Địa Chỉ SDĐ:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_diachisdd" placeholder="Địa Chỉ Sử Dụng Điện">
                    </div>
                    <div class="col-15">
                        <label for="fname">Số Cột:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_socot" placeholder="Số Cột">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-15">
                        <label for="fname">Tọa Độ SDĐ:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_toadosdd" placeholder="Tọa Độ Địa Chỉ Sử Dụng Điện">
                    </div>
                    <div class="col-15">
                        <label for="fname">Tọa Độ Cột:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_toadocot" placeholder="Tọa Độ Cột">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-15">
                        <label for="fname">Số Pha:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_sopha" placeholder="Số Pha">
                    </div>
                    <div class="col-15">
                        <label for="fname">Số Thùng:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_sothung" placeholder="Số Thùng">
                    </div>
                </div>
                <div class="dialog_row_layoutrow">
                    <div class="col-15">
                        <label for="fname">Pha:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_pha" placeholder="Pha">
                    </div>
                    <div class="col-15">
                        <label for="fname">Vị Trí Thùng:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_vtrithung" placeholder="Vị Trí Thùng">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-15">
                        <label for="fname">Số Hộ: </label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_soho" placeholder="Số Hộ">
                    </div>
                    <div class="col-15">
                        <label for="fname">Loại Thùng:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_loaithung" placeholder="Loại Thùng">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-15">
                        <label for="fname">Sổ Ghi Chỉ Số: </label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_sogcs" placeholder="Sổ Ghi Chỉ Số">
                    </div>
                    <div class="col-15">
                        <label for="fname">Vị Trí Công Tơ:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_vtricto" placeholder="Vị Trí Công Tơ">
                    </div>
                </div>
                <div class="dialog_row_layout">
                    <div class="col-15">
                        <label for="fname">Số Thứ Tự: </label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_stt" placeholder="Số Thứ Tự Của Sổ">
                    </div>
                    <div class="col-15">
                        <label for="fname">Vị Trí Treo:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_vtritreo" placeholder="Vị Trí Treo">
                    </div>
                </div>
                <div class="dialog_row_layout" style="margin-bottom: 6px">
                    <div class="col-15">
                        <label for="fname">Mã Trạm: </label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_tram" placeholder="Mã Trạm">
                    </div>
                    <div class="col-15">
                        <label for="fname">Giá Điện:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="dialog_giadien" placeholder="Giá Điện">
                    </div>
                </div>
            </div>

            <!-- HE THONG DO DEM -->
            <div id="hethongdodem" class="tab-pane fade">
                <form style="height:400px;overflow-y:auto;margin-bottom: 0" }>
                    <div class="dialog_row_layout" style="margin-top: 4px">
                        <div class="col-15">
                            <label for="fname">Mã Công Tơ:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_macongto" placeholder="Mã Công Tơ">
                        </div>
                        <div class="col-15">
                            <label for="fname">Mã TI1:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_mati1" placeholder="Mã TI1">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Chủng Loại: </label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_chungloai" placeholder="Chủng Loại">
                        </div>
                        <div class="col-15">
                            <label for="fname">Chủng Loại TI1:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_chungloaiti1" placeholder="Chủng Loại TI1">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Năm Sản Xuất:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_namsanxuat" placeholder="Năm Sản Xuất">
                        </div>
                        <div class="col-15">
                            <label for="fname">Năm S.Xuất TI1:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_namsanxuatti1" placeholder="Năm Sản Xuất TI1">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Số Công Tơ:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_socongto" placeholder="Số Công Tơ">
                        </div>
                        <div class="col-15">
                            <label for="fname">Số TI1:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_soti1" placeholder="Số TI1">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Ngày Treo:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_ngaytreo" placeholder="Ngày Treo">
                        </div>
                        <div class="col-15">
                            <label for="fname">Ngày Treo TI1:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_ngaytreoti1" placeholder="Ngày Treo TI1">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Ngày Kiểm Định: </label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_ngaykiemdinh" placeholder="Ngày Kiểm Định">
                        </div>
                        <div class="col-15">
                            <label for="fname">Ngày K.Định TI1:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_ngaykiemdinhti1" placeholder="Ngày K.Định TI1">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Hệ Số Nhân: </label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_hesonhan" placeholder="Hệ Số Nhân">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <!--////////////////////////////////-->
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Mã TI2:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_mati2" placeholder="Mã TI2">
                        </div>
                        <div class="col-15">
                            <label for="fname">Mã TI3:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_mati3" placeholder="Mã TI3">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Chủng Loại TI2: </label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_chungloaiti2" placeholder="Chủng Loại TI2">
                        </div>
                        <div class="col-15">
                            <label for="fname">Chủng Loại TI3:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_chungloaiti3" placeholder="Chủng Loại TI3">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Năm S.Xuất TI2:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_namsanxuatti2" placeholder="Năm Sản Xuất TI2">
                        </div>
                        <div class="col-15">
                            <label for="fname">Năm S.Xuất TI3:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_namsanxuatti3" placeholder="Năm Sản Xuất TI3">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Số TI2:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_soti2" placeholder="Số TI2">
                        </div>
                        <div class="col-15">
                            <label for="fname">Số TI3:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_soti3" placeholder="Số TI3">
                        </div>
                    </div>
                    <div class="dialog_row_layout">
                        <div class="col-15">
                            <label for="fname">Ngày Treo TI2:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_ngaytreoti2" placeholder="Ngày Treo TI2">
                        </div>
                        <div class="col-15">
                            <label for="fname">Ngày Treo TI3:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_ngaytreoti3" placeholder="Ngày Treo TI1">
                        </div>
                    </div>
                    <div class="dialog_row_layout" style="margin-bottom: 6px">
                        <div class="col-15">
                            <label for="fname">Ngày K.Định TI2: </label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_ngaykiemdinhti2" placeholder="Ngày Kiểm Định TI2">
                        </div>
                        <div class="col-15">
                            <label for="fname">Ngày K.Định TI3:</label>
                        </div>
                        <div class="col-35">
                            <input type="text" id="dialog_ngaykiemdinhti3" placeholder="Ngày K.Định TI3">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Anh KHACH HANG -->
            <div id="anhkhachhang" class="tab-pane fade" style="background:#343A40;width: 100%; height:70%; overflow: auto">
                <!-- Them trong javascript -->
            </div>

            <!-- HO SO DIEN TU -->
            <div id="hosodientu" class="tab-pane fade" style="height:70%">
                <div style="width:100%">
                    <div style="background:#343A40; float:left;width:25%; height:100%">
                        <div class="tieude">
                            <div class="tentieude" id="tieudesohoa"></div>
                        </div>

                        <ul id="ul_hosodientu">
                            <!-- Them trong javascript -->
                        </ul>

                    </div>
                    <div style="background:rgb(64, 56, 52); float: left;width:75%; height:100%">
                        <object id="obj_hosodientu" type="application/pdf" width="100%" height="100%">
                        </object>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog_ngancach_layout" style="margin-top: 0">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div class="col-50">
                <button class='button_dongy' style="display: table;margin: 0 auto" onclick="clickGuiCMIS()">Gửi CMIS</button>
            </div>
            <div class="col-50">
                <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id01').style.display='none'">Thoát</button>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 1-->

<!-- BAT DAU: DIALOG THU 4-->
<div id="id_image" class="w3-modal" style="padding-top: 50px">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:60%; height:auto">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Hình Ảnh Hiện Trường</div>
        </div>
        <div class="slideshow-container" style="height: auto; text-align:center" id="hinhanhslide">
            <!-- Them trong java script-->
        </div>
        <a class="prev w3-hover-white" id="anh_prev" onclick="plusSlides(-1)">❮</a>
        <a class="next w3-hover-white" id="anh_next" onclick="plusSlides(1)">❯</a>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="dialog_row_layout_bottom">
            <div style=" float: left;width: 40%; height: auto;">
                <div class="chatlogs" style="width:100%; overflow-x: auto;  overflow-y: auto;" id="dotanh">
                </div>
            </div>
            <div style=" float: left;width: 20%;">
                <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id_image').style.display='none'">Thoát</button>
            </div>
            <div style=" float: left;width: 40%;height:35px" id="tenaanh">
                <div style="padding-top: 8px;padding-bottom: 8px" id="tenhinhanh">Caption Text</div>
            </div>
        </div>
    </div>
</div>
<!-- KET THUC: DIALOG THU 4-->

<!-- BAT DAU: DIALOG THU 10-->
<div id="id10" class="w3-modal" style=" padding-top: 50px">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1000px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">THÔNG TIN TẢI TỪ FILE EXCEL DANH SÁCH HÌNH ẢNH</div>
        </div>
        <div class="dialog_row_layout" style="padding-top: 6px;padding-left: 6px; padding-right: 6px ">
            <ul class="nav nav-pills">
                <div>
                    <form id="frmUploader" enctype="multipart/form-data" action="UploadImages" method="post">
                        <!-- <input type="file" name="imgUploader" multiple /> Upload Image -->
                        <input type="file" multiple name="imgUploader" id="gallery-photo-add">
                        <input type="submit" name="submit" id="btnSubmit" value="Upload" />
                    </form>
                </div>
            </ul>
        </div>
        <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
        </div>
        <div class="tab-content">
            <div id="thongtinhinhanh" class="tab-pane fade in active">
                <div class="card-body" width="100%">
                    <div class="table-responsive" width="100%">
                        <div class="image-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog_ngancach_layout" style="margin-top: 0">
                <div style="height: 2px"></div>
            </div>
            <div class="dialog_row_layout_bottom">
                <div class="col-50">
                    <button class='button_dongy' style="display: table;margin: 0 auto" onclick="">Gửi Dữ liệu</button>
                </div>
                <div class="col-50">
                    <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id10').style.display='none'">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BAT DAU: DIALOG THU 11-->
<div id="id11" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
        <div class="dialog_header_layout">
            <div class="dialog_header_text">Xuất Excel</div>
        </div>
        <div id="xuatexcel" onclick="clickXuatExcelBandoluoidien()" class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 16px;padding-bottom: 10px">
            <a id="text_xacnhan2" style="display: block;cursor: pointer;font-weight: bold;">Bản Đồ Lưới Điện</a>
        </div>
        <div id="xuatexcel" onclick="clickXuatExcelDuongdanhinhanh()" class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 16px;padding-bottom: 10px">
            <a id="text_xacnhan2" style="display: block;cursor: pointer;font-weight: bold;">Đường Dẫn Hình Ảnh</a>
        </div>
        <div class="dialog_row_layout_bottom">
            <div>
                <button class='button_khongdongy' style="display: table; margin: 0 auto" onclick="document.getElementById('id11').style.display='none';document.getElementById('search-wrapper').style.display='block'">Thoát</button>
            </div>
        </div>
    </div>
</div>
<div id="snackbar"></div>
<!-- KET THUC: DIALOG THU 10: AIzaSyAH1DHQxp8GVKEd9yTTKFfFa5BJuIuKG_I-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8g2zXBweswLuUXKWWVQzJpYhVSEY9PXc&libraries=places&callback=initAutocomplete"
    async defer></script>
<script type="text/javascript">
    //Ham Autocomlete cho google map version1
    var placeSearch, autocomplete;
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        var autocompleteOptions = {
            types: ['geocode'],
            // restrict to only Aussie addresses - change 'au' to any other 2-letter country code as you please
            componentRestrictions: { country: 'vn' }
        };

        //     // Change the ID on the line below as required
        var input = document.getElementById('pac-input');
        autocomplete = new google.maps.places.Autocomplete(input, autocompleteOptions);

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17); // Why 17? Because it looks good.
        }
        if (!marker) {
            marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });
            console.log("create new maker");
        } else {
            console.log("setmap null");
            marker.setMap(null);
            marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });
        }

        marker.setOptions({
            position: place.geometry.location,
            map: map
        });
        google.maps.event.addDomListener(window, 'load', initAutocomplete);
    }



</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/global.js"></script>
<script src="/js/luoidientrungthe.js"></script>
<script src="/js/excelexport.js"></script>
<script language="javascript" type="text/javascript">
    $(window).on('load', function () {
        $('#loading').hide();
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>