<!DOCTYPE html>
<html lang="en">

<% include head.ejs %>

    <body style="margin-top: 1%">
        <div style="overflow: hidden;">
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <p class="col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-size:14px;font-weight:bold;color:brown">2. Đường Dẫn Hình Ảnh</p>
                            <div class=" col-sm-7 col-md-5  col-lg-4" style="margin: auto; font-size:14px">
                                <li class="active" style="display: table-cell; text-align: left;vertical-align: middle">
                                    <input type="file" style="height: 100%; text-align: center" name="file" id="luoidienhathe_input_dshinhanh" />
                                </li>
                            </div>
                            <div class=" col-sm-7 col-md-5  col-lg-2">
                                <a class="text-download" onclick="clickXuatexcel()">Tải File !!!</a>
                                <div id="dvjson"></div>
                            </div>
                            <p id="excel_MA_DVIQLY" class="col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-size:14px;color:black; font-weight:bold;"></p>
                            <div class=" col-sm-7 col-md-5  col-lg-1">
                                <!-- <button type="button" class="button" style="width:100%" onclick="guiDuLieu_HINHANH()">Gửi</button> -->
                                <button type="button" class="button" style="width:100%" onclick="xacNhanGuiDuLieu()">Gửi</button>
                            </div>
                            <div class=" col-sm-7 col-md-5  col-lg-1">
                                <button type="button" class="button" style="width:100%" onclick="quayLai()">Hủy</button>
                                <div id="dvjson"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <tr style="display:flex" class="fix_header" style="width: calc(100%-20px)">
                                        <td style="width: 60px;">STT</td>
                                        <td style="width: 130px;">MA_DVIQLY</td>
                                        <td style="width: 175px;">MA_TRAMNGUON</td>
                                        <td style="width: 170px;">MA_XUATTUYEN</td>
                                        <td style="width: 120px;">MA_TRAM</td>
                                        <td style="width: 150px;">SO_COT</td>
                                        <td style="width: 150px;">MA_KHANG</td>
                                        <td style="width: 210px;">LOAI_HINHANH</td>
                                        <td style="width: 280px;">URL_THUMUC</td>
                                        <td style="width: 550px;">TEN_HINHANH</td>
                                        <td style="width: 150px;">NGAY_CHUP</td>
                                        <td style="width: 170px;">NGUOI_NHAP</td>
                                        <td style="width: 250px;">NGAY_NHAP</td>
                                    </tr>
                                <tbody id="tbody-table-dslinkhinhanh" style="overflow-y: auto;overflow-x: hidden;display:block; margin-right: -15px;">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
                </div>
            </div>
        </div>
        <!-- BAT DAU: DIALOG THU 2_excel-->
        <div id="id_excelduongdanhinhanh" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
                <div class="dialog_header_layout">
                    <div class="dialog_header_text">Gửi Dữ Liệu Đường Dẫn Hình Ảnh</div>
                </div>
                <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
                    <a id="text_excelduongdanhinhanh" style="display: block"></a>
                </div>
                <div class="dialog_ngancach_layout">
                    <div style="height: 2px"></div>
                </div>
                <div class="dialog_row_layout_bottom">
                    <div class="col-50">
                        <button class='button_dongy' style="display: table;margin: 0 auto" onclick="guiDuLieu_HINHANH()">Đồng ý</button>
                    </div>
                    <div class="col-50">
                        <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id_excelduongdanhinhanh').style.display='none'">Hủy</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/select2.min.js"></script>
        <script src="/js/global.js"></script>
        <script src="/js/excelexport.js"></script>
        <script src="/js/luoidienhathe_uploaddslinkhinhanh.js"></script>
        <script language="javascript" type="text/javascript">
            $(window).on('load', function () {
                $('#loading').hide();
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    </body>

</html>
