<!DOCTYPE html>

<html lang="en">

<% include head.ejs %>

<body style="margin-top: 15px">
    <% if (messageupload.length > 0) { %>
    <% if (messageupload == 'true') { %>
    <div class="alert alert-danger">Gửi dữ liệu thành công.</div>
    <% } else {%>
    <div class="alert alert-danger">Gửi dữ liệu thất bại, bạn vui lòng gửi lại.</div>
    <% } %>
    <% } %>
    <div style="overflow: hidden;">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <p style="padding-left: 7px;padding-top: 0px; padding-bottom: 0px; font-size:15px;font-weight:bold;color:brown">
                            III. Hình Ảnh Hiện Trường</p>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span style="font-size:14px;font-weight:bold">Đơn vị:</span><br>
                            <span style="font-size:14px;font-weight:bold">Trạm:</span><br>
                            <span style="font-size:14px;font-weight:bold">Số
                                cột:</span>
                        </div>
                        <div class="col-md-3">
                            <span style="font-size:14px" id="text_madviqly"></span><br>
                            <span style="font-size:14px" id="text_matram"></span><br>
                            <span style="font-size:14px" id="text_socot"></span>
                        </div>
                        <div class="col-md-8" style="margin: auto; font-weight:bold; font-size:14px">

                            <form enctype="multipart/form-data" action="UploadImages_COT" method="post"
                                style="margin-top: -15px;margin-bottom: 10px;">
                                <input type="file" multiple name="imgUploader_COT" id="gallery-photo-add">
                                <input type="hidden" name="madviqly" value="quangthuan">
                                <input type="hidden" name="matram" value="quangthuan">
                                <input type="hidden" name="socot" value="socot">
                                <input type="hidden" name="taikhoan" value="quangthuan">
                                <input type="submit" value="Gửi ảnh">
                                <input type="button" value="Hủy" onclick="quayLai()">
                            </form>
                            <span class="text-download" style="font-size:14px">Bạn nên upload dưới
                                50 ảnh trên 1 lần gửi để có hiệu năng tốt nhất</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog_ngancach_layout">
                <div style="height: 2px"></div>
            </div>

            <div class="responsive-parent">
            </div>
            <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
        </div>

    </div>

    <!-- BAT DAU: DIALOG THU 3_excel-->
    <div id="id01_excel" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
            <div class="dialog_header_layout">
                <div class="dialog_header_text">Gửi Dữ Liệu Bản Đồ Lưới Điện THÀNH CÔNG</div>
            </div>
            <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
                <a id="text_xacnhan_excel_1" style="display: block"></a>
            </div>
            <div class="dialog_ngancach_layout">
                <div style="height: 2px"></div>
            </div>
            <div class="dialog_row_layout_bottom">
                <div class="col-50">
                    <button class='button_dongy' style="display: table;margin: 0 auto" onclick="clickDongy()">Đồng
                        ý</button>
                </div>
                <div class="col-50">
                    <button class='button_khongdongy' style="display: table;margin: 0 auto"
                        onclick="document.getElementById('id01_excel').style.display='none'">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/luoidienhathe_uploadhinhanhcot.js"></script>
    <script language="javascript" type="text/javascript">
        $(window).on('load', function () {
            $('#loading').hide();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
</body>

</html>