<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a href=".">
        <img src="images/ic_logo.png" style="width:40px;height:40px;margin-right: 5px" />
    </a>
    <a class="navbar-brand" href=".">EVNCPC TTHT</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="giaodien_trangchu" class="navbar-nav navbar-sidenav" id="exampleAccordion" style="max-height: calc(100vh);overflow-y: auto">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CMIS-Lưới Điện Hạ Thế">
                <a class="nav-link" href="/luoidienhathe">
                    <i class="fa fa-fw fa fa-map-o"></i>
                    <span class="nav-link-text">CMIS - Hạ Thế</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Báo Cáo Thông Kê">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents_hathe"
                    data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Báo Cáo Hạ Thế</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents_hathe">
                    <li>
                        <a href="/baocaohathe_tongquan">1. Tổng Quan</a>
                    </li>
                    <li>
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#hathe_khachhang">2.
                            Khách Hàng</a>
                        <ul class="sidenav-second-level collapse" id="hathe_khachhang">
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_khachhang">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.1 Báo Cáo Khách Hàng</a>
                            </li>
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_khachhangsai">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2 C.Tiết KH Sai Số
                                    Cột</a>
                            </li>
                        </ul>
                    </li>
                    <li id="baocaohathe_thongtinkhachhang_rasoatthongtin">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#hathe_anhcuacot">3.
                            Ảnh của cột</a>
                        <ul class="sidenav-second-level collapse" id="hathe_anhcuacot">
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_cotdien">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    3.1 Cột Hoàn Thành Ảnh</a>
                            </li>
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_cotdien_chitiethinhanh">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    3.2 Cột không đủ 3 ảnh</a>
                            </li>
                        </ul>
                    </li>
                    <li id="baocaohathe_thongtinkhachhang_rasoatthongtin">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#hathe_khachhangHTTT">4.
                            KH Hoàn Thành T.Tin</a>
                        <ul class="sidenav-second-level collapse" id="hathe_khachhangHTTT">
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_khachhang_rasoatthongtin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.1
                                    KH Hoàn thành T.Tin</a>
                            </li>
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_khachhang_thieuthongtinkhachhang">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2
                                    Thiếu T.Tin KH</a>
                            </li>
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_khachhang_thieuthongtindiemdo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.3
                                    Thiếu T.Tin Đ.Đo</a>
                            </li>
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_khachhang_thieuthongtindodem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.4
                                    Thiếu T.Tin Đ.Đếm</a>
                            </li>
                        </ul>
                    </li>

                    <li id="baocaohathe_khachhang_thongtinanhkhachhang">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#hathe_thongtinanhKH">5.
                            KH Hoàn Thành Ảnh</a>
                        <ul class="sidenav-second-level collapse" id="hathe_thongtinanhKH">
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_khachhang_thongtinanhkhachhang">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.1
                                    KH Hoàn Thành Ảnh</a>
                            </li>
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_khachhang_thongtinanhkhachhang_thieuanh">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.2
                                    CT Thiếu Ảnh KH</a>
                            </li>
                            <li style="font-size: 13px">
                                <a href="/baocaohathe_khachhang_thongtinanhkhachhang_thieuanhcongto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.3
                                    CT Thiếu Ảnh ĐD C.Tơ</a>
                            </li>
                        </ul>
                    </li>

                    <li id="baocaohathe_khachhang_hoanthanhtram">
                        <a href="/baocaohathe_khachhang_hoanthanhtram">6. Trạm Hoàn Thành KH</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="PMIS-Lưới Điện Trung Thế">
                <a class="nav-link" href="/luoidientrungthe">
                    <i class="fa fa-fw fa fa-map-o"></i>
                    <span class="nav-link-text">PMIS - Trung Thế</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Báo Cáo Thông Kê">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents_trungthe"
                    data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Báo Cáo Trung Thế</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents_trungthe">
                    <li>
                        <a href="/baocaotrungthe_tongquan">1. Tổng Quan</a>
                    </li>
                </ul>
            </li>
            <li id="menu_phanquyen" class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản Lý Phân Quyền">
                <a class="nav-link" href="/quanlyphanquyen">
                    <i class="fa fa-fw fa fa-columns"></i>
                    <span class="nav-link-text">Quản Lý Phân Quyền</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bất Thường Hiện Trường">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents_BTHT"
                    data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa fa-columns"></i>
                    <span class="nav-link-text">Tồn Tại Lưới Điện</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents_BTHT">
                    <li>
                        <a href="/btht_bandoluoidien">1. Ban An Toàn - Vị Trí Nguy Hiểm</a>
                    </li>

                    <li>
                        <a href="/btht_vitribatthuong">2. Vị Trí Bất Thường</a>
                    </li>
                    <li>
                        <a href="/btht_kiemtratheotuyenday">3. Thống Kê Kết Quả Kiểm Tra Theo Tuyến Dây </a>
                    </li>
                    <li>
                        <a href="">4. Thống Kê Điểm Mất An Toàn </a>
                    </li>
                    <li>
                        <a href="">5. Biên Bản Kiểm Tra Lưới Điện</a>
                    </li>
                </ul>
            </li>
            <li id="menu_treothao" class="nav-item" data-toggle="tooltip" data-placement="right" title="Treo Tháo Công Tơ">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents_ttct"
                    data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa fa-columns"></i>
                    <span class="nav-link-text">Treo Tháo Công Tơ</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents_ttct">
                    <li>
                        <a href="/treothaocongto_cauhinhchuongtrinh">1. Cấu hình</a>
                    </li>
                    <li>
                        <a href="/treothaocongto_phanquyen">2. Phân Quyền</a>
                    </li>
                    <li>
                        <a href="/treothaocongto_duyetdanhsach">3.1 Phân Công Treo Tháo</a>
                    </li>
                    <li>
                        <a href="/treothaocongto_quanlytreothao">3.2 Quản Lý Treo Tháo</a>
                    </li>
                    <li>
                        <a href="/treothaocongto_thongketreothao">3.3 Thống Kê Treo Tháo</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Quản Lý Vị Trí">
                <a class="nav-link" href="/quanlyvitri">
                    <i class="fa fa-fw fa fa-columns"></i>
                    <span class="nav-link-text">Quản Lý Vị Trí</span>
                </a>
            </li>
            <!-- hien thi link google analytic -->
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Google ">
                <a class="nav-link" href="/bieudo">
                    <i class="fa fa-fw fa fa-sitemap"></i>
                    <span class="nav-link-text">Biểu Đồ - Người Dùng</span>
                </a>
            </li>
            <!-- hien thi link portal -->
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Google ">
                <a class="nav-link" href="/thuvienchuongtrinh">
                    <i class="fa fa-fw fa fa-sitemap"></i>
                    <span class="nav-link-text">Tiện Ích CPC</span>
                </a>
            </li>

            <li class="nav-item" hidden data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages"
                    data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-file"></i>
                    <span class="nav-link-text">Example Pages</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                    <li>
                        <a href="login.html">Login Page</a>
                    </li>
                    <li>
                        <a href="register.html">Registration Page</a>
                    </li>
                    <li>
                        <a href="forgot-password.html">Forgot Password Page</a>
                    </li>
                    <li>
                        <a href="blank.html">Blank Page</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" hidden data-toggle="tooltip" data-placement="right" title="Menu Levels">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"
                    data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-sitemap"></i>
                    <span class="nav-link-text">Menu Levels</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMulti">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third
                            Level</a>
                        <ul class="sidenav-third-level collapse" id="collapseMulti2">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item" hidden data-toggle="tooltip" data-placement="right" title="Link">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-link"></i>
                    <span class="nav-link-text">Link</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler" id="sidenav-hide">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" id="header_tentaikhoan">
                    <i class="fa fa-fw"></i>Chưa đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" onclick="clickDangnhap()" id="header_dangnhap">
                    <i class="fa fa-fw fa-sign-in"></i>Đăng Nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" onclick="clickDangxuat()" id="header_dangxuat">
                    <i class="fa fa-fw fa-sign-out"></i>Đăng Xuất</a>
            </li>
        </ul>
    </div>
</nav>