<% include header_congtydienluctram.ejs %>
    <div id="loading">
        <img id="loading-image" src="images/loadingmap.gif" alt="Đang tải dữ liệu..." />
    </div>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <div style="background:#343A40;width: 100%; height:80%; overflow: auto">
            <div class="tieude">
                <div class="tentieude" id="tieudeI">I. Thông Tin Khách Hàng</div>
            </div>
            <ul id="ul_khachhang">
                <!-- Them trong javascript -->
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="row">
            <!-- 0000000000 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude">I. Thông Tin K.Hàng</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 1 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">1. Mã Khách Hàng:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_makhang"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 2 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">2. Tên Khách Hàng:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_tenkhang"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 3 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">3. Địa Chỉ Khách Hàng:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_diachi"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 4 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">4. Số Điện Thoại:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_sdt"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 5 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">5. Email:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_email"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 66666666 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude">II. Thông Tin Điểm Đo</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 7 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">1. Mã Điểm Đo:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_maddo"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!--8 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">2. Địa Chỉ Sử Dụng Điện:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_dchisdd"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 9 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">3. Tọa Độ Sử Dụng Điện:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_toadosdd"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 10 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">4. Số Pha:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_sopha"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 11 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">5. Pha:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_pha"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 12 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">6. Số Hộ:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_soho"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!--13 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">7. Sổ Ghi Chỉ Số:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_sogcs"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 14 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">8. Số Thứ Tự Của Sổ:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_stt"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 15 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">9. Mã Trạm:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_matram"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 16 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">10. Mã Lộ:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_soho"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 17 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">11. Số Cột:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_socot"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>

            <!-- 18 -->
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_tieude">11. Tọa Độ Cột:</p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="left_khongtieude" id="left_toadocot"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="height: 30px;display: table">
                <p class="tentieude"></p>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/thongtinkhachhang.js"></script>
    <script language="javascript" type="text/javascript">
        $(window).on('load', function () {
            $('#loading').hide();
        });
    </script>




