<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tiện Ích CPC</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">Tiện Ích CPC</h3>

      <div class="row text-center text-lg-left">

        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="." class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer"  style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_logo.png" alt="" style="height:75px;width: 75px">
            <p>TTHT</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://cmis3.cpc.vn" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_cmis.png" alt="" style="height:75px;width: 75px">
            <p>CMIS 3.0</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://cpm.cpc.vn:8080/cpm1_app/publish.htm" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_cpm.png" alt="" style="height:75px;width: 75px">
            <p>CPM-App</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://cpm.cpc.vn" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_cpm.png" alt="" style="height:75px;width: 75px">
            <p>CPM</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://10.72.82.123/crm" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_crm.png" alt="" style="height:75px;width: 75px">
            <p>CRM</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://spider.cpc.vn" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_rfspider.png" alt="" style="height:75px;width: 75px">
            <p>RF Spider</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="https://cskh.cpc.vn/" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/logoEVNCPC_CSKH.png" alt="" style="height:75px;width: 75px"> 
            <p>CSKH</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://pmis.cpc.vn" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/Pmis.png" alt="" style="height:75px;width: 75px">
            <p>PMIS</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="https://eoffice.cpc.vn/" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_eoffice.png" alt="" style="height:75px;width: 75px">
            <p>CPC-eOffice</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://portalnew.cpc.vn/" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_portal.png" alt="" style="height:75px;width: 75px">
            <p>Portal</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="https://hrms.cpc.vn/" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_hrms.png" alt="" style="height:75px;width: 75px">
            <p>HRMS</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://spider.cpc.vn/gis/" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size: 13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_spidergis.png" alt="" style="height:75px;width: 75px">
            <p>Spider GIS</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="https://mail.cpc.vn/" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_mail.png" alt="" style="height:75px;width: 75px">
            <p>CPC-Mail</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://qlcv.cpc.vn/smscmis3/" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/ic_sms.png" alt="" style="height:75px;width: 75px">
            <p>SMS CSKH</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://10.72.96.69:8079/QUANLY_CAP/publish.htm" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
            <p>Quản Lý Cáp</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="javascript:;" class="d-block mb-4 h-100" data-toggle="modal" data-target="#tracnghiemModal" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
            <p>Thi Trắc Nghiệm</p>
          </a>
        </div>
        <!-- <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="https://tracnghiem.cpc.vn/etest_antoan/Dangnhap.aspx" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
            <p>Trắc Nghiệm<br>An Toàn Điện</p>
          </a>
        </div> -->
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="http://10.72.0.162/dvblapp/index.html" class="d-block mb-4 h-100" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
            <p>DVBLĐN</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="https://cpc.vn/vi-vn/" class="d-block mb-4 h-100" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
            <p>Tin Tức</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="https://cpass.cpc.vn/" class="d-block mb-4" target="_blank"
            rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
            <p>Đổi Mật Khẩu<br>eOffice,<br>AD</p>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6">
          <a href="javascript:;" class="d-block mb-4 h-100" data-toggle="modal" data-target="#gddModal" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
            <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
            <p>Giấy Đi Đường</p>
          </a>
        </div>
      </div>

    </div>
    <!-- /.container -->
   
    <!-- Footer
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div> -->
      <!-- /.container -->
    <!-- </footer> -->
    <% include foot_script.ejs %>
    <!-- Bootstrap core JavaScript -->
   
    <div id="tracnghiemModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Trắc nghiệm</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row text-center text-lg-left">
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://tracnghiem.cpc.vn/etest_antoan/Dangnhap.aspx" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>An Toàn Điện</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://tracnghiem.cpc.vn/cnkt/Dangnhap.aspx" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Nâng bậc,<br>Giữ bậc,<br>Sát hạch</p>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> <!--end Trắc nghiệm-->

    <div id="gddModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Giấy Đi Đường</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row text-center text-lg-left">
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qldd.cpc.vn/" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Tổng Công Ty</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddcreb.cpc.vn/creb" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>CREB</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddcpcit.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>CPCITC</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddquangbinh.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Quảng Bình</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddquangtri.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Quảng Trị</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddtth.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Thừa Thiên Huế</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qldddanang.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Đà Nẵng</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddquangnam.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Quảng Nam</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddquangngai.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Quảng Ngãi</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddbinhdinh.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Bình Định</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddphuyen.cpc.vn/" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Phú Yên</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddkhanhhoa.cpc.vn/" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Khánh Hòa</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddgialai.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Gia Lai</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qlddkontum.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Kontum</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qldddaklak.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Đắc Lắk</p>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-xs-6">
                <a href="https://qldddaknong.cpc.vn" class="d-block mb-4" target="_blank" rel="noopener noreferrer" style="text-align: center;font-weight: bolder;font-size:13px;color:black">
                  <img class="img-fluid img-thumbnail" src="images/CPC_logo.png" alt="" style="height:75px;width: 75px">
                  <p>Đắc Nông</p>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> <!--Giấy đi đường-->
  </body>

</html>
