<!DOCTYPE html>

<html lang="en">
<% include head.ejs %>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" style="overflow: hidden;">
  <!-- Navigation-->
  <% include navigation.ejs %>

  <!--wrapper-->
  <div id="wrapper" class="content-wrapper" style="overflow: hidden;">

    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <p class="col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-size:14px;font-weight:bold;color:brown">3.1
              Phân Công Treo Tháo</p>
            <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
              <select id="congty" class="combo" style="width:100%;color:black">
              </select>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
              <select id="dienluc" class="combo" style="width:100%;color:black">
              </select>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
              <select id="tram" class="combo" style="width:100%;color:black">
              </select>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-1"style="margin: auto;">
              <button type="button" class="button" style="width:100%" onclick="clickTaoBangDuLieu()">Xem</button>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-1">
            </div>
          </div>
          <div class="row" style="margin-top: -10px;">
            <div class=" col-sm-7 col-md-5  col-lg-2" style="margin-top: 18px; font-weight:bold; font-size:14px">
              <span>
                <label class="container" style="margin-left: 103px">
                  <input id="isChonTatCaKhachHang" name="cb_date" type="checkbox" onclick="chonTatCaKhachHang()">
                  <span class="checkmark"></span>
                </label>
              </span>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-3" style="margin-top: 18px; font-weight:bold; font-size:14px">
              <select id="nhanvientreothao" class="combo" style="width:100%;color:black">
              </select>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-3" style="font-weight:bold; font-size:14px">
              <div class="col-50" style="margin-top: 18px;margin-left: -20px;font-weight:bold; font-size:14px">
                <button type="button" id="btn_duyetdstreothao" onclick="xacNhan()">Xác Nhận</button>
              </div>
              <!-- <div class="col-50" style="margin-left: 10px;margin-top: 16px;font-weight:bold; font-size:14px">
                <button type="button" id="btn_duyetdstreothao" onclick="clickDongboCMIS()">Đồng Bộ CMIS</button>
            </div> -->
            </div>
             
            
            <div class=" col-sm-7 col-md-5  col-lg-3" style="margin-top: 18px; font-weight:bold; font-size:14px">
              <form class="TTCT_searchTTKH" style="margin:auto;max-width:300px">
                <input type="text"  style="border: 1px solid teal;"  placeholder="Tìm kiếm khách hàng" class="search_thongtinkhachhang_input"
                    name="search2">
                <!-- <div class="button_timkiemkhachhang" onclick="timKiemNhanh()"><i class="fa fa-search fa-1x"></i></div> -->
            </form>
            </div>
            <!-- <div class=" col-sm-7 col-md-5  col-lg-3 ">
                <form class="search_thongtinkhachhang" style="margin:auto;max-width:300px">
                    <input type="text"  style="border: 2px solid darkslategray"  placeholder="Tìm kiếm khách hàng" class="search_thongtinkhachhang_input"
                        name="search2">
                    <div class="button_timkiemkhachhang" onclick="timKiemNhanh()"><i class="fa fa-search fa-1x"></i></div>
                </form>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead style="text-align: center">
                <tr>
                  <th>STT</th>
                  <th id="dangkytreothao">Chọn</th>
                  <th>Mã Điểm Đo</th>
                  <th>Tên KH</th>
                  <th>Địa Chỉ SDĐ</th>
                  <th>Số Công Tơ</th>
                  <th>Mã Sổ GCS - STT</th>
                  <th>NV Được Phân Công</th>
                  <th>Xem Thông Tin</th>
                </tr>
              </thead>
              <tbody id="tbody">
              </tbody>
              <tfoot style="text-align: center">
              </tfoot>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
      </div>
    </div>

    <div id="snackbar"></div>
    <!-- footer-->
    <% include foot.ejs %>
  </div>

  <!-- BAT DAU: DIALOG THU 1-->
  <div id="id01" class="w3-modal" style=" padding-top: 50px">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1000px">
      <div class="dialog_header_layout">
        <div class="dialog_header_text">Chi Tiết Thông Tin Khách Hàng</div>
      </div>
      <div class="dialog_row_layout" style="padding-top: 6px;padding-left: 6px; padding-right: 6px ">
        <ul class="nav nav-pills">
          <li class="active">
            <a data-toggle="pill" href="#thongtinkhachhang">I. Thông Tin Khách Hàng</a>
          </li>
          <li>
            <a data-toggle="pill" href="#thongtindiemdo">II. Thông Tin Điểm Đo</a>
          </li>
          <li>
            <a data-toggle="pill" href="#hethongdodem">III. Hệ Thống Đo Đếm</a>
          </li>
          <li>
            <a data-toggle="pill" href="#anhkhachhang">IV. Hình Ảnh Khách Hàng</a>
          </li>
          <li>s
            <a data-toggle="pill" href="#hosodientu">V. Hồ Sơ Điện Tử</a>
          </li>
        </ul>
      </div>
      <div class="dialog_ngancach_layout">
        <div style="height: 2px"></div>
      </div>
      <div class="tab-content">
        <!-- THONG TIN KHACH HANG -->
        <div id="thongtinkhachhang" class="tab-pane fade in active">
          <div class="dialog_row_layout" style="margin-top: 4px">
            <div class="col-15">
              <label for="fname">Mã Khách Hàng:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_makhang" placeholder="Mã Khách Hàng">
            </div>
            <div class="col-15">
              <label for="fname">Ghi Chú:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_ghichu" placeholder="Ghi Chú">
            </div>
          </div>
          <div class="dialog_row_layout">
            <div class="col-15">
              <label for="fname">Tên Khách Hàng: </label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_tenkhang" placeholder="Tên Khách Hàng">
            </div>
            <div class="col-15">
              <label for="fname">Người Gửi:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_nguoigui" placeholder="Người Gửi">
            </div>
          </div>
          <div class="dialog_row_layout">
            <div class="col-15">
              <label for="fname">Địa Chỉ:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_diachikhang" placeholder="Địa Chỉ Khách Hàng">
            </div>
            <div class="col-15">
              <label for="fname">Ngày Gửi:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_ngaygui" placeholder="Ngày Gửi">
            </div>
          </div>
          <div class="dialog_row_layout">
            <div class="col-15">
              <label for="fname">Số Điện Thoại:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_dienthoai" placeholder="Số Điện Thoại">
            </div>
            <div class="col-15">
              <label for="fname">Ngày Lấy CMIS:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_ngaylay" placeholder="Ngày Lấy">
            </div>
          </div>
          <div class="dialog_row_layout" style="margin-bottom: 6px">
            <div class="col-15">
              <label for="fname">Email: </label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_email" placeholder="Email">
            </div>
            <div class="col-15">
              <label for="fname">Tài Khoản:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_nguoilay" placeholder="Người Lấy">
            </div>
          </div>
        </div>

        <!-- THONG TIN DIEM DO -->
        <div id="thongtindiemdo" class="tab-pane fade">
          <div class="dialog_row_layout" style="margin-top: 4px">
            <div class="col-15">
              <label for="fname">Mã Điểm Đo:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_maddo" placeholder="Mã Điểm Đo">
            </div>
            <div class="col-15">
              <label for="fname">Mã Lộ:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_malo" placeholder="Mã Lộ">
            </div>
          </div>
          <div class="dialog_row_layout">
            <div class="col-15">
              <label for="fname">Địa Chỉ SDĐ:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_diachisdd" placeholder="Địa Chỉ Sử Dụng Điện">
            </div>
            <div class="col-15">
              <label for="fname">Số Cột:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_socot" placeholder="Số Cột">
            </div>
          </div>
          <div class="dialog_row_layout">
            <div class="col-15">
              <label for="fname">Tọa Độ SDĐ:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_toadosdd" placeholder="Tọa Độ Địa Chỉ Sử Dụng Điện">
            </div>
            <div class="col-15">
              <label for="fname">Tọa Độ Cột:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_toadocot" placeholder="Tọa Độ Cột">
            </div>
          </div>
          <div class="dialog_row_layout">
            <div class="col-15">
              <label for="fname">Số Pha:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_sopha" placeholder="Số Pha">
            </div>
            <div class="col-15">
              <label for="fname">Số Thùng:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_sothung" placeholder="Số Thùng">
            </div>
          </div>
          <div class="dialog_row_layoutrow">
            <div class="col-15">
              <label for="fname">Pha:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_pha" placeholder="Pha">
            </div>
            <div class="col-15">
              <label for="fname">Vị Trí Thùng:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_vtrithung" placeholder="Vị Trí Thùng">
            </div>
          </div>
          <div class="dialog_row_layout">
            <div class="col-15">
              <label for="fname">Số Hộ: </label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_soho" placeholder="Số Hộ">
            </div>
            <div class="col-15">
              <label for="fname">Loại Thùng:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_loaithung" placeholder="Loại Thùng">
            </div>
          </div>
          <div class="dialog_row_layout">
            <div class="col-15">
              <label for="fname">Sổ Ghi Chỉ Số: </label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_sogcs" placeholder="Sổ Ghi Chỉ Số">
            </div>
            <div class="col-15">
              <label for="fname">Vị Trí Công Tơ:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_vtricto" placeholder="Vị Trí Công Tơ">
            </div>
          </div>
          <div class="dialog_row_layout">
            <div class="col-15">
              <label for="fname">Số Thứ Tự: </label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_stt" placeholder="Số Thứ Tự Của Sổ">
            </div>
            <div class="col-15">
              <label for="fname">Vị Trí Treo:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_vtritreo" placeholder="Vị Trí Treo">
            </div>
          </div>
          <div class="dialog_row_layout" style="margin-bottom: 6px">
            <div class="col-15">
              <label for="fname">Mã Trạm: </label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_tram" placeholder="Mã Trạm">
            </div>
            <div class="col-15">
              <label for="fname">Giá Điện:</label>
            </div>
            <div class="col-35">
              <input type="text" id="dialog_giadien" placeholder="Giá Điện">
            </div>
          </div>
        </div>

        <!-- HE THONG DO DEM -->
        <div id="hethongdodem" class="tab-pane fade">
          <form style="height:400px;overflow-y:auto;margin-bottom: 0" }>
            <div class="dialog_row_layout" style="margin-top: 4px">
              <div class="col-15">
                <label for="fname">Mã Công Tơ:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_macongto" placeholder="Mã Công Tơ">
              </div>
              <div class="col-15">
                <label for="fname">Mã TI1:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_mati1" placeholder="Mã TI1">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Chủng Loại: </label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_chungloai" placeholder="Chủng Loại">
              </div>
              <div class="col-15">
                <label for="fname">Chủng Loại TI1:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_chungloaiti1" placeholder="Chủng Loại TI1">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Năm Sản Xuất:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_namsanxuat" placeholder="Năm Sản Xuất">
              </div>
              <div class="col-15">
                <label for="fname">Năm S.Xuất TI1:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_namsanxuatti1" placeholder="Năm Sản Xuất TI1">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Số Công Tơ:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_socongto" placeholder="Số Công Tơ">
              </div>
              <div class="col-15">
                <label for="fname">Số TI1:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_soti1" placeholder="Số TI1">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Ngày Treo:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_ngaytreo" placeholder="Ngày Treo">
              </div>
              <div class="col-15">
                <label for="fname">Ngày Treo TI1:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_ngaytreoti1" placeholder="Ngày Treo TI1">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Ngày Kiểm Định: </label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_ngaykiemdinh" placeholder="Ngày Kiểm Định">
              </div>
              <div class="col-15">
                <label for="fname">Ngày K.Định TI1:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_ngaykiemdinhti1" placeholder="Ngày K.Định TI1">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Hệ Số Nhân: </label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_hesonhan" placeholder="Hệ Số Nhân">
              </div>
            </div>
            <div class="dialog_row_layout">
              <!--////////////////////////////////-->
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Mã TI2:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_mati2" placeholder="Mã TI2">
              </div>
              <div class="col-15">
                <label for="fname">Mã TI3:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_mati3" placeholder="Mã TI3">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Chủng Loại TI2: </label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_chungloaiti2" placeholder="Chủng Loại TI2">
              </div>
              <div class="col-15">
                <label for="fname">Chủng Loại TI3:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_chungloaiti3" placeholder="Chủng Loại TI3">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Năm S.Xuất TI2:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_namsanxuatti2" placeholder="Năm Sản Xuất TI2">
              </div>
              <div class="col-15">
                <label for="fname">Năm S.Xuất TI3:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_namsanxuatti3" placeholder="Năm Sản Xuất TI3">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Số TI2:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_soti2" placeholder="Số TI2">
              </div>
              <div class="col-15">
                <label for="fname">Số TI3:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_soti3" placeholder="Số TI3">
              </div>
            </div>
            <div class="dialog_row_layout">
              <div class="col-15">
                <label for="fname">Ngày Treo TI2:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_ngaytreoti2" placeholder="Ngày Treo TI2">
              </div>
              <div class="col-15">
                <label for="fname">Ngày Treo TI3:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_ngaytreoti3" placeholder="Ngày Treo TI1">
              </div>
            </div>
            <div class="dialog_row_layout" style="margin-bottom: 6px">
              <div class="col-15">
                <label for="fname">Ngày K.Định TI2: </label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_ngaykiemdinhti2" placeholder="Ngày Kiểm Định TI2">
              </div>
              <div class="col-15">
                <label for="fname">Ngày K.Định TI3:</label>
              </div>
              <div class="col-35">
                <input type="text" id="dialog_ngaykiemdinhti3" placeholder="Ngày K.Định TI3">
              </div>
            </div>
          </form>
        </div>

        <!-- Anh KHACH HANG -->
        <div id="anhkhachhang" class="tab-pane fade" style="background:#343A40;width: 100%; height:70%; overflow: auto">
          <!-- Them trong javascript -->
        </div>

        <!-- HO SO DIEN TU -->
        <div id="hosodientu" class="tab-pane fade" style="height:70%">
          <div style="width:100%">
            <div style="background:#343A40; float:left;width:25%; height:100%">
              <div class="tieude">
                <div class="tentieude" id="tieudesohoa"></div>
              </div>

              <ul id="ul_hosodientu">
                <!-- Them trong javascript -->
              </ul>

            </div>
            <div style="background:rgb(64, 56, 52); float: left;width:75%; height:100%">
              <object id="obj_hosodientu" type="application/pdf" width="100%" height="100%">
              </object>
            </div>
          </div>
        </div>
      </div>
      <div class="dialog_ngancach_layout" style="margin-top: 0">
        <div style="height: 2px"></div>
      </div>
      <div class="dialog_row_layout_bottom">
        <div class="col-50">
          <button class='button_dongy' style="display: table;margin: 0 auto" onclick="clickGuiCMIS()">Gửi CMIS</button>
        </div>
        <div class="col-50">
          <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id01').style.display='none'">Thoát</button>
        </div>
      </div>
    </div>
  </div>

  <!-- BAT DAU: DIALOG THU 3_excel-->
  <div id="id_dktt" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
      <div class="dialog_header_layout">
        <div class="dialog_header_text">ĐĂNG KÝ TREO THÁO CÔNG TƠ</div>
      </div>
      <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
        <a id="text_dktt" style="display: block"></a>
      </div>
      <div class="dialog_ngancach_layout">
        <div style="height: 2px"></div>
      </div>
      <div class="dialog_row_layout_bottom">
        <div class="col-50">
          <button class='button_dongy' style="display: table;margin: 0 auto" onclick="Dongy()">Đồng ý</button>
        </div>
        <div class="col-50">
          <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="Huy()">Hủy</button>
        </div>
      </div>
    </div>
  </div>
  <!-- BAT DAU: DIALOG THU 5_Dong Bo Du Lieu-->
   <!-- BAT DAU: DIALOG THU 5_Dong Bo Du Lieu-->
      <div id="treothao_dialog" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
            <div class="dialog_header_layout">
                <div class="dialog_header_text">Đồng Bộ CMIS</div>
            </div>
            <div class="dialog_row_layout list-group" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
                <a id="dbtreothao_dmtram" href="#" class="list-group-item" onclick="clickLayCMIS_DMTram()">
                    <span class="badge" style="float: right;border: 1px solid;">1</span>
                    <strong>Danh Mục Trạm</strong>
                </a>
                <a id="dbdmvitritreo_dmvitritreo" href="#" class="list-group-item" onclick="clickLayCMIS_DMVitritreo()">
                    <span class="badge" style="float: right;border: 1px solid;">2</span>
                    <strong>Danh Mục Vị Trí Treo</strong>
                </a>
                <a id="dbdmvitricongto_dmvitricongto" href="#" class="list-group-item" onclick="clickLayCMIS_DMChungloaicongto()">
                    <span class="badge" style="float: right;border: 1px solid;">3</span>
                    <strong>Danh Mục Chủng Loại Công Tơ</strong>
                </a>
                <a id="dbdmsogcs_dmsogcs" href="#" class="list-group-item" onclick="clickLayCMIS_DMSogcs()">
                    <span class="badge" style="float: right;border: 1px solid;">4</span>
                    <strong>Danh Mục Sổ Ghi Chỉ Số</strong>
                </a>
                <a id="dbdmlydott_dmlydott" href="#" class="list-group-item" onclick="clickLayCMIS_DMLydotreothao()">
                  <span class="badge" style="float: right;border: 1px solid;">5</span>
                  <strong>Danh Mục Lý Do Treo Tháo</strong>
                </a>
                <a id="dbdmloaiddo_dmloaiddo" href="#" class="list-group-item" onclick="clickLayCMIS_DMLoaiDdo()">
                <span class="badge" style="float: right;border: 1px solid;">6</span>
                <strong>Danh Mục Loại Điểm Đo</strong>
                </a>
                 <a id="dbdmnvienkepchi_dmnvienkepchi" href="#" class="list-group-item" onclick="clickLayCMIS_DMNVienkepchi()">
                 <span class="badge" style="float: right;border: 1px solid;">7</span>
                 <strong>Danh Mục Nhân Viên</strong>
               </a>
            </div>
            <div class="dialog_ngancach_layout">
                <div style="height: 2px"></div>
            </div>
            <div class="dialog_row_layout_bottom">
                <div>
                    <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('treothao_dialog').style.display='none'">Thoát</button>
                </div>
            </div>
        </div>
  </div>
  <% include foot_script.ejs %>
  <script src="/js/global.js"></script>
  <script src="/js/excelexport.js"></script>
  <script src="/js/treothaocongto_duyetdanhsach.js"></script>
</body>

</html>