<!DOCTYPE html>

<html lang="en">
<% include head.ejs %>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top" style="overflow: hidden;">
    <!-- Navigation-->
    <% include navigation.ejs %>

      <!--wrapper-->
      <div id="wrapper" class="content-wrapper" style="overflow: hidden;">

        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <p class="col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-size:14px;font-weight:bold;color:brown">2. Phân Quyền</p>
                <div class=" col-sm-7 col-md-5  col-lg-4" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="congty" class="combo" style="width:100%;color:black" />
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-4" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="dienluc" class="combo" style="width:100%;color:black">
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                  <button type="button" class="button" style="width:100%" onclick="clickXembaocao()">Xem</button>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead style="text-align: center">
                    <tr>
                      <th>STT</th>
                      <th>Đơn Vị Quản Lý</th>
                      <th>Tài Khoản</th>
                      <th>Tên Nhân Viên</th>
                      <th>Phân Quyền</th>
                      <th>Phân Công</th>
                      <th>Thực Hiện</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                  </tbody>
                  <tfoot style="text-align: center">
                    <tr>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
          </div>
        </div>
        <!-- footer-->
        <% include foot.ejs %>
      </div>

      <div id="snackbar"></div>
      <!-- BAT DAU: DIALOG THU 3_excel-->
      <div id="id_duyet" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:650px">
          <div class="dialog_header_layout">
            <div class="dialog_header_text">Phân Quyền Người Dùng</div>
          </div>
          <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 12px">
            <div>
              <span>
                <b>Tài khoản: </b>
                <span id="tenuser"></span>
              </span>
            </div>
            <div style="margin-top: 10px;margin-bottom: 10px">
              <span>
                <b>Đơn vị: </b>
                <span id="tendonvi"></span>
              </span>
            </div>
            <div>
              <label class="container">Phân Quyền
                <input id="ADMIN_TTCT_PHANQUYEN" type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div>
              <label class="container"> Phân Công Treo Tháo
                <input id="ADMIN_TTCT_PHANCONGNHIEMVU" type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div>
              <label class="container"> Thực Hiện Treo Tháo
                <input id="ADMIN_TTCT_THUCHIENNHIEMVU" type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="dialog_ngancach_layout">
            <div style="height: 2px"></div>
          </div>
          <div class="dialog_row_layout_bottom">
            <div class="col-50">
              <button class='button_dongy' style="display: table;margin: 0 auto" onclick="GuiDuLieu_PhanQuyen()">Đồng ý</button>
            </div>
            <div class="col-50">
              <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id_duyet').style.display='none'">Hủy</button>
            </div>
          </div>

        </div>
      </div>
      <% include foot_script.ejs %>
        <script src="/js/excelexport.js"></script>
        <script src="/js/treothaocongto_phanquyen.js"></script>
  </body>

</html>