<!DOCTYPE html>

<html lang="en">
<% include head.ejs %>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" style="overflow: hidden;">
  <!-- Navigation-->
  <% include navigation.ejs %>

  <!--wrapper-->
  <div id="wrapper" class="content-wrapper" style="overflow: hidden;">

    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <p class="col-sm-7 col-md-5  col-lg-2" style="margin: auto; font-size:14px;font-weight:bold;color:brown">3.2
              Quản Lý Treo Tháo</p>
            <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
              <select id="congty" class="combo" style="width:100%;color:black" />
              </select>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
              <select id="dienluc" class="combo" style="width:100%;color:black">
              </select>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">
              <select id="tram" class="combo" style="width:100%;color:black">
              </select>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-1">
              <button type="button" class="button" style="width:100%" onclick="clickTaoBangDuLieu()">Xem</button>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-1">
            </div>
          </div>
          <div class="row" style="margin-top: -10px;margin-bottom: -12px">
            <div class=" col-sm-7 col-md-5  col-lg-2" style="margin-top: 18px; font-weight:bold; font-size:14px">
              <span>
                <label class="container" style="margin-left: 103px">
                  <input id="isChonTatCaKhachHang" name="cb_date" type="checkbox" onclick="chonTatCaKhachHang()">Chọn
                  Tất cả
                  <span class="checkmark"></span>
                </label>
              </span>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2" style="margin-top: 18px;">
              <button type="button" id="btn_treothao" onclick="xacNhan()">Xác Nhận</button></div>
            <div class=" col-sm-7 col-md-5  col-lg-3" style="margin: auto; font-weight:bold; font-size:14px">

            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2">

            </div>
            <div class=" col-sm-7 col-md-5  col-lg-2">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead style="text-align: center">
                <tr>
                  <th>STT</th>
                  <th id="dangkytreothao">Chọn</th>
                  <th>Mã Điểm Đo</th>
                  <th>Tên KH</th>
                  <th>Địa Chỉ SDĐ</th>
                  <th>Số Công Tơ</th>
                  <th>Mã Sổ GCS - STT</th>
                  <th>NV Được Phân Công</th>
                </tr>
              </thead>
              <tbody id="tbody">
              </tbody>
              <tfoot style="text-align: center">
              </tfoot>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
      </div>
    </div>
    <!-- footer-->
    <% include foot.ejs %>
  </div>

  <!-- BAT DAU: DIALOG THU 3_excel-->
  <div id="id_dktt" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
      <div class="dialog_header_layout">
        <div class="dialog_header_text">Thống Kê Treo Tháo</div>
      </div>
      <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
        <a id="text_dktt" style="display: block"></a>
      </div>
      <div class="dialog_ngancach_layout">
        <div style="height: 2px"></div>
      </div>
      <div class="dialog_row_layout_bottom">
        <div class="col-50">
          <button class='button_dongy' style="display: table;margin: 0 auto" onclick="Dongy()">Đồng ý</button>
        </div>
        <div class="col-50">
          <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="Huy()">Hủy</button>
        </div>
      </div>
    </div>
  </div>

  <% include foot_script.ejs %>
  <script src="/js/global.js"></script>
  <script src="/js/excelexport.js"></script>
  <script src="/js/treothaocongto_quanlytreothao.js"></script>
</body>

</html>