<!DOCTYPE html>

<html lang="en">
<% include head.ejs %>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" style="overflow: hidden;">
  <!-- Navigation-->
  <% include navigation.ejs %>

  <!--wrapper-->
  <div id="wrapper" class="content-wrapper" style="overflow: hidden;">

        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <p class="col-sm-7 col-md-5  col-lg-1" style="margin: auto; font-size:14px;font-weight:bold;color:brown; font-size:14px">1. CH</p>
                <div class=" col-sm-7 col-md-5  col-lg-4" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="congty" class="combo" style="width:100%;color:black" />
                  </select>
                </div>
                <div class=" col-sm-7 col-md-5  col-lg-4" style="margin: auto; font-weight:bold; font-size:14px">
                  <select id="dienluc" class="combo" style="width:100%;color:black">
                  </select>
                </div>
                 <div class=" col-sm-7 col-md-5  col-lg-1" style="margin:0 auto;">
              <button type="button" class="button" style="width:100%" onclick="clickGetData_GiamDocDienLuc()">Xem GD</button>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-1" style="margin:0 auto;">
              <button type="button" class="button" style="width:100%" onclick="clickGetData_NhanVienDienLuc()">Xem NV</button>
            </div>
            <div class=" col-sm-7 col-md-5  col-lg-1" style="margin:0 auto;">
              <button type="button" class="button" style="width:100%" onclick="clickDongboCMIS()">CMIS</button>
            </div>
                <div class=" col-sm-7 col-md-5  col-lg-1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="TTCT_tieude" style="margin-left: 39%;color: brown;font-size: 18px;font-weight: bolder;"></div>
          <div id="table_GD">
            <div  class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 12px">
              <div>
                <span>
                  <b>Mã nhân viên: </b>
                  <span id="tenuser"></span>
                </span>
              </div>
              <div class="row_TTCT">
                <label class="col-lg-3" for="fname">Tên Giám Đốc:</label>
                <input class="col-lg-5" type="text" id="TTCTdialog_Tengiamdoc" placeholder="Vui lòng nhập tên Giám Đốc">
              </div>
              <div class="row_TTCT">
                <label class="col-lg-3" for="fname">Tài Khoản AD:</label>
                <input class="col-lg-5" type="text" id="TTCTdialog_TaikhoanAD" placeholder="Vui lòng nhập tên Tài Khoản AD">
              </div>
            </div>
            <div class="dialog_ngancach_layout" style="background-color: gray">
              <div style="height: 2px"></div>
            </div>
            <div class="dialog_row_layout_bottom">
             <button class='button_dongy' style="display: table;margin: auto;margin-left:43%;background-color: rgb(50,190,166)" onclick="sendData_GiamDocDienLuc()">Xác nhận</button>
            
            </div>
          </div>
          <div id="table_NV" class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead style="text-align: center">
                <tr>
                  <th>STT</th>
                  <th>Đơn Vị</th>
                  <th>NV  CMIS</th>
                  <th>Tên Nhân Viên</th>
                  <th>Chức Vụ</th>
                  <th>Tài Khoản AD</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="tbody">
              </tbody>
              <tfoot style="text-align: center">
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer small text-muted">CPCITC Phòng Phát Triển Ứng Dụng</div>
  </div>
  </div>
  <!-- footer-->
  <% include foot.ejs %>
  </div>
  <!-- BAT DAU: DIALOG phan cong treo thao GD-->
  <div id="id_duyet" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:650px">
      <div class="dialog_header_layout">
        <div class="dialog_header_text">Phân Công Giám Đốc</div>
      </div>
      <div class="dialog_row_layout" style="padding-left: 10px; padding-right: 10px; padding-top: 12px">
        <div>
          <span>
            <b>Mã nhân viên: </b>
            <span id="tenuser"></span>
          </span>
        </div>

        <div class="row_TTCT">
          <label class="col-lg-3" for="fname">Tên Giám Đốc:</label>
          <input class="col-lg-5" type="text" id="TTCTdialog_Tengiamdoc" placeholder="Vui lòng nhập tên Giám Đốc">
        </div>
        <div class="row_TTCT">
          <label class="col-lg-3" for="fname">Tài Khoản AD:</label>
          <input class="col-lg-5" type="text" id="TTCTdialog_TaikhoanAD" placeholder="Vui lòng nhập tên Tài Khoản AD">
        </div>
      </div>
      <div class="dialog_ngancach_layout">
        <div style="height: 2px"></div>
      </div>
      <div class="dialog_row_layout_bottom">
        <div class="col-50">
          <button class='button_dongy' style="display: table;margin: 0 auto" onclick="sendData_GiamDocDienLuc()">Đồng ý</button>
        </div>
        <div class="col-50">
          <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('id_duyet').style.display='none'">Hủy</button>
        </div>
      </div>

    </div>
  </div>

  <!-- BAT DAU: DIALOG THU 2 Dong Bo Du Lieu-->
  <div id="treothao_dialog" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-bo w3-animate-zoom" style="width:500px">
      <div class="dialog_header_layout">
        <div class="dialog_header_text">Đồng Bộ CMIS</div>
      </div>
      <div class="dialog_row_layout list-group" style="padding-left: 10px; padding-right: 10px; padding-top: 6px">
        <a id="dbdm_tram" href="#" class="list-group-item" onclick="clickLayCMIS_DMTram()">
          <span class="badge" style="float: right;border: 1px solid;">1</span>
          <strong>Danh Mục Trạm</strong>
        </a>
        <a id="dbdm_vitritreo" href="#" class="list-group-item" onclick="clickLayCMIS_DMVitritreo()">
          <span class="badge" style="float: right;border: 1px solid;">2</span>
          <strong>Danh Mục Vị Trí Treo</strong>
        </a>
        <a id="dbdm_vitricongto" href="#" class="list-group-item" onclick="clickLayCMIS_DMChungloaicongto()">
          <span class="badge" style="float: right;border: 1px solid;">3</span>
          <strong>Danh Mục Chủng Loại Công Tơ</strong>
        </a>
        <a id="dbdm_sogcs" href="#" class="list-group-item" onclick="clickLayCMIS_DMSogcs()">
          <span class="badge" style="float: right;border: 1px solid;">4</span>
          <strong>Danh Mục Sổ Ghi Chỉ Số</strong>
        </a>
        <a id="dbdm_lydott" href="#" class="list-group-item" onclick="clickLayCMIS_DMLydotreothao()">
          <span class="badge" style="float: right;border: 1px solid;">5</span>
          <strong>Danh Mục Lý Do Treo Tháo</strong>
        </a>
        <a id="dbdm_loaiddo" href="#" class="list-group-item" onclick="clickLayCMIS_DMLoaiDdo()">
          <span class="badge" style="float: right;border: 1px solid;">6</span>
          <strong>Danh Mục Loại Điểm Đo</strong>
        </a>
        <a id="dbdm_nvien" href="#" class="list-group-item" onclick="clickLayCMIS_DMNVien()">
          <span class="badge" style="float: right;border: 1px solid;">7</span>
          <strong>Danh Mục Nhân Viên</strong>
        </a>
      </div>
      <div class="dialog_ngancach_layout">
        <div style="height: 2px"></div>
      </div>
      <div class="dialog_row_layout_bottom">
        <div>
          <button class='button_khongdongy' style="display: table;margin: 0 auto" onclick="document.getElementById('treothao_dialog').style.display='none'">Thoát</button>
        </div>
      </div>
    </div>
  </div>
  <div id="snackbar"></div>
  <% include foot_script.ejs %>
  <script src="/js/global.js"></script>
  <script src="/js/excelexport.js"></script>
  <script src="/js/treothaocongto_cauhinhchuongtrinh.js"></script>
</body>

</html>