@custom-media --break-sm (min-width: 420px);
@custom-media --break-md (min-width: 570px);
@custom-media --break-lg (min-width: 1024px);
:root {

    --ga-gray: #75787d;
    --ga-orange-dark: hsl(16, 87%, 54%); /* #f05721; */
    --ga-orange-light: hsl(34, 93%, 54%); /* #f7991c; */
  
    --ga-logo-height: 26px;
    --ga-logo-width: 303px;
  
    --gap: 1.5em;
    --gap-lg: 2em;
  
    --text-color: #333;
    --text-color-light: #ddd;
    --text-color-faded: #777;
    --text-color-faint: #aaa;
  
    --action-color: hsl(217, 91%, 63%);
    --action-color-dark: hsl(217, 91%, 53%);
  
    --error-color: hsl(0, 60%, 50%);
    --error-color-bg: hsl(0, 60%, 97%);
  
    --success-color: hsl(135, 60%, 40%);
    --success-color-dark: hsl(135, 60%, 33%);
    --success-color-bg: hsl(135, 60%, 97%);
  
    --info-color: hsl(200, 75%, 55%);
  
    --bg-color-dark: #333;
    --bg-color-dark-faded: #444;
    --bg-color-light: hsl(30, 10%, 95%);
  
    --border-color: #d4d2d0;
    --border-color-active: #3b99fc;
  
    --sidebar-width: 260px;
    --sidebar-width-md: 280px;
  
    --quantum-timing: cubic-bezier(.4,0,.2,1);
  }
  .ActiveUsers {
    background: var(--bg-color-light);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: 300;
    padding: .5em var(--gap);
    white-space: nowrap;
  }
  
  .ActiveUsers-value {
    display: inline-block;
    font-weight: 600;
    margin-right: -.25em;
  }
  
  .ActiveUsers.is-increasing {
    animation: increase 3s;
  }
  
  .ActiveUsers.is-decreasing {
    animation: decrease 3s;
  }
  
  @keyframes increase {
    0% {}
    10% {
      background-color: hsl(120, 100%, 96%);
      border-color: hsla(120, 100%, 25%, .5);
      color: hsla(120, 100%, 25%, 1);
    }
    100% {}
  }
  
  @keyframes decrease {
    0% {}
    10% {
      background-color: hsl(0, 100%, 96%);
      border-color: hsla(0, 100%, 50%, .5);
      color: hsl(0, 100%, 50%);
    }
    100% {}
  }
  .Chartjs {
    font-size: .85em;
  }
  
  .Chartjs-figure {
    height: 250px;
  }
  
  .Chartjs-legend {
    list-style: none;
    margin: 0;
    padding: 1em 0 0;
    text-align: center;
  }
  
  .Chartjs-legend > li {
    display: inline-block;
    padding: .25em .5em
  }
  
  .Chartjs-legend > li > i {
    display: inline-block;
    height: 1em;
    margin-right: .5em;
    vertical-align: -.1em;
    width: 1em;
  }
  
  @media (--break-md) {
    .Chartjs-figure {
      /* Add some breathing room. */
      margin-right: var(--gap);
    }
  }
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    height: 100%;
  }
  
  body {
    color: var(--text-color);
    font: 0.875em/1.4 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
  }
  
  section {
    max-width: 52em;
  }
  
  p, ul, ol, pre, dl {
    margin: var(--gap) 0;
  }
  
  ul {
    list-style: square;
    padding: 0 0 0 1.5em;
  }
  
  dt {
    font-weight: 700;
  }
  
  dd {
    margin: .4em 0 1em 2em;
  }
  
  h1, h2 {
    color: var(--text-color-faded);
    font-weight: 300;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0 0 calc(var(--gap)/2.5);
  }
  
  h2 {
    font-size: 1.75em;
    margin: 1em 0;
  }
  
  h3 {
    color: #666;
    font-size: 1.25em;
  }
  h3.H3--underline {
    border-bottom: 1px solid hsl(30, 10%, 85%);
    margin: calc(var(--gap)/1.25) 0;
    padding-bottom: .5em;
  }
  
  i {
    display: inline-block;
    font: inherit;
  }
  
  a {
    color: var(--ga-orange-dark);
    text-decoration: none;
  }
  a.A--normal {
    font-weight: 400;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  b,
  strong {
    font-weight: 600;
  }
  
  code {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 2px;
    color: #000;
    font-family: "Menlo", monospace;
    font-size: .9em;
    padding: 2px 5px 1px;
  }
  
  a code {
    color: inherit;
  }
  
  figure {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  @media (--break-lg) {
    h1 {
      margin: 0 0 calc(var(--gap-lg)/2.5);
    }
    h2 {
      margin: calc(var(--gap-lg)/1.75) 0;
    }
    h3.H3--underline {
      margin: calc(var(--gap-lg)/1.25) 0;
    }
  }
 
  .AccountExplorerResults {
    padding-top: var(--gap);
  }
  
  .AccountExplorerResults-title {
    font-size: 1.4em;
    font-weight: 300;
    margin: 0 0 var(--gap-lg);
    text-align: center;
  }
  
  .AccountExplorerResults table {
    width: 100%;
    table-layout: fixed;
  }
  
  .AccountExplorerResults th,
  .AccountExplorerResults td {
    text-align: left;
    padding: .75em 1em;
    vertical-align: top;
  }
  
  .AccountExplorerResults td {
    border-top: 1px solid #e8e8e8;
    word-break: break-word;
  }
  
  .AccountExplorerResults-id {
    color: var(--text-color-faded);
    font-size: .9em;
    margin-top: .5em;
  }
  .AccountExplorerSearch {
    padding: 1.5em;
  }
  
  .AccountExplorerSearch-title {
    font-size: 1.4em;
    font-weight: 300;
    margin: 0 0 var(--gap-lg);
    text-align: center;
  }
  
  input.AccountExplorerSearch-field {
    display: block;
    height: auto;
    margin: 0 auto 3em;
    max-width: 32em;
    padding: .75em 1em;
  }
  .AlertDispatcher {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  .Alert {
    align-items: flex-start;
    background: var(--error-color);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
    color: #fff;
    display: flex;
    padding: var(--gap);
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: transform .2s var(--quantum-timing);
  }
  
  .Alert-enter {
    transform: translate3d(0, -100%, 0);
  
  }
  
  .Alert-enter-active {
    transform: translate3d(0, 0, 0);
  }
  
  .Alert-leave {
    transform: translate3d(0, 0, 0);
  }
  
  .Alert-leave-active {
    transform: translate3d(0, -100%, 0);
  }
  
  
  .Alert-icon {
    font-size: 3em;
  }
  
  .Alert-close {
    background: none;
    border: 0;
    font-size: 1.5em;
    opacity: .4;
    padding: .5em;
  }
  .Alert-close:active,
  .Alert-close:focus,
  .Alert-close:hover {
    opacity: 1;
    outline: 0;
  }
  
  .Alert-body {
    flex: 1 0 0%;
    margin: 0 var(--gap);
  }
  
  .Alert-title {
    color: inherit;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
  }
  
  .Alert-message {
    font-weight: 300;
    margin-top: .4em;
    opacity: .7;
  }
  
  @media (--break-lg) {
    .Alert {
      padding: var(--gap-lg);
    }
  }     
  .Box {
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: var(--gap);
    padding: var(--gap);
  }
  
  
  .Box-header {
    border-bottom: 1px solid var(--border-color);
    margin: -var(--gap) -var(--gap) var(--gap);
    padding: var(--gap);
  }
  
  .Box-footer {
    border-top: 1px solid var(--border-color);
    margin: var(--gap) -var(--gap) -var(--gap);
    padding: var(--gap);
  }
  
  @media (--break-lg) {
    .Box {
      margin-bottom: var(--gap-lg);
      padding: var(--gap-lg);
    }
    .Box-header {
      margin: -var(--gap-lg) -var(--gap-lg) var(--gap-lg);
      padding: var(--gap-lg);
    }
    .Box-footer {
      margin: var(--gap-lg) -var(--gap-lg) -var(--gap-lg);
      padding: var(--gap-lg);
    }
  }
  .ButtonSet {
    margin: 0 -1em -1em;
  }
  
  .ButtonSet .Button {
    margin: 0 0 1em 1em;
  }   
  .Button {
    background: hsla(0,0%,0%, .075);
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    font-weight: 400;
    line-height: calc(20em/14); /* 20px @ 14px body font */
    padding: calc(6em/14) 1em; /* 6px @ 14px body font */
    transition: background-color .2s var(--quantum-timing),
                border-color .2s var(--quantum-timing);
  }
  
  .Button:disabled {
    opacity: .4;
  }
  
  .Button:active:enabled,
  .Button:focus:enabled,
  .Button:hover:enabled {
    background: hsla(0,0%,0%, .15);
    outline: none;
    text-decoration: none;
  }
  
  
  .Button-iconWrapper {
    display: inline-flex;
    align-items: center;
  }
  
  .Button-icon {
    margin-right: .6em;
  }
  
  .Button--action {
    color: #fff;
    background: var(--action-color);
    border-color: transparent;
  }
  .Button--action:active:enabled,
  .Button--action:focus:enabled,
  .Button--action:hover:enabled {
    background: var(--action-color-dark);
  }
  
  .Button--success {
    color: #fff;
    background: var(--success-color);
    border-color: transparent;
  }
  .Button--success:active:enabled,
  .Button--success:focus:enabled,
  .Button--success:hover:enabled {
    background: var(--success-color-dark);
  }
  .CampaignUrlForm {
    margin: var(--gap) 0;
  }
  
  @media (--break-lg) {
    .CampaignUrlForm {
      margin: var(--gap-lg) 0;
    }
  }
  .CampaignUrlResult {
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: var(--gap);
    padding: var(--gap) var(--gap) 0;
  }
  
  .CampaignUrlResult-problem {
    background: #fff3cd
  }
  
  .CampaignUrlResult-alertBox {
    background: #f8d7da;
    padding: .5em 1em;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #f5c6cb;
  }
  
  .CampaignUrlResult-title {
    color: inherit;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 .667em;
  }
  
  .CampaignUrlResult-item {
    margin: 0 0 var(--gap);
  }
  
  @media (--break-lg) {
    .CampaignUrlResult {
      margin-bottom: var(--gap-lg);
      padding: var(--gap-lg) var(--gap-lg) 0;
    }
    .CampaignUrlResult-item {
      margin: 0 0 var(--gap-lg);
    }
  }
  
  .Checkbox {
    display: inline-block;
    margin-right: .5em;
  }
  :root {
    --CohortTable-borderColor: hsl(30,10%,80%);
    --CohortTable-borderColorLight: hsl(30,10%,90%);
    --CohortTable-borderColorDark: hsl(30,10%,70%);
  
    --CohortTable-divisionColor: #000;
  
    --CohortTable-metricHeaderBgColor: hsl(30,10%,84%);
    --CohortTable-dimensionHeaderBgColor: hsl(30,10%,92%);
  }
  
  
  .CohortTable {
    overflow: auto;
    max-width: 100%;
  }
  
  .CohortTable-table {
    width: 100%;
  }
  
  .CohortTable-th,
  .CohortTable-td {
    background: #fff;
    border: 1px solid var(--CohortTable-borderColor);
    padding: .75em 1em;
    text-align: right;
    vertical-align: top;
  }
  
  .CohortTable-th {
    font-weight: bold;
  }
  
  .CohortTable-th:first-child,
  .CohortTable-td:first-child {
    text-align: left;
  }
  .Content {
    margin: var(--gap);
    max-width: 1060px;
    transition: opacity .5s var(--quantum-timing);
  }
  
  .Site.is-loading .Content,
  .Site.is-needingAuthorization .Content {
    pointer-events: none;
    opacity: .333;
  }
  
  @media (--break-lg) {
    .Content {
      margin: calc(var(--gap-lg)*1.5);
    }
  }
  :root {
    --Dashboard-maxWidth: 52em;
  }
  
  .Dashboard {
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    max-width: var(--Dashboard-maxWidth);
    padding: var(--gap);
  }
  
  .Dashboard-header {
    border-bottom: 1px solid var(--border-color);
    margin: -var(--gap) -var(--gap) var(--gap);
    padding: var(--gap);
  }
  
  .Dashboard-footer {
    border-top: 1px solid var(--border-color);
    margin: -var(--gap) -var(--gap) var(--gap);
    padding: var(--gap);
  }
  
  .Dashboard--full {
    max-width: 100%;
  }
  
  .Dashboard--collapseBottom {
    padding-bottom: 0;
  }
  
  @media (--break-lg) {
    .Dashboard {
      padding: var(--gap-lg);
    }
    .Dashboard-header {
      margin: -var(--gap-lg) -var(--gap-lg) var(--gap-lg);
      padding: var(--gap-lg);
    }
    .Dashboard-footer {
      margin: -var(--gap-lg) -var(--gap-lg) var(--gap-lg);
      padding: var(--gap);
    }
  
    .Dashboard--collapseBottom {
      padding-bottom: calc(var(--gap-lg) - var(--gap));
    }
  }
  .DataTable .gapi-analytics-data-chart {
    overflow-x: auto;
    word-break: break-all;
  }
  
  .DataTable .gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-tr-head {
    background: hsl(30, 10%, 96.7%);
  }
  
  .DataTable .gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    white-space: nowrap;
  }
  
  .DataTable .gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-th:first-child {
    border-left: 1px solid #ddd;
  }
  
  .DataTable .gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-th:last-child {
    border-right: 1px solid #ddd;
  }
  :root {
    --DateRangeSelector-itemMinWidth: 150px;
  }
  
  .DateRangeSelector {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 -1em -1em;
  }
  
  .DateRangeSelector-item {
    margin: 0 0 1em 1em;
    flex: 1 0 calc(100% - 1em);
  }
  
  .DateRangeSelector-item > label {
    font-weight: 700;
    margin: 0 .25em .25em 0;
    display: block;
  }
  
  .DateRangeSelector-item > input {
    width: 100%;
  }
  
  @media (--break-md) {
    .DateRangeSelector-item {
      flex-basis: auto;
      min-width: var(--DateRangeSelector-itemMinWidth);
    }
  }
  .Error {
    background: hsl(0, 100%, 98%);
    border: 1px solid hsla(0, 70%, 55%, .5);
    border-radius: 4px;
    color: hsla(0, 0%, 0%, 0.5);
    margin: 2em 0px;
    padding: 1em 1.5em;
  }
  
  .Error-title {
    color: hsl(0, 70%, 55%);
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.5;
    margin: 0 .5em 0 0;
  }
  
  .Error-message {
    display: inline-block;
    margin: 0;
  }
  :root {
    --FlexGrid-gutter: var(--gap);
    --FlexGrid-gutter-lg: var(--gap-lg);
    --FlexGrid-itemMinWidth: 200px;
  }
  
  .FlexGrid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 -var(--FlexGrid-gutter) -var(--FlexGrid-gutter);
    padding: 0;
  }
  
  .FlexGrid-item {
    flex: 1 0 calc(100% - var(--FlexGrid-gutter));
    margin: 0 0 var(--FlexGrid-gutter) var(--FlexGrid-gutter);
  }
  
  .FlexGrid-item--fixed {
    /* An `auto` flex-basis will use the size of the contents. */
    flex: 0 0 auto!important;
  }
  
  
  /**
   * --halves modifier.
   * Ensures that an item never takes up more than half of the width, i.e.
   * no more that two items will ever be in a row.
   */
  .FlexGrid--halves .FlexGrid-item {
    flex-basis: 34%;
  }
  
  
  @media (min-width: 570px) {
    .FlexGrid-item {
      flex-basis: var(--FlexGrid-itemMinWidth);
    }
  }
  
  @media (min-width: 1024px) {
    .FlexGrid {
      margin: 0 0 var(--FlexGrid-gutter-lg) var(--FlexGrid-gutter-lg);
    }
    .FlexGrid-item {
      margin: 0 0 var(--FlexGrid-gutter-lg) var(--FlexGrid-gutter-lg);
    }
  }
  .FlexLine {
    /* display: flex; */
  
    /*
     * TODO(philipwalton): replace the below with the above once this FF bug is
     * fixed: https://bugzilla.mozilla.org/show_bug.cgi?id=1146442
     */
     display: inline-flex;
     width: 100%;
  }
  
  .FlexLine > [data-flex] {
    flex: 1 0 0%;
  }
  :root {
    --form-label-width: 12em;
    --form-control-space: 1.25em;
  }
  
  
  .FormControl {
    display: block;
    margin: 0 0 var(--form-control-space);
    max-width: 40em;
  }
  @media (min-width: 1024px) {
    .FormControl--inline {
      align-items: baseline;
      display: flex;
    }
  }
  
  .FormControl--full {
    max-width: initial;
  }
  
  .FormControl-label {
    display: block;
    font-weight: 600;
    margin: 0 0 .25em;
  }
  .FormControl--required .FormControl-label::before,
  .FormControl--required .FormControl-label::after {
    color: hsl(0, 70%, 55%);
    display: inline-block;
    font-weight: 600;
  }
  .FormControl--required .FormControl-label::after {
    content: '*';
    margin-left: .5em;
  }
  @media (min-width: 1024px) {
  
    /*
     * 1. Use with instead of flex-basis to workaround Flexbug 8
     *    https://github.com/philipwalton/flexbugs
     */
    .FormControl--inline .FormControl-label {
      flex: 0 0 auto; /* 1 */
      padding-right: var(--form-control-space);
      text-align: right;
      width: var(--form-label-width); /* 1 */
    }
    .FormControl--required .FormControl-label::after {
      content: none;
    }
    .FormControl--required .FormControl-label::before {
      content: '*';
      margin-right: .5em;
    }
  }
  
  .FormControl-body {
    flex: 1 0 0%;
  }
  
  .FormControl-info {
    color: var(--text-color-faded);
    display: block;
    font-size: .85em;
    line-height: 1.2;
    margin-top: .5em;
  }
  
  .FormControl-helpIcon {
    align-items: center;
    color: var(--text-color-faint);
    display: flex;
    justify-content: center;
    font-size: 1.15em;
    padding: 0 .5em;
  }
  .FormControl-helpIcon:active,
  .FormControl-helpIcon:focus,
  .FormControl-helpIcon:hover {
    color: inherit;
    outline: 0;
  }
  
  .FormControl--action {
    margin: 0 0 var(--gap);
  }
  
  @media (min-width: 1024px) {
    .FormControl--action {
      margin: 0 0 var(--gap-lg);
    }
    .FormControl--action .FormControl-body {
      margin-left: var(--form-label-width);
    }
  }
  FormFieldAddOn {
    /* display: flex; */
  
    /*
     * TODO(philipwalton): replace the below with the above once this FF bug is
     * fixed: https://bugzilla.mozilla.org/show_bug.cgi?id=1146442
     */
    display: inline-flex;
    width: 100%;
  }
  
  /* @extends .FormField */
  .FormFieldAddOn-field {
    flex: 1 0 0%;
  }
  
  .FormFieldAddOn-item {
    align-items: center;
    background: transparent;
    border: 1px solid var(--border-color);
    display: flex;
    font: inherit;
    font-weight: normal;
    padding: 0 0.6em;
  }
  .FormFieldAddOn-item:focus {
    outline: 0;
  }
  
  .FormFieldAddOn-field:first-child,
  .FormFieldAddOn-item:first-child {
    border-radius: 4px 0 0 4px;
  }
  .FormFieldAddOn-field:last-child,
  .FormFieldAddOn-item:last-child {
    border-radius: 0 4px 4px 0;
  }
  
  .FormFieldAddOn-item:first-child {
    border-right: 0;
  }
  .FormFieldAddOn-item:last-child {
    border-left: 0;
  }
  .FormField {
    width: 100%;
  }
  
  input.FormField,
  select.FormField,
  textarea.FormField {
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font: inherit;
    font-weight: 400;
    height: calc(34em/14); /* 34px @ 14px body font */
    line-height: calc(20em/14); /* 20px @ 14px body font */
    padding: calc(6em/14); /* 6px @ 14px body font */
    transition: border-color .2s var(--quantum-timing);
  }
  
  textarea.FormField {
    display: block;
    height: auto;
    resize: vertical;
  }
  
  input.FormField:focus,
  select.FormField:focus,
  textarea.FormField:focus {
    border-color: var(--border-color-active);
    outline: 0;
  }
  
  .FormField--invalid {
    border-color: var(--error-color)!important;
  }
  :root {
    --Header-text-color-light: #eee;
    --Header-text-color-light-faded: #bbb;
  
    --Header-text-color-dark: var(--text-color);
    --Header-text-color-dark-faded: #999;
  
    --Header-overlay-color: rgba(0,0,0,.3);
    --Header-overlay-color-light: rgba(0,0,0,.1);
  }
  
  .Header {
    position: relative;
  }
  
  .Header-block {
    background: var(--bg-color-dark);
    box-shadow: 0 0 .5em rgba(0,0,0,.1);
    padding: 1em var(--gap);
    position: relative;
  }
  :root {
    --HitBuilderParam-gap: 1.25em;
    --HitBuilderParam-labelWidth: 7em;
    --HitBuilderParam-labelInputWidth: 4em;
  }
  
  
  .HitBuilderParam {
    align-items: baseline;
    display: inline-flex;
    margin: 0 0 var(--HitBuilderParam-gap);
    max-width: 36em;
    width: 100%;
  }
  
  .HitBuilderParam-label {
    flex: 0 0 var(--HitBuilderParam-labelWidth);
    font-weight: 600;
    margin-right: var(--HitBuilderParam-gap);
    position: relative;
    text-align: right;
  }
  
  .HitBuilderParam--required .HitBuilderParam-label::before {
    color: hsl(0, 70%, 55%);
    content: '*';
    display: inline-block;
    font-weight: 600;
    margin-right: .5em;
  }
  
  .HitBuilderParam-inputLabel {
    text-align: right;
    width: var(--HitBuilderParam-labelInputWidth);
  }
  
  
  .HitBuilderParam-removeIcon {
    color: var(--error-color);
    cursor: pointer;
    right: var(--HitBuilderParam-labelInputWidth);
    padding: .667em;
    position: absolute;
    top: 0;
  }
  
  
  .HitBuilderParam-body {
    flex: 1 0 0%;
    padding-right: 2.5em;
    position: relative;
  }
  
  .HitBuilderParam-info {
    color: var(--error-color);
    display: block;
    font-size: .85em;
    line-height: 1.2;
    margin-top: .5em;
  }
  
  .HitBuilderParam-helpIcon {
    color: #ccc;
    cursor: pointer;
    right: 0;
    padding: .667em;
    position: absolute;
    top: 0;
  }
  .HitBuilderParam-helpIcon:active,
  .HitBuilderParam-helpIcon:focus,
  .HitBuilderParam-helpIcon:hover {
    color: inherit;
    outline: 0;
  }
  
  
  .HitBuilderParam--action {
    margin-left: calc(var(--HitBuilderParam-labelWidth) +
                      var(--HitBuilderParam-gap));
  }
  .HitBuilderParams {
    transition: opacity .2s var(--quantum-timing);
  }
  
  .is-editing .HitBuilderParams {
    opacity: .4;
    pointer-events: none;
  }
  .HitElement {
    background: #FFF;
    border-radius: 4px;
    margin-bottom: var(--gap);
  }
  
  .HitElement-status {
    background-color: hsl(0, 0%, 98%);
    border: 1px solid var(--border-color);
    border-radius: 4px 4px 0 0;
    display: flex;
    padding: var(--gap-lg);
  
    /* Force hardware acceleration for better transition performance. */
    transform: translate3d(0, 0, 0);
  }
  
  .HitElement-body {
    background-color: #fff;
    border: solid var(--border-color);
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px;
    padding: var(--gap-lg);
    transition: border-color .3s var(--quantum-timing);
  }
  
  .HitElement-statusIcon {
    color: var(--text-color-faded);
    display: inline-flex;
    font-size: 2.5em;
    margin-right: .5em;
  }
  
 
  
  .HitElement-statusHeading {
    color: #000;
    font-size: 1.6em;
    font-weight: 300;
    margin: .25em 0;
  }
  
  .HitElement-statusMessage {
    color: var(--text-color-faded);
    font-size: .9em;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .HitElement-requestInfo,
  .HitElement-requestBody {
    font-family: Menlo, monospace;
    font-size: .9em;
  }
  
  .HitElement-requestBody,
  .HitElement-action {
    margin-top: var(--gap-lg);
  }
  
  .HitElement-status,
  .HitElement-body,
  .HitElement-requestInfo,
  .HitElement-action {
    opacity: 1;
    transition: border-color .3s var(--quantum-timing),
                opacity .3s var(--quantum-timing);
  }
  
  
  /**
   * Valid Hits
   */
  
  .HitElement--valid .HitElement-statusIcon,
  .HitElement--valid .HitElement-statusHeading {
    color: var(--success-color);
  }
  .HitElement--valid .HitElement-status {
    border-color: var(--success-color);
    background-color: var(--success-color-bg);
  }
  
  
  /**
   * Invalid Hits
   */
  
  .HitElement--invalid .HitElement-statusIcon,
  .HitElement--invalid .HitElement-statusHeading {
    color: var(--error-color);
  }
  .HitElement--invalid .HitElement-status {
    border-color: var(--error-color);
    background-color: var(--error-color-bg);
  }
  
  
  /**
   * State: is-editing
   */
  
  .is-editing .HitElement-status,
  .is-editing .HitElement-requestInfo,
  .is-editing .HitElement-action {
    opacity: .1;
    pointer-events: none;
  }
  
  .is-editing .HitElement-status,
  .is-editing .HitElement-body {
    border-color: transparent;
  }
  .Icon {
    display: inherit;
    fill: currentColor;
    height: calc(16em/14);
    width: calc(16em/14);
  }
  .InlineDefinitionList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .InlineDefinitionList-item {
    font-weight: 300;
    line-height: 1.667;
    margin-right: 1.5em;
    white-space: nowrap;
  }
  .InlineDefinitionList-item:last-child {
    margin-right: 0;
  }
  
  
  .InlineDefinitionList-itemName {
    display: inline-block;
    margin-right: .5em;
  }
  
  .InlineDefinitionList-itemValue {
    font-weight: 700;
  }
  
  @media (min-width: 1024px) {
    .InlineDefinitionList-item {
      border-right: 1px solid hsl(30, 10%, 85%);
      margin-right: 1em;
      padding-right: 1em;
    }
    .InlineDefinitionList-item:last-child {
      border: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }
  .LinkButton {
    background: transparent;
    border: 0;
    color: var(--ga-orange-dark);
    font: inherit;
    padding: 0;
    text-decoration: none;
  }
  
  .LinkButton:hover {
    text-decoration: underline;
  }
  .Logo {
    margin: 0 3em;
  }
  
  .Logo-full {
    display: none;
  }
  
  .Logo-partial {
    text-align: center;
  }
  
  .Logo-partial > svg {
    fill: #aaa;
    height: 16px;
  }
  
  .Logo-partial::after {
    content: 'Demos & Tools';
    color: #ddd;
    display: block;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: -.03em;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-spacing: .2em;
  }
  
  @media (min-width: 420px) {
    .Logo-partial > svg {
      display: none;
    }
    .Logo-partial::after {
      content: 'Google Analytics Demos & Tools';
      line-height: normal;
    }
  }
  
  @media (min-width: 1024px) {
    .Logo {
      margin: 0;
    }
    .Logo-full {
      display: block;
    }
    .Logo-full > svg {
      display: inherit;
      fill: var(--ga-gray);
      height: var(--ga-logo-height);
      width: var(--ga-logo-width);
    }
    .Logo-partial {
      display: none;
    }
  }
  .Message {
    background-color: hsl(50, 96%, 94%);
    border-left: 5px solid hsl(50, 96%, 50%);
    padding: 1.5em;
  }
  /* .NavHeader {
    padding: 1em var(--gap);
    position: relative;
  }
  
  .NavHeader-homeLink {
    align-items: center;
    color: var(--text-color-faded);
    display: inline-flex;
    height: var(--ga-logo-height);
  }
  .NavHeader-homeLink:hover {
    text-decoration: none;
    color: var(--text-color-light);
  }
  
  .NavHeader-homeIcon {
    font-size: 1.3125em;
  }
  
  .NavHeader-title {
    color: inherit;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: .3em;
    margin: 0 1em 0;
    text-transform: uppercase;
  }
  
  .NavHeader-controls {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: var(--gap);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .NavHeader-controlsIcon {
    border-radius: .333em;
    color: #eee;
    display: flex;
    font-size: 1.3125em;
    margin: -.5rem;
    padding: .5rem;
  }
  
  .NavHeader-controlsIcon:hover {
    background: rgba(0,0,0,.2);
  }
  
  @media (min-width: 1024px) {
    .NavHeader {
      padding: var(--gap-lg);
    }
  
    .NavHeader-controls {
      display: none;
    }
  }
  :root {
    --Nav-indent: 2em;
    --Nav-linkPaddingV: .5em;
  }
  
  
  
  .Nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .Nav-section {
    border-top: 1px solid #555;
    padding: var(--gap) 0;
  }
  
  .Nav-category {
    color: var(--text-color-light);
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: .05em;
    margin-bottom: .5em;
    padding: 0 calc(var(--gap)/1.3); /* Account for font-size. */
  
  
  /* .Nav-link {
    color: var(--text-color-faint);;
    display: block;
    padding: var(--Nav-linkPaddingV) var(--gap);
  }
  .Nav-link:hover {
    background-color: hsla(0,0%,0%,.15);
    text-decoration: none;
  }
  .Nav-link--selected,
  .Nav-link--selected:hover {
    background-color: hsla(0,0%,100%,.075);
    color: #fff;
    cursor: default;
    pointer-events: none;
  }
  
  .Nav-link--nested {
    font-size: 0.85em;
    padding-bottom: calc(var(--Nav-linkPaddingV)/0.85);
    padding-left: calc(var(--gap)+var(--Nav-indent)/0.85);
    padding-top: calc(var(--Nav-linkPaddingV)/0.85);
  }
  
  .Nav-status {
    color: var(--ga-orange-dark);
    font-size: .8em;
    font-weight: 700;
    line-height: 0;
    margin-left: .25em;
    position: relative;
    text-transform: capitalize;
    top: -0.5em;
    vertical-align: baseline;
  }
  .Nav-status:after {
    content: '!';
  }
  
  @media (min-width: 1024px) {
    .Nav-category {
      padding: 0 calc(var(--gap-lg)/1.3); /* Account for font-size. */
    
  

  :root {
    --PivotTable-borderColor: hsl(30,10%,80%);
    --PivotTable-borderColorLight: hsl(30,10%,90%);
    --PivotTable-borderColorDark: hsl(30,10%,70%);
  
    --PivotTable-divisionColor: #000;
  
    --PivotTable-metricHeaderBgColor: hsl(30,10%,84%);
    --PivotTable-dimensionHeaderBgColor: hsl(30,10%,92%);
  }
  
  
  .PivotTable {
    overflow: auto;
    max-width: 100%;
  }
  
  .PivotTable-table {
    border: 1px solid var(--PivotTable-borderColor);
    width: 100%;
  }
  
  .PivotTable-th,
  .PivotTable-td {
    background: #fff;
    border: 1px solid var(--PivotTable-borderColor);
    padding: .75em 1em;
    vertical-align: top;
  }
  
  .PivotTable-th {
    font-weight: bold;
    text-align: left;
  }
  
  .PivotTable-td {
    text-align: right;
  }
  
  .PivotTable-th:empty {
    border: none;
    background: var(--PivotTable-dimensionHeaderBgColor);
  }
  
  .PivotTable-tr > *:last-child {
    border-right: 0;
  }
  
  .PivotTable-tr:last-child > * {
    border-bottom: 0;
    border-right: 0;
  }
  
  .PivotTable-tr:last-child > *:first-child {
    border-left: 0;
  }
  
  .PivotTable-dimensionHeader {
    background: var(--PivotTable-dimensionHeaderBgColor);
    border-color: var(--PivotTable-borderColor);
  }
  
  .PivotTable-dimensionHeader--lastRow.PivotTable-pivot {
    border-bottom-color: var(--PivotTable-borderColorDark);
  }
  
  .PivotTable-dimensionHeader--lastCol:not(.PivotTable-pivot) {
    border-right-color: var(--PivotTable-divisionColor);
  }
  
  .PivotTable-metricHeader {
    background: var(--PivotTable-metricHeaderBgColor);
    border-color: var(--PivotTable-borderColorDark);
    border-bottom-color: var(--PivotTable-divisionColor);
  }
  
  .PivotTable-total {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .PivotTable-value--lastRow,
  .PivotTable-dimensionHeader--lastRow:not(.PivotTable-pivot) {
    border-bottom-color: var(--PivotTable-divisionColor);
  }
  :root {
    --ProgressBar-interval: 2s;
    --ProgressBar-bgColor: hsl(215, 100%, 90%);
    --ProgressBar-color: hsl(215, 100%, 60%);
    --ProgressBar-sizeRatio: .6;
  }
  
  
  .ProgressBar {
    background: var(--ProgressBar-bgColor);
    overflow: hidden;
    position: relative;
  }
  
  .ProgressBar::after,
  .ProgressBar::before {
    background: linear-gradient(to right, var(--ProgressBar-bgColor),
                                          var(--ProgressBar-color) 10%,
                                          var(--ProgressBar-color));
    content: '';
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    width: calc(100% * var(--ProgressBar-sizeRatio));
  }
  
  .ProgressBar::before {
    animation: ProgressBar-leader
               var(--ProgressBar-interval)
               ease-in-out
               infinite;
  
  }
  
  .ProgressBar::after {
    animation: ProgressBar-follower
               var(--ProgressBar-interval)
               ease-in-out
               calc(var(--ProgressBar-interval) * .5)
               infinite;
  }
  
  
  @keyframes ProgressBar-leader {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(calc(150% / var(--ProgressBar-sizeRatio)));
    }
  }
  
  @keyframes ProgressBar-follower {
    0% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(calc(150% / var(--ProgressBar-sizeRatio)));;
    }
    100% {
      transform: translateX(calc(150% / var(--ProgressBar-sizeRatio)));;
    }
  }
  .QueryReport {
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: var(--gap);
    padding: var(--gap) var(--gap) 0;
  }
  
  .QueryReport-title {
    color: inherit;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 .667em;
  }
  
  .QueryReport-meta {
    font-weight: 300;
    margin: 0 0 var(--gap);
  }
  
  .QueryReport-item {
    margin: 0 0 var(--gap);
  }
  
  @media (--break-lg) {
    .QueryReport {
      margin-bottom: var(--gap-lg);
      padding: var(--gap-lg) var(--gap-lg) 0;
    }
    .QueryReport-meta {
      margin: 0 0 var(--gap-lg);
    }
  
    .QueryReport-item {
      margin: 0 0 var(--gap-lg);
    }
  }
  .Screenshot {
    margin-bottom: var(--gap);
  }
  
  .Screenshot img {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: auto;
    max-width: 100%;
  }
  
  .Screenshot figcaption {
    color: var(--text-color-faint);
    font-size: .85em;
    font-style: italic;
    padding: .5em 4px 0;
    text-align: right;
  }
  .SearchSuggestMatch {
    border: solid #eee;
    border-width: 1px 0 0;
    line-height: 1.2;
    list-style: none;
    overflow: hidden;
    padding: .5em;
    word-wrap: break-word;
  }
  .SearchSuggestMatch:first-child {
    border: 0;
  }
  
  .SearchSuggestMatch-category {
    color: #bbb;
    float: right;
    font-size: .6em;
    font-weight: 700;
    letter-spacing: .1em;
    margin: .1em 0 1em .5em;
    text-transform: uppercase;
    text-align: right;
    max-width: 12em;
  }
  
  .SearchSuggestMatch-content {
    font-weight: 600;
  }
  
  .SearchSuggestMatch-extra {
    color: #777;
    font-size: .8em;
    font-weight: 300;
    margin-top: .15em;
    word-wrap: break-word;
  }
  
  
  .SearchSuggestMatch--selected {
    border-color: transparent;
    background: var(--border-color-active);
  }
  .SearchSuggestMatch--selected .SearchSuggestMatch-category,
  .SearchSuggestMatch--selected .SearchSuggestMatch-content,
  .SearchSuggestMatch--selected .SearchSuggestMatch-extra {
    color: #fff;
  }
  .SearchSuggest {
    display: block;
    width: 100%;
  }
  
  .SearchSuggest-matches {
    background: #fff;
    border: 1px solid;
    border-color: #eee var(--border-color-active) var(--border-color-active);
    border-radius: 0 0 4px 4px;
    display: none;
    list-style: none;
    margin: -1px 0 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 100%;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    z-index: 1;
  }
  
  .SearchSuggest--open {
    position: relative;
  }
  
  .SearchSuggest--open .SearchSuggest-field {
    border-color: var(--border-color-active);
    border-radius: 4px 4px 0 0;
  }
  
  .SearchSuggest--open .SearchSuggest-matches {
    display: block;
  }
  
  .SearchSuggest--above.SearchSuggest--open .SearchSuggest-matches {
    bottom: 100%;
    border-color: var(--border-color-active) var(--border-color-active) #eee;
    border-radius: 4px 4px 0 0;
    margin: 0 0 -1px;
    top: auto;
  }
  
  .SearchSuggest--above.SearchSuggest--open .SearchSuggest-field {
    border-radius: 0 0 4px 4px;
  }
  .Site {
    background: var(--bg-color-light);
    min-height: 100%;
    min-width: var(--sidebar-width);
  }
  
  .Site-sidebar {
    background: var(--bg-color-dark-faded);
    bottom: 0;
    box-shadow: 0 0 var(--gap) rgba(0, 0, 0, 0);
    left: -var(--sidebar-width);
    max-width: 100%;
    min-width: var(--sidebar-width);
    overflow-y: auto;
    position: fixed;
    top: 0;
    transform: translate3d(0, 0, 0);
    transition: transform .3s cubic-bezier(.4,0,.2,1);
    width: var(--sidebar-width);
    z-index: 1;
  }
  
  .Site.is-expanded {
    overflow: hidden;
  }
  
  .Site.is-expanded .Site-sidebar {
    box-shadow: 0 0 var(--gap) rgba(0, 0, 0, 0.5);
    transform: translate3d(var(--sidebar-width), 0, 0);
  }
  
  
 
  
  @media (--break-md) {
    
    .Site-sidebar {
      left: -var(--sidebar-width-md);
      min-width: var(--sidebar-width-md);
      width: var(--sidebar-width-md);
    }
    .Site.is-expanded .Site-sidebar {
      transform: translate3d(var(--sidebar-width-md), 0, 0);
    }
  }
  
  @media (--break-lg) {
    .Site {
      display: flex;
  
      /* TODO(philipwalton): add fallback for non-supporting browsers; */
      /* TODO(philipwalton): Two column, equal height hack for fallback.
      background-image: linear-gradient(
        to right,
        var(--bg-color-dark-faded) 0%,
        var(--bg-color-dark-faded) var(--sidebar-width-lg));
      background-size: var(--sidebar-width-lg) 1px;
      background-repeat: repeat-y;
      */
    }
  
    .Site-sidebar {
      background: var(--bg-color-dark-faded);
      border-top: .4em solid #222;
      box-shadow: none;
      overflow: visible;
      position: static;
      transition: none;
      z-index: 0;
    }
  
    .Site.is-expanded .Site-sidebar {
      transform: none;
    }
  
    .Site-main {
      border-top: .4em solid #f7991c;
      box-shadow: 0 0 1em rgba(0,0,0,.3);
      flex: 1;
      min-width: 0;
      position: relative; /* To get it stacked above the sidebar */
  
      /* TODO(philipwalton): fallback for non-flexbox
      margin-left: var(--sidebar-width-lg);
      */
    }
  }
  .Table {
    background: #fff;
    margin: 0 0 var(--gap);
  }
  
  .Table td,
  .Table th {
    border: 1px solid var(--border-color);
    padding: 1em;
    text-align: left;
    vertical-align: top;
  }
  
  .Table th > h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 400;
  }
  
  .Table tbody tr:nth-child(2n-1) {
    background-color: hsla(0, 0%, 0%, .02);
  }
  
  .Table td > p {
    margin: 0
  }
  
  .Table td > p + p {
    margin-top: 0.5em
  }
  
  .Table td > p > strong {
    font-weight: 600;
    white-space: nowrap
  }
  .TechInfo {
    background: #fff;
    border: 1px solid var(--info-color);
    border-radius: 4px;
    display: flex;
    margin: var(--gap) 0;
    max-width: 52em;
    padding: 1.25em;
  }
  
  .TechInfo-icon {
    fill: var(--info-color);
    flex: 0 0 auto;
    margin-right: 1em;
    height: 1.5em;
    overflow: visible;
    width: 1.5em;
  }
  
  .TechInfo-content {
    color: var(--text-color-faded);
    flex: 1;
    font-size: .9em;
    margin: 0;
  }
  
  .TechInfo-title {
    color: var(--info-color);
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 .5em;
  }
  
  .TechInfo a {
    color: var(--info-color);
    text-decoration: underline;
  }
  
  @media (--break-lg) {
    .TechInfo {
      margin: var(--gap-lg) 0;
    }
  }
  .Titles {
    font-weight: 300;
    letter-spacing: -.03em;
    line-height: 1.2;
    margin: 0 0 var(--gap);
    word-spacing: .2em;
  }
  .Titles-main,
  .Titles-sub {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  .Titles-main {
    font-size: 1.4em;
  }
  .Titles-sub {
    opacity: .6;
    margin-top: .2em;
  }
  .Titles-action {
    background: var(--ga-orange-dark);
    border-radius: .25em;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    margin-top: .8em;
    padding: .3em .6em .2em;
    vertical-align: .4em;
  }
  .Titles-action:focus,
  .Titles-action:hover {
    text-decoration: none;
  }
  
  
  /**
   * `--hero` modifer
   * Creates a bigger set of titles for use in page headers. Also
   * inlines the main and subtitle in larger medias.
   */
  
  .Titles--hero {
    color: var(--ga-gray);
  }
  
  .Titles--hero .Titles-main {
    font-size: 2.25em;
  }
  .Titles--hero .Titles-sub {
    font-size: 1.25em;
  }
  
  @media (--break-md) {
    .Titles--hero {
      margin: 1em 0 var(--gap);
    }
    .Titles--hero .Titles-main {
      display: inline-block;
      margin-right: .25em;
    }
    .Titles--hero .Titles-sub {
      display: inline-block;
    }
  }
  
  @media (--break-lg) {
    .Titles--hero {
      margin: 4em 0 0;
    }
    .Titles--hero .Titles-main {
      font-size: 3em;
      margin-right: .5em;
    }
    .Titles--hero .Titles-sub {
      font-size: 1.75em;
    }
  }
  .Video {
    position: relative;
    padding-bottom: 62.5%;
    height: 0;
  }
  .Video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .ViewSelector,
.ViewSelector2 {
  display: block
}

.ViewSelector2-item,
/* For the old school view selector. */
.ViewSelector table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}

.ViewSelector2-item > label,
/* For the old school view selector. */
.ViewSelector td:first-child {
  font-weight: 700;
  margin: 0 .25em .25em 0;
  display: block;
}

.ViewSelector2-item > select {
  width: 100%;
}


/*
 * Additional hacks to get the native ViewSelector component (which uses
 * closure widgets) to look like our custom ViewSelector extension.
 */

.ViewSelector table,
.ViewSelector tbody,
.ViewSelector tr,
.ViewSelector td {
  display: block;
}

.ViewSelector table {
  height: auto!important;
  width: auto!important;
}

.ViewSelector td {
  width: auto!important;
}

.ViewSelector td:last-child * {
  display: block;
  text-align: left;
}

.ViewSelector td:last-child > div {
  font-weight: 400;
  margin: 0;
}

@media (min-width: 570px) {
  .ViewSelector,
  .ViewSelector2 {
    display: flex;
    margin: 0 0 -1em -1em;
    width: calc(100% + 1em);
  }

  .ViewSelector2-item,
  /* For the old school view selector. */
  .ViewSelector table {
    flex: 1 1 calc(100%/3 - 1em);
    margin-left: 1em;
  }
}

/*
 * Force each item onto its own line
 * regardless of the breakpoint.
 */
.ViewSelector2--stacked,
.ViewSelector--stacked {
  display: block;
  margin: 0;
  width: auto;
}

.ViewSelector2--stacked .ViewSelector2-item,
/* For the old school view selector. */
.ViewSelector--stacked table {
  margin-left: 0;
}
.u-visuallyHidden {
  border: 0!important;
  clip: rect(1px, 1px, 1px, 1px)!important;
  height: 1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
}
.u-hidden {
  display: none;
}
.u-block {
  display: block;
}

@media (min-width: 420px) {
  .u-sm-hidden {
    display: none;
  }
  .u-sm-block {
    display: block;
  }
}

@media (min-width: 570px) {
  .u-md-hidden {
    display: none;
  }
  .u-md-block {
    display: block;
  }
}

@media (min-width: 1024px) {
  .u-lg-hidden {
    display: none;
  }
  .u-lg-block {
    display: block;
  }
}
.u-spaceDouble {
  margin: 0 0 calc(2*var(--gap));
}
.hljs {
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-family: Menlo, monospace;
  font-size: .9em;
  max-width: 52em;
  overflow: auto;
  padding: var(--gap);
}
.react-tabs [role=tablist] {
  margin: 1.5em 0;
}
.gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-tr-odd {
  background: hsl(30, 15%, 96.7%)!important;
}

.gapi-analytics-data-chart .gapi-analytics-data-chart-styles-table-tr-over {
  background: hsl(30, 15%, 93.3%)!important;
}

  
  
  
  
  
  
  
          
          
  