/* Style the list items */
#ul_khachhang li {
    padding-left: 0px;
    padding-right: 0px;
    list-style-type: none;
    background: #fff;
    font-size: 13px;
    color: black;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  #ul_khachhang li:nth-child(odd) {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  /* Darker background-color on hover */
  #ul_khachhang li:hover {
    background: #ddd;
  }

#ul_khachhang {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}



#ul_socot li {
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
  background: #fff;
  font-size: 13px;
  color: black;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  
}

/* Set all odd list items to a different color (zebra-stripes) */
#ul_socot li:nth-child(odd) {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1.8%;
}

/* Darker background-color on hover */
#ul_socot li:hover {
  background: #ddd;
}

#ul_socot {
  margin: 0;
  padding: 0;
  
  display: inline-block;
}


#ul_thietbi li {
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
  background: #fff;
  font-size: 13px;
  color: black;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ul_thietbi li:nth-child(odd) {
  padding-left: 5px;
  padding-right: 5px;
  background: #fff;
}

#ul_thietbi li:hover {
  background: #ddd;
}

#ul_thietbi {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
} 







/* HINH ANH */
#hinhanh {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* SO HOA HOP DONG*/
#ul_hosodientu li {
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
  background: #fff;
  font-size: 13px;
  color: black;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#ul_hosodientu li:nth-child(odd) {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}

/* Darker background-color on hover */
#ul_hosodientu li:hover {
  background: #ddd;
}

#ul_hosodientu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
}
#ul_hosodientu1 li {
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
  background: #fff;
  font-size: 13px;
  color: black;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#ul_hosodientu1 li:nth-child(odd) {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}

/* Darker background-color on hover */
#ul_hosodientu1 li:hover {
  background: #ddd;
}

#ul_hosodientu1 {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
}
  
