html, body {
    height: 100%;
}

  /* #pac-input {

    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    text-align: center;
    margin-left: 400px;
    z-index: 100;
    position: absolute;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
 
  #target {
    width: 345px;
  } */
.search-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top:80px;
  /* left:25%; */
  left: auto;
  right:30px;
  z-index: 100;
}

#thanhnoidung{
  position: absolute;
  transform: translate(-50%, -50%);
  top:81px;
  

  right:5%;
  z-index: 100;
}

#thanhnoidung_khoangcach{
  position: absolute;
  /* transform: translate(0%, 100%); */
  overflow: inherit;
  top:160px;
  padding-left: 1em;

  left:18.4%;
  z-index: 100;
  max-height: 50%;
  overflow: auto;
}

#thanhnoidung_khoangcach::-webkit-scrollbar{
  width:10px;
  background-color:#cccccc;
} 
#thanhnoidung_khoangcach::-webkit-scrollbar-thumb{
  background-color:dimgray;
  border-radius:10px;
}
#thanhnoidung_khoangcach::-webkit-scrollbar-track{
  border:1px gray solid;
  border-radius:10px;
} 

#thanhnoidung_chuyencot{
  position: absolute;
  /* transform: translate(0%, 100%); */
  overflow: inherit;
  top:160px;
  padding-left: 1em;

  left:18.4%;
  z-index: 100;
  max-height: 50%;
  overflow: auto;
}

#thanhnoidung_chuyencot::-webkit-scrollbar{
  width:10px;
  background-color:#cccccc;
} 
#thanhnoidung_chuyencot::-webkit-scrollbar-thumb{
  background-color:dimgray;
  border-radius:10px;
}
#thanhnoidung_chuyencot::-webkit-scrollbar-track{
  border:1px gray solid;
  border-radius:10px;
} 
.search-wrapper .input-holder {    
  height: 41px;
  width:70px;
  overflow: hidden;
  /* //background: rgba(255, 255, 255, 0.904); */
  border-radius:6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
  width:330px;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  left: 35%;
}
.search-wrapper .input-holder .search-input {
  width:100%;
  height: 25px;
  padding:0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  bottom:17px;
  left:0px;
  background: transparent;
  box-sizing: border-box;
  border:none;
  outline:none;
  font-family:"Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:#FFF;
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
  width:43px;
  height:41px;
  
  border-radius:6px;
  background:#FFF;
  
  padding:0px;
  outline:none;
  position: relative;
  z-index: 2;
  float:right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1.5px solid coral;
}
.search-wrapper.active .input-holder .search-icon {
  width: 40px;
  height:35px;
  margin: 3px;
  border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
  width:22px;
  height:22px;
  display: inline-block;
  vertical-align: middle;
  position:relative;
  transform: rotate(45deg);
  transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
} 
 .search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
  position: absolute; 
  content:'';
}
.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 14px;
  border-radius: 2px;
  background: #FE5F55;
}
.search-wrapper .input-holder .search-icon span::after {
  width: 14px;
  height: 14px;
  left: 3.5px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #FE5F55;
}
.search-wrapper .close {
  position: absolute;
  z-index: 1;
  top:24px;
  right:20px;
  width:25px;
  height:25px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  transition-delay: 0.2s;
  opacity: .1;
}
.search-wrapper.active .close {
  right:-140px;
  top:40px;
  transform: rotate(45deg);
  transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.5s;
  opacity: .7;
}
.search-wrapper .close::before, .search-wrapper .close::after {
  position:absolute;
  content:'';
  background: #FE5F55;
  border-radius: 2px;
}
.search-wrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}
.search-wrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
}

.search-cot {
  position: absolute;
  transform: translate(-50%, -50%);
  top:80px;
  /* left:25%; */
  left: auto;
  right:90px;
  z-index: 100;
}
.search-cot .input-holder-cot {    
  height: 41px;
  width:70px;
  overflow: hidden;
  /* //background: rgba(255, 255, 255, 0.904); */
  border-radius:6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search-cot.active .input-holder-cot {
  width:250px;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  left: 35%;
}
.search-cot .input-holder-cot .search-input-cot {
  width:100%;
  height: 25px;
  padding:0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  bottom:17px;
  left:0px;
  background: transparent;
  box-sizing: border-box;
  border:none;
  outline:none;
  font-family:"Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:#FFF;
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
}
.search-cot.active .input-holder-cot .search-input-cot {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-cot .input-holder-cot .search-icon-cot {
  width:43px;
  height:41px;
 
  border-radius:6px;
  background: #FFF;
  padding:0px;
  outline:none;
  position: relative;
  z-index: 2;
  float:right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1.5px solid cornflowerblue;
}
.search-cot.active .input-holder-cot .search-icon-cot{
  width: 40px;
  height:35px;
  margin: 3px;
  border-radius: 30px;
}
.search-cot .input-holder-cot .search-icon-cot span {
  width:22px;
  height:22px;
  display: inline-block;
  vertical-align: middle;
  position:relative;
  transform: rotate(45deg);
  transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-cot.active .input-holder-cot .search-icon-cot span {
  transform: rotate(-45deg);
}
.search-cot .input-holder-cot .search-icon-cot span::before, .search-cot .input-holder-cot .search-icon-cot span::after {
  position: absolute; 
  content:'';
}
.search-cot .input-holder-cot .search-icon-cot span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 14px;
  border-radius: 2px;
  background: blue;
}
.search-cot .input-holder-cot .search-icon-cot span::after {
  width: 14px;
  height: 14px;
  left: 3.5px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid blue;
}
.search-cot .close {
  position: absolute;
  z-index: 1;
  top:24px;
  right:20px;
  width:25px;
  height:25px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  transition-delay: 0.2s;
  opacity: .1;
}
.search-cot.active .close {
  right:-120px;
  top:40px;
  transform: rotate(45deg);
  transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.5s;
  opacity: .7;
}
.search-cot .close::before, .search-cot .close::after {
  position:absolute;
  content:'';
  background: blue;
  border-radius: 2px;
}
.search-cot .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}
.search-cot .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
}




.searchbox-directions + .tooltip > .tooltip-inner {
      background-color: #73AD21; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 20px;
  }
  /* Tooltip on top */
.searchbox-directions + .tooltip.right > .tooltip-arrow {
      border-top: 5px solid green;
  }
  #GND_khoangcachcot, #GND_duongdiday, #GND_bientapexcel, #GND_bientap, #GNC_hienthicot, #GND_doitramchocot, #GND_chonnhieutram
  {
    position: relative;
    background-color: rgba(192,192,192, 0.5);
    font-size: 13px;
    margin: 5px;
    padding: 1.8px 0px 0px;
    width: 120px;
    height: 35px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    border: 1px solid brown;
   
}
#GND_khoangcachcot input, #GND_duongdiday input,#GND_bientapexcel input,#GND_bientap input,#GNC_hienthicot input,#GND_doitramchocot input ,#GND_chonnhieutram input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#GND_khoangcachcot:hover, #GND_duongdiday:hover, #GND_bientapexcel:hover, #GND_bientap:hover, #GNC_hienthicot:hover, #GND_doitramchocot:hover
{
  background-color: aquamarine;
  color: black;
  cursor: pointer;
}
#GND_khoangcachcot:active, #GND_duongdiday:active, #GND_bientapexcel:active, #GND_bientap:active, #GNC_hienthicot:active,#GND_doitramchocot:active
{
  background-color: aquamarine;
  color: black;
  cursor: pointer;
}
/* #Excelkhachhang:hover,  #Excelimage:hover, #Excelhinh:hover, #Excelcot:hover, #BientapSave:hover
{
  background-color: aquamarine;
  color: black;
  cursor: pointer;
} */







    

  
  
  
  

