#map {
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;  
}

.button {
    position: relative;
    background-color:rgb(165, 42, 42);
    border: none;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    padding: 0px;
    width:  90px;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button_xanh {
    position: relative;
    background-color:rgb(50,190,166);
    border: none;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    padding: 0px;
    width:  90px;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.button_xanh:after {
    content: "";
    background: brown;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button_xanh:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.header {
    background-color: rgb(50,190,166);
    height: 50px;
}

.tieude {
    width: 208px;
    border: none;
    background-color: #A9F5E1;
    display: table;
    height: 30px;
    font-weight: bold;
    padding: 5px;
}

.tentieude{
    width: 100%;
    display: table-cell;
    border: none;
    vertical-align: middle;
    
    color: black;
    font-weight: bold;
    /* font-size: 13px; */
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
 }
 #loading_verson2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
 }
 
 #loading-image {
   position: absolute;
   top: 100px;
   left: 240px;
   z-index: 100;
 }
 #loading-imagevs2 {
    position: absolute;
    top: 200px;
    left: 600px;
    z-index: 100;
  }
 #loading-khachhang {
    position: absolute;
    width: 70px;
    z-index: 100;
    height: 70px;
    left: 80px;
    top: 240px;
   
    animation-duration: 10s;
  }

 .left_tieude {
    width: 100%;
    display: table-cell;
    border: none;
    vertical-align: middle;
    padding-left: 5px;
    color: #5A5A5A;
    font-size: 13px;
}

.left_khongtieude {
    width: 100%;
    display: table-cell;
    border: none;
    vertical-align: middle;
    color: black;
    font-size: 13px;
}

/* Dung trong dialog */
.dialog_header_layout {
    width: 100%;
    border: none;
    background-color: rgb(50,190,166);
    display: table;
    height: 45px
}
.dialog_header_layout_dat {
    text-align: center;
    width: 100%;
    background-color: white;
    display: table;
    height: 30px
}

.dialog_header_text {
    width: 100%;
    display: table-cell;
    border: none;
    text-align:center; 
    vertical-align:middle;
    color: white;
    font-weight: bold;
    font-size: 15px; 
}

.dialog_row_layout {
    width: 100%;
    border: none;
    background-color: white;
    display: table;
}

.dialog_ngancach_layout {
    width: 100%;
    border: none;
    margin-top: 6px;
    background-color:rgb(50,190,166);
    height: 1px;
}

.dialog_row_layout_bottom {
    width: 100%;
    border: none;
    background-color: white;
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

/*  Phan nhap */
input[type=text],input[type=password], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
}
.col-70 input[type=text],input[type=password], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid teal;
    border-radius: 4px;
    resize: vertical;
    
}
.row input[type=text],input[type=password], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid teal;
    border-radius: 4px;
    resize: vertical;
    height: 20px;
    margin-top: 6px;
    
    
}
.row_TTCT input[type=text],input[type=password], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid teal;
    border-radius: 4px;
    resize: vertical;
    height: 35px;
    margin-top: 6px;
    
    
}
.col-70 .row input[type=text],input[type=password], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid teal;
    border-radius: 4px;
    resize: vertical;
    margin-top: 2px;
    height: 35px;
    
    
}
#id01 .row{
    margin-bottom: -5px;
}
.col-20d .row label{
    font-weight: 200;
    color:gray;
}
.col-30d .row label{
    font-weight: 200;
    color:gray;
}
label {
    padding: 6px 6px 6px 0;
    display: inline-block;
}

.col-15 {
    float: left;
    width: 15%;
    margin-top: 6px;
    padding-left: 10px;
}
.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
    padding-left: 14px;
}
.col-image {
    float: left;
    width: 25%;
    margin-left: 7px;
    margin-top: 5px

}
.col-image-label {
    float: left;
    width: 50%;
    text-align: center;
    margin-left: 5px;
    padding-left: 0px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}
.col-50 {
    float: left;
    width: 50%;
}
.col-40d {
    float: left;
    width: 40%;
}
.col-60d {
    float: left;
    width: 60%;
    margin-top: 7px;
}
.col-20d {
    float: left;
    width: 20.5%;
    margin-top: 6px;
    padding-left: 25px;
    padding-right: 0px
}
.col-30d {
    float: left;
    width: 31.9%;
    margin-top: 6px;
    padding-left: 25px;
    padding-right: 0px
}
.col-80 {
    float: left;
    width: 80%;
    margin-top: 6px;
    padding-left: 5px;
    padding-right: 10px
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
    padding-left: 5px;
    padding-right: 10px
}
.col-lg-1d{
    -webkit-box-flex: 0;
    flex: 0 0 10%;
    max-width: 10%;
}
.col-lg-2d{
    -webkit-box-flex: 0;
    flex: 0 0 13.3%;
    max-width: 13.3%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button_xem {
    position: relative;
    background-color:rgb(50,190,166);
    border: none;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    padding: 0px;
    height: 25px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.button_dongy {
    position: relative;
    background-color:rgb(50,190,166);
    border: none;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    padding: 0px;
    width:  90px;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.button_dongy_70 {
    position: relative;
    background-color:rgb(50,190,166);
    border: none;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    padding: 0px;
    width:  70px;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.button_xoaanh {
    position: relative;
    background-color: #f44336;
    border: none;
    font-weight: bold;
    font-size: 13px;
    color:#FFFFFF;
    padding: 0px;
    width:  90px;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.button_khongdongy {
    position: relative;
    background-color: #f44336;
    border: none;
    font-weight: bold;
    font-size: 13px;
    color:#FFFFFF;
    padding: 0px;
    width:  90px;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}
.button_khongdongy_dat {
    position: relative;
    background-color: whitesmoke;
    border: 1px solid red;
    font-weight: bold;
    font-size: 13px;
    color:red;
    padding: 1px;
    margin-right: 5px;
    width:  90px;
    height: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}
.button_khongdongy_dat:hover {
    background-color: red;
    color: white;
}
.button_CPM {
    position: relative;
    background-color: #f44336;
    border: none;
    font-weight: bold;
    font-size: 13px;
    color:#FFFFFF;
    padding: 0px;
    width:  35px;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}
.button_khongdongy_panel {
    position: relative;
    background-color: #f44336;
    border: none;
    font-weight: bold;
    font-size: 13px;
    color:#FFFFFF;
    padding: 0px;
    width:  25px;
    height: 25px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
}

.button_an {
    position: relative;
    background-color: #5A5A5A;
    border: none;
    font-weight: bold;
    font-size: 13px;
    color:#FFFFFF;
    padding: 0px;
    width:  90px;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.text_noidung {
    font-size: 13px;
    color:#000000
}

.col-36 {
    float: left;
    width: 36%;
    padding-left: 10px;
}

.col-25 {
    float: left;
    width: 25%;
    padding-left: 10px;
}

.col-14 {
    float: left;
    width: 14%;
    padding-left: 10px;
    padding-right: 10px;
}

.dropbtn {
    width: 100%;
    height: 100%;
    font-size: 13px;
    background: transparent;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0%;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.ic-vangvienden{
    border: 1px solid;
    border-color: black;
    background-color: #FFFF00;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-dovienden{
    border: 1px solid;
    border-color: black;
    background-color: #FF0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-camvienden{
    border: 1px solid;
    border-color: black;
    background-color: #FF8C00;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-xanhdatroivienden{
    border: 1px solid;
    border-color: black;
    background-color: #00FFFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-xanhlacayvienden{
    border: 1px solid;
    border-color: black;
    background-color: #00FF00;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-timvienden{
    border: 1px solid;
    border-color: black;
    background-color: #9900FF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-hongvienden{
    border: 1px solid;
    border-color: black;
    background-color: #FF66FF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-xanhdamvienden{
    border: 1px solid;
    border-color: black;
    background-color: #0000FF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-xamnhatvienden{
    border: 1px solid;
    border-color: black;
    background-color: #BBBBBB;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-xamdamvienden{
    border: 1px solid;
    border-color: black;
    background-color: #777777;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ic-trangvienden{
    border: 1px solid;
    border-color: black;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* Thuan css */
.ic-linkSupportRed{
    color: #FF0000
}

.ic-linkSupportBlue{
    color: #0000FF
}

textarea {
    color: #444; /* or whatever */
    background-color: transparent;
}

.highlights {
    color: transparent;
}

mark {
    color: transparent;
    background-color: #d4e9ab; /* or whatever */
}

.backdrop {
    background-color: #fff; /* or whatever */
}



.alignleftChatContentADMIN {
    /* margin-left: 5px; */
    text-align: justify;
    border: 1px solid #c7edfc;
    border-radius: 5px;
    background-color:#c7edfc;
    float: left;
    width: 70%;
    margin: 0 30% 5px 5px;
    padding: 3px;
}
.alignrightChatContentUSER {
    /* margin-left: 5px; */
    /* text-align: right; */
    border: 1px solid #f0f4f8;
    border-radius: 5px;
    background-color:#f0f4f8;
    float: right;
    width: 70%;
    /* max-width: 70%; */
    margin: 0 5px 5px 30%;
    padding: 3px;
}

.alignrightChatContentADMIN {
    /* margin-left: 5px; */
    border: 1px solid #f0f4f8;
    border-radius: 5px;
    background-color:#f0f4f8;
    float: right;
    width: 70%;
    /* max-width: 70%; */
    margin: 0 5px 5px 30%;
    padding: 3px;
}

.alignleftChatContentAll {
    /* margin-left: 5px; */
    text-align: justify;
    border: 1px solid #c7edfc;
    border-radius: 5px;
    background-color:#c7edfc;
    float: left;
    width: 70%;
    margin: 0 30% 5px 5px;
    padding: 3px;
}

.alignleftID {
    color: #929ca9;
    margin: 0 0 0 10px;
    float: left;
    font-size: 90%;
}

.alignleftIDAD {
    color: red;
    margin: 0 0 0 10px;
    float: left;
    font-size: 90%;
}

.alignright {
    margin: 0 10px 0 0;
    color: #929ca9;
    float: right;
    font-size: 80%;
}

.backgroundAreaChatUSER {
    /* background-color:#00BFFF; */
}

.backgroundAreaChatADMIN {
    /* background-color:pink; */
}

p.outset {
    /* border: 1px;
    border-style: outset; */
    margin: 0 0 0 0;
}

#chatarea_tinnhan{
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.desc {
    padding: 15px;
    text-align: center;
} 

.box-user-online{
    margin: 10px 5px 10px 5px;
}

.thietbi{
    display: inline-block;
    float: right;
}

#area_danhsachnguoionline{
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}

.some-style {
    width: 50px; 
    height: 50px;
    border-radius: 25px;

}

.some-style-thietbi-window {
    float: right;
    width: 15px; 
    height: 15px;
    position: relative;
    margin-top: 100%;
    margin-right: 40%;
}

.some-style-thietbi-android {
    float: right;
    width: 20px; 
    height: 20px;
    position: relative;
    margin-top: 80%;
    margin-right: 25%;
}

.safelyLoadImage {
    display: none;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

/* div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
} */
}



input {
    outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; /* remove the search and cancel icon */
}



form.search_thongtinkhachhang input[type=text] {
    padding: 10px;
    font-size: 14px;
    border: 2px solid white;
    float: left;
    margin: 5px;
    width: 80%;
    height: 30px;
    background: #f1f1f1;
}

form.search_thongtinkhachhang div {
    float: left;
    width: 15%;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    background: rgb(50,190,166);
    color: white;
    font-size: 17px;
    vertical-align: bottom;
    cursor: pointer;
}

form.TTCT_searchTTKH input[type=text] {
    padding: 10px;
    font-size: 14px;
    border: 2px solid white;
    float: left;
    margin: 0px;
    width: 100%;
    height: 35px;
    background:white;
}
form.search_thongtinkhachhang div i {
    margin-top: 5.5px;
}

form.search_thongtinkhachhang div:hover {
    background: brown;
}

form.search_thongtinkhachhang::after {
    content: "";
    clear: both;
    display: table;
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

input.select2-search__field[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input.select2-search__field[type=search] {
    background: #ededed url(search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding-left: 10px;
    padding-right: 10px;
    width: 0%;
     
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
     
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input.select2-search__field[type=search]:focus {
    width: 93.7%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border-color: #6dcff6;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

#snackbar {
    visibility: hidden;
    width: 150px;
    height: 50px;
    background-color: #343a40;
    color: white;
    text-align: center;
    border-radius: 50px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
    border : 10px
}

/* Toast CSS */
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.responsive-parent {
    display: table;
    table-layout: auto;
    width: 100%; 
    border: 1px solid red;
    /* max-height: 40%; */
}

.responsive-parent-kh {
    display: table;
    table-layout: auto;
    width: 100%; 
    border: 1px solid red;
    /* max-height: 40%; */
}

.responsive-parent-cot {
    display: table;
    table-layout: auto;
    width: 100%; 
    border: 1px solid red;
    /* max-height: 40%; */
}

img.img-gallery{
    display: inline-table;
    width: 10vw;
    /* height: 10vh; */
}
#btn_treothao{
    position: relative;
    background-color:burlywood;
    font-weight: bold;
    font-size: 13px;
    color:  currentColor;
    padding: 0px;
    width: 70%;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: -1px;
}

#btn_treothao:hover{
    background-color: brown;
    color: whitesmoke
}

#btn_duyetdstreothao{
    position: relative;
    background-color:burlywood;
    font-weight: bold;
    font-size: 13px;
    color:  currentColor;
    padding: 0px;
    width: 85%;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: -1px;
}

.btn_duyetdstreothao:hover{
    background-color: brown;
    color: whitesmoke
}
.btn_MultiTram{
    position: relative;
    background-color:rgb(50,190,166);
    font-weight: bold;
    font-size: 13px;
    color:  white;
    padding: 0px;
    width: 100%;
    height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -1px;
}

#btn_MultiTram:hover{
    background-color: brown;
    color: whitesmoke
}
/* CheckBox in CSS */
/* The container */
.container {
    color: currentColor;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13px;
    font-weight: bolder;
    margin-top: 4px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: burlywood;
    border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: white;
    border: 1px solid brown;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
    border: 1px solid brown;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid red;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
 #today textarea:disabled, input:disabled{
    background-color: beige;
 }
 
.icon{
    position: absolute;
    top: 75px;
    margin-left: 16px;
    margin-top: 11px;
    z-index: 1;
    color: #4f5b66;
    cursor: pointer;
  }
.display-client{
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: brown;
    cursor: pointer;
    display: block;
    font-weight: 720;
    font-size: 10px;
    width: 29px;
    height: 22px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(192,192,192, 0.5);
    border-radius: 5px;
    border: 1px solid brown;
    position: relative;
    float: right;
    right: 0;
    padding-top:4px;
    padding-left: 2px;
    padding-bottom:5px;
}
.display-client:hover{
    background-color: aquamarine;
}
.searchbox-directions {
    color: #4285F4;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 22px;
    opacity: .8;
    text-align: center;
    text-transform: uppercase;
    background: url(https://png.icons8.com/color/100/000000/marker.png) no-repeat 1px 1px/20px;
    width: 22px;
    position: relative;
    float: right;
    right: 0;
    padding-right: 0.5px;
}

.icon-box-directions {
    color: #4285F4;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 22px;
    opacity: .8;
    /* text-align: center; */
    text-transform: uppercase;
    background: url(http://maps.gstatic.com/tactile/omnibox/directions-2x-20150909.png) no-repeat 1px 1px/20px;
    width: 22px;
    position: relative;
    float: right;
    right: 0;
    padding-right: 0.5px;
}
/* .searchbox-directions  + .tooltip > .tooltip-inner {
    background-color: #73AD21; 
    color: #FFFFFF; 
    border: 1px solid green; 
    padding: 15px;
    font-size: 20px;
} */


/* Nhấp nháy text */
@-webkit-keyframes my {
    0% { color: #F8CD0A; } 
    50% { color: #fff;  } 
    100% { color: #F8CD0A;  } 
    }
    @-moz-keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
    }
    @-o-keyframes my { 
    0% { color: #F8CD0A; } 
    50% { color: #fff; } 
    100% { color: #F8CD0A;  } 
    }
    @keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
    } 
    .text-download {
            background:#3d3d3d;
            font-size:24px;
            font-weight:bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite; 
    -o-animation: my 700ms infinite; 
    animation: my 700ms infinite;
   }
   #xuatexcel{
      border-bottom:1px solid gray;
   } 
   #xuatexcel_1{
    border-bottom:2px solid rgb(50,190,166);
 } 
   
#xuatexcel:hover{
    background-color: lavender;
    
}

.fix_header td{
    height: 46px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    word-break: break-all;
    column-fill:auto;
    flex-direction:row;

}
.fix_header tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    white-space: nowrap;
  }
#tbody-table-dscot td{
     
      word-break: break-all;
  }

#tbody-table-dslinkhinhanh td{
     word-break: break-all;
}
/* #tbody-table-dslinkhinhanh::-webkit-scrollbar {
      display: none;
} */
.BC_header td{
    height: 46px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    word-break: break-all;
   

}
.BC_header tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    white-space: nowrap;
  }
#tbody td{
     word-break: break-all;
  }
#tbody::-webkit-scrollbar {
    display: none;
}
#giaodien_trangchu::-webkit-scrollbar{
    width:10px;
    background-color:#cccccc;
} 
#giaodien_trangchu::-webkit-scrollbar-thumb{
    background-color:#343a40;
    border-radius:10px;
}
#giaodien_trangchu::-webkit-scrollbar-track{
    border:1px gray solid;
    border-radius:10px;
} 
ul{
    list-style: none;
    
}
