/* HINH ANH COT */
div.gallery {
    padding: 0px;
    border: 1px solid #ccc;
    float: left;
    width: 50%;
    color: yellow;
    font-size: 11px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    object-fit: cover;
}

/* HINH ANH KHACH HANG */
div.gallery_khachhang {
    padding: 0px;
    border: 1px solid #ccc;
    float: left;
    width: 25%;
}

div.gallery_khachhang:hover {
    border: 1px solid #777;
}

div.gallery_khachhang img {
    width: 100%;
    height: auto;
}

