// Logout Modal
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Bạn thật sự muốn rời khỏi trang này?
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        | Nhấn đồng ý để đăng xuất khỏi trang EVNCPC TTKH.
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
        a.btn.btn-primary(href='/login') Đồng Ý
